In [3]:
import json
import pickle
import os
import pandas as pd
import numpy as np
from tqdm import tqdm

In [18]:
data_dir = "./severity_dumps/"
filenames = os.listdir(data_dir)
filenames

['ta_joe_severity_r4',
 'ta_negin_severity_r5',
 'ta_sanjna_severity_r4_review',
 'ta_joe_severity_r1',
 'ta_xiaoyan_severity_r6',
 'ta_jillian_severity_r2',
 'ta_negin_severity_r4_review',
 'ta_xiaoyan_severity_r6_review',
 'ta_joe_severity_r2',
 'ta_xiaoyan_severity_r3',
 'ta_xiaoyan_severity_r5',
 'ta_sanjna_severity_r1',
 'ta_nour_severity_r1',
 'ta_joe_target_severity_r3',
 'ta_sanjna_severity_r3',
 'ta_sanjna_severity_r6_review',
 'ta_sanjna_severity_r2',
 'ta_mcgill_severity_r4_review',
 'ta_sanjna_severity_r4',
 'ta_nour_severity_r2',
 'ta_negin_severity_r1',
 'ta_sanjna_severity_r5',
 'ta_jillian_severity_r1',
 'ta_sanjna_severity_r6',
 'ta_negin_severity_r3',
 'ta_xiaoyan_severity_r1',
 'ta_joe_severity_training_r1',
 'ta_xiaoyan_severity_r4_review',
 'ta_xiaoyan_severity_r4',
 'ta_xiaoyan_severity_r2',
 'ta_joe_severity_r3',
 'ta_negin_severity_r4',
 'ta_negin_severity_r2']

#### Loading annotations and cleaning unwanted columns

In [11]:
def load_ds_by_keyword(data_dir, keyword, cols=['text', 'meta', 'label', 'accept', 'answer']):
    filenames = os.listdir(data_dir)
    filtered_fns = [name for name in filenames if keyword in name]
    datasets = {}
    for filename in filtered_fns:
        ds = pd.DataFrame(pickle.load(open(os.path.join(data_dir, filename), "rb")))
        datasets[filename] = ds
#         print(ds.columns)
#         print("{} has {} annotations".format(filename, len(datasets[filename])))
    return datasets

In [71]:
# Cleaning annotations
round_data_dict = {}
for i in tqdm(range(1, 7)):
    round_title = "r"+str(i)
    round_data_dict[round_title] = load_ds_by_keyword(data_dir, round_title)
    keys_to_pop = []
    for annotator_file in round_data_dict[round_title].keys():
#         print(annotator_file)
    
        if len(annotator_file.split("_"))>4:
            print("*"*20)
            print("skipping {}".format(annotator_file))
            print("*"*20)
            keys_to_pop.append(annotator_file)
            continue
        
        curr_df = round_data_dict[round_title][annotator_file] 
        if "meta" not in curr_df.columns:
            print("*"*20)
            print("{} has no meta but has {} records".format(annotator_file, len(curr_df)))
            print("*"*20)
            keys_to_pop.append(annotator_file)
            continue
        tweet_ids = [item["tweet_id"] for item in curr_df["meta"]]
        curr_df["tweet_id"] = tweet_ids
        annotator = annotator_file.split("_")[1]
        curr_df["annotator"] = [annotator]*len(curr_df)
        curr_df["round"] = [round_title]*len(curr_df)

        round_data_dict[round_title][annotator_file] = curr_df[["tweet_id", "annotator", "round", "text", "label", "accept"]]
    for key in keys_to_pop:
        round_data_dict[round_title].pop(key)

100%|██████████| 6/6 [00:00<00:00, 25.72it/s]

********************
skipping ta_joe_severity_training_r1
********************
********************
skipping ta_joe_target_severity_r3
********************
********************
ta_joe_severity_r3 has no meta but has 0 records
********************
********************
skipping ta_sanjna_severity_r4_review
********************
********************
skipping ta_negin_severity_r4_review
********************
********************
skipping ta_mcgill_severity_r4_review
********************
********************
skipping ta_xiaoyan_severity_r4_review
********************
********************
ta_negin_severity_r5 has no meta but has 0 records
********************
********************
ta_xiaoyan_severity_r5 has no meta but has 0 records
********************
********************
ta_sanjna_severity_r5 has no meta but has 0 records
********************
********************
skipping ta_xiaoyan_severity_r6_review
********************
********************
skipping ta_sanjna_severity_r6_review
********************

#### Merging all rounds into a single dataframe

In [105]:
round_data_dict["r1"]["ta_xiaoyan_severity_r1"]
# get all in nested lists
data_dfs = [[round_data_dict[r][f] for f in round_data_dict[r]] for r in round_data_dict]
# flatten
data_dfs = [val for sublist in data_dfs for val in sublist]
annotations_df = pd.concat(data_dfs)
annotations_df

,tweet_id,annotator,round,text,label,accept
0,925856978475171841,joe,r1,Here we go again. Yet another LIBERAL accused ...,1,[6]
1,930292240416731137,joe,r1,I remember when everyone was dickriding -JOHN ...,1,"[1, 7]"
2,918439998898294784,joe,r1,"I'm a Matt Damon fan, can't even believe he wa...",1,"[1, 2]"
3,921475052125614080,joe,r1,Darn it. I was hoping a generation of tech emp...,1,"[1, 3]"
4,929109853267746818,joe,r1,"Moore, <OTHER TARGET 2>, -JOHN DOE-, Mueller, ...",1,"[1, 4]"
...,...,...,...,...,...,...
286,928886595159232512,sanjna,r6,Not -JOHN DOE- too! I'm not having it.,1,[1]
287,928633094600568837,sanjna,r6,Feel dead guilty for naming our seagull after ...,1,[3]
288,929020088321110017,sanjna,r6,Everybody knows about -JOHN DOE- and he treats...,1,[1]
289,928886595159232512,sanjna,r6,Not -JOHN DOE- too! I'm not having it.,1,[1]
290,928633094600568837,sanjna,r6,Feel dead guilty for naming our seagull after ...,1,[3]

#### mean vote

In [117]:
rows = []
for idx, group in  annotations_df.groupby("tweet_id"):
    row = {}
    row["tweet_id"] = idx
    row["round"] = group["round"].unique()[0]
    row["text"] = list(group["text"])[0]
    
    print(idx)
    print(group["accept"])
    ratings = []
    for accept in group["accept"]:
        if len(accept)>1:
            if "hard_to_parse" in accept:
                accept.remove("hard_to_parse")
            if accept[0] == 1 and len(accept)>1:
                rating =  int(accept[1])
            elif len(accept) == 1:
                rating = int(accept[0])
            else:
                continue
        
        else:
            if "hard_to_parse" not in accept and len(accept)>=1:
                rating = int(accept[0])
        ratings.append(rating)
    print(ratings)
    avg_rating = round(np.average(ratings))
    row["rounded_avg_severity"] = avg_rating
    print("avg = {}".format(avg_rating))
    rows.append(row)

916015738175082496
162    [3]
167    [7]
172    [6]
Name: accept, dtype: object
[3, 7, 6]
avg = 5
916025460156518401
646    [5]
651    [5]
669    [4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
916037936516337665
144    [1]
149    [7]
154    [6]
Name: accept, dtype: object
[1, 7, 6]
avg = 5
916044166596935680
651    [7]
656    [8]
674    [7]
Name: accept, dtype: object
[7, 8, 7]
avg = 7
916055010240270337
140    [6]
145    [7]
150    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
916061337561849857
249    [5]
24     [5]
29     [4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
916092718979469312
649    [6]
654    [6]
672    [5]
Name: accept, dtype: object
[6, 6, 5]
avg = 6
916125672547942400
638    [4]
643    [4]
661    [5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
916320296738721792
143    [5]
148    [8]
153    [6]
Name: accept, dtype: object
[5, 8, 6]
avg = 6
916340122420903936
110    [1, 7]
100    [1, 6]
110    [1, 7]
110    [1, 7]
44     [1, 7]
110    [1, 5]
Name: accept, dtype: object
[7, 6, 7, 7, 7, 5]
avg = 6
916343719598678017
247    [5]
22     [3]
27     [5]
Name: accept, dtype: object
[5, 3, 5]
avg = 4
916379564657410048
245    [5]
285    [4]
284    [4]
Name: accept, dtype: object
[5, 4, 4]
avg = 4
916393333278203907
640    [4]
645    [4]
663    [3]
Name: accept, dtype: object
[4, 4, 3]
avg = 4
916402726426132481
19    [1, 7]
19    [1, 8]
19    [1, 9]
Name: accept, dtype: object
[7, 8, 9]
avg = 8
916403316170432513
159    [6]
164    [6]
169    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
916415676578897920
345    [5]
764    [6]
363    [7]
Name: accept, dtype: object
[5, 6, 7]
avg = 6
916423698625699840
146    [1, 7]
136    [1, 5]
146    [1, 8]
146    [1, 8]
146    [1, 6]
118    [1, 6]
Name: accept, dtype: object
[7, 5, 8, 8, 6, 6]
avg = 7
916444358303510528
15    [1, 1]
15    [1, 3]
15    [1, 5]
15    [1, 4]
Name: accept, dtype: object
[1, 3, 5, 4]
avg = 3
916444538843131913
134    [1, 4]
124    [1, 4]
134    [1, 6]
134    [1, 7]
134    [1, 3]
106       [1]
Name: accept, dtype: object
[4, 4, 6, 7, 3, 1]
avg = 4
916444956822261762
160    [3]
165    [6]
170    [6]
Name: accept, dtype: object
[3, 6, 6]
avg = 5
916461984803119104
652    [4]
657    [5]
675    [4]
Name: accept, dtype: object
[4, 5, 4]
avg = 4
916464591307120642
639    [6]
644    [7]
662    [6]
Name: accept, dtype: object
[6, 7, 6]
avg = 6
916476083020750849
648    [7]
653    [4]
671    [4]
Name: accept, dtype: object
[7, 4, 4]
avg = 5
916483781422452736
642    [4]
647    [7]
665    [6]
Name: accept, dtype: object
[4, 7, 6]
avg = 6
916488662308802560
650    [7]
655    [6]
673    [3]
Name: accept, dtype: object
[7, 6, 3]
avg = 5
916494917630754818
163    [8]
168    [8]
173    [8]
Name: accept, dtype: object
[8, 8, 8]
avg = 8
916505786209193984
161    [2]
166    [5]
171    [4]
Name: accept, dtype: object
[2, 5, 4]
avg = 4
916539466939895809
268    [4]
269    [4]
268    [2]
269    [2]
266    [2]
267    [2]
Name: accept, dtype: object
[4, 4, 2, 2, 2, 2]
avg = 3
916630814443622400
169    [1]
174    [5]
179    [6]
Name: accept, dtype: object
[1, 5, 6]
avg = 4
916655887544135681
167    [3]
172    [8]
177    [6]
Name: accept, dtype: object
[3, 8, 6]
avg = 6
916657638565466114
30    [7]
35    [6]
40    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
916658673673560064
81    [1, 3]
71    [1, 2]
81    [1, 4]
81    [1, 5]
81    [1, 3]
53    [1, 3]
Name: accept, dtype: object
[3, 2, 4, 5, 3, 3]
avg = 3
916664308406333446
168    [6]
173    [4]
178    [6]
Name: accept, dtype: object
[6, 4, 6]
avg = 5
916666134975401984
65    [8]
79    [3]
Name: accept, dtype: object
[8, 3]
avg = 6
916670443804864513
165    [4]
170    [4]
175    [6]
Name: accept, dtype: object
[4, 4, 6]
avg = 5
916676504037203969
535    [4]
536    [4]
545    [7]
546    [7]
565    [4]
566    [4]
Name: accept, dtype: object
[4, 4, 7, 7, 4, 4]
avg = 5
916683012422676481
644    [3]
649    [5]
667    [5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
916686087409553408
166    [2]
171    [5]
176    [4]
Name: accept, dtype: object
[2, 5, 4]
avg = 4
916702161890873344
114    [1, 6]
104    [1, 5]
114    [1, 4]
114    [1, 6]
48     [1, 4]
114    [1, 2]
Name: accept, dtype: object
[6, 5, 4, 6, 4, 2]
avg = 4
916705725237227520
332    [7]
352    [4]
350    [4]
Name: accept, dtype: object
[7, 4, 4]
avg = 5
916705976799113216
164    [6]
169    [7]
174    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
916706672675930112
118    [6]
132    [5]
Name: accept, dtype: object
[6, 5]
avg = 6
916709961362788353
282    [4]
282    [4]
280    [3]
Name: accept, dtype: object
[4, 4, 3]
avg = 4
916735251401101320
34    [1, 4]
24    [1, 1]
34    [1, 7]
34    [1, 6]
34    [1, 3]
15    [1, 3]
Name: accept, dtype: object
[4, 1, 7, 6, 3, 3]
avg = 4
916739437677219840
17    [1, 1]
17    [1, 2]
17    [1, 1]
17    [1, 3]
Name: accept, dtype: object
[1, 2, 1, 3]
avg = 2
916753861766983680
270    [4]
270    [3]
268    [2]
Name: accept, dtype: object
[4, 3, 2]
avg = 3
916760610616070144
119    [1, 3]
109    [1, 3]
119    [1, 5]
119    [1, 4]
119    [1, 7]
Name: accept, dtype: object
[3, 3, 5, 4, 7]
avg = 4
916762067662667776
116    [7]
130    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
916771059004837888
645    [3]
650    [5]
668    [4]
Name: accept, dtype: object
[3, 5, 4]
avg = 4
916774605121097728
142    [1, 6]
132    [1, 5]
142    [1, 7]
142    [1, 9]
142    [1, 7]
114    [1, 6]
Name: accept, dtype: object
[6, 5, 7, 9, 7, 6]
avg = 7
916782352709365760
153    [4]
158    [6]
163    [6]
Name: accept, dtype: object
[4, 6, 6]
avg = 5
916786864480227328
20    [4]
25    [5]
30    [6]
Name: accept, dtype: object
[4, 5, 6]
avg = 5
916792652192014336
647    [6]
652    [5]
670    [6]
Name: accept, dtype: object
[6, 5, 6]
avg = 6
916805535747465216
641    [5]
646    [6]
664    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
916806782109999104
117    [3]
131    [2]
Name: accept, dtype: object
[3, 2]
avg = 2
917111284457463814
91    [1, 4]
Name: accept, dtype: object
[4]
avg = 4
917442303064723457
115    [6]
129    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
917698077884059649
65       [2]
65    [1, 2]
Name: accept, dtype: object
[2, 2]
avg = 2
917825861021081600
563    [6]
573    [6]
593    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
917875737583017984
82    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
917894627352612864
566    [6]
576    [6]
596    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
917907624485535744
81    [5]
86    [7]
91    [5]
Name: accept, dtype: object
[5, 7, 5]
avg = 6
917938122561900546
74    [2]
79    [6]
84    [5]
Name: accept, dtype: object
[2, 6, 5]
avg = 4
918120401309519872
79    [6]
84    [6]
89    [8]
Name: accept, dtype: object
[6, 6, 8]
avg = 7
918167294529781760
77    [1]
82    [4]
87    [4]
Name: accept, dtype: object
[1, 4, 4]
avg = 3
918172597686239235
75    [6]
80    [7]
85    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
918185913943035904
636    [7]
641    [6]
659    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
918189101110693889
560    [2]
570    [7]
590    [5]
Name: accept, dtype: object
[2, 7, 5]
avg = 5
918190507737649152
144    [1, 8]
134    [1, 6]
144    [1, 6]
144    [1, 7]
66     [1, 6]
144    [1, 5]
Name: accept, dtype: object
[8, 6, 6, 7, 6, 5]
avg = 6
918194079451684864
65    [8]
70    [8]
75    [8]
Name: accept, dtype: object
[8, 8, 8]
avg = 8
918196604678553600
76    [3]
81    [6]
86    [7]
Name: accept, dtype: object
[3, 6, 7]
avg = 5
918198263005708290
567    [8]
577    [6]
597    [5]
Name: accept, dtype: object
[8, 6, 5]
avg = 6
918205223461638144
569                [4]
579                [2]
599    [hard_to_parse]
Name: accept, dtype: object
[4, 2, 2]
avg = 3
918224386318131205
145    [4]
146    [4]
150    [6]
151    [6]
155    [7]
156    [7]
Name: accept, dtype: object
[4, 4, 6, 6, 7, 7]
avg = 6
918229884635373568
68    [5]
73    [4]
78    [5]
Name: accept, dtype: object
[5, 4, 5]
avg = 5
918231401086021632
82    [5]
87    [6]
92    [7]
Name: accept, dtype: object
[5, 6, 7]
avg = 6
918245730770440193
568    [6]
578    [6]
598    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
918251922464833538
564    [3]
574    [3]
594    [4]
Name: accept, dtype: object
[3, 3, 4]
avg = 3
918258671238438912
20    [1, 3]
10    [1, 1]
20    [1, 1]
20    [1, 1]
20    [1, 3]
6     [1, 2]
Name: accept, dtype: object
[3, 1, 1, 1, 3, 2]
avg = 2
918259460010860544
80    [5]
85    [6]
90    [7]
Name: accept, dtype: object
[5, 6, 7]
avg = 6
918262847796404224
72    [3]
77    [6]
82    [6]
Name: accept, dtype: object
[3, 6, 6]
avg = 5
918268286898339840
561    [4]
571    [6]
591    [5]
Name: accept, dtype: object
[4, 6, 5]
avg = 5
918290004882857984
39    [1, 8]
29    [1, 8]
39    [1, 9]
39    [1, 7]
39    [1, 5]
20    [1, 7]
Name: accept, dtype: object
[8, 8, 9, 7, 5, 7]
avg = 7
918312095669800960
158    [2]
163    [4]
168    [5]
Name: accept, dtype: object
[2, 4, 5]
avg = 4
918359215353335809
78    [1]
83    [4]
88    [4]
Name: accept, dtype: object
[1, 4, 4]
avg = 3
918392108364500993
62    [2]
67    [3]
72    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
918439998898294784
2    [1, 2]
2    [1, 2]
2    [1, 4]
7    [1, 2]
2    [1, 2]
2    [1, 2]
Name: accept, dtype: object
[2, 2, 4, 2, 2, 2]
avg = 2
918443288440508417
565    [5]
575    [5]
595    [4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
918470302798987264
25    [1, 7]
26    [1, 7]
15    [1, 5]
16    [1, 5]
25    [1, 8]
26    [1, 8]
25    [1, 6]
26    [1, 6]
12    [1, 6]
13    [1, 6]
25    [1, 7]
26    [1, 7]
Name: accept, dtype: object
[7, 7, 5, 5, 8, 8, 6, 6, 6, 6, 7, 7]
avg = 6
918502430119211009
25    [1, 1]
26    [1, 1]
15    [1, 2]
16    [1, 2]
25    [1, 3]
26    [1, 3]
25    [1, 6]
26    [1, 6]
25    [1, 1]
26    [1, 1]
Name: accept, dtype: object
[1, 1, 2, 2, 3, 3, 6, 6, 1, 1]
avg = 3
918509384711507969
66    [7]
67    [7]
71    [7]
72    [7]
76    [7]
77    [7]
Name: accept, dtype: object
[7, 7, 7, 7, 7, 7]
avg = 7
918513874453721088
69    [1]
70    [1]
74    [2]
75    [4]
79    [4]
80    [4]
Name: accept, dtype: object
[1, 1, 2, 4, 4, 4]
avg = 3
918539124004532225
71    [5]
76    [7]
81    [6]
Name: accept, dtype: object
[5, 7, 6]
avg = 6
918550792159809536
68    [1, 8]
58    [1, 7]
68    [1, 6]
68    [1, 7]
68    [1, 5]
Name: accept, dtype: object
[8, 7, 6, 7, 5]
avg = 7
918553088767725573
63    [3]
64    [3]
68    [5]
69    [5]
73    [6]
74    [6]
Name: accept, dtype: object
[3, 3, 5, 5, 6, 6]
avg = 5
918569261005721602
99    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
918581203707551745
562    [6]
572    [5]
592    [5]
Name: accept, dtype: object
[6, 5, 5]
avg = 5
918583139257192450
61    [3]
66    [4]
71    [4]
Name: accept, dtype: object
[3, 4, 4]
avg = 4
918586235240747010
73    [1]
78    [5]
83    [4]
Name: accept, dtype: object
[1, 5, 4]
avg = 3
918608645629214720
25    [1, 5]
25    [1, 5]
25    [1, 4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
918616200552251394
541    [4]
542    [5]
551    [3]
552    [3]
571    [5]
572    [5]
Name: accept, dtype: object
[4, 5, 3, 3, 5, 5]
avg = 4
918616246362497024
26    [1, 2]
27    [1, 2]
26    [1, 5]
27    [1, 5]
26    [1, 3]
27    [1, 3]
Name: accept, dtype: object
[2, 2, 5, 5, 3, 3]
avg = 3
918624786829291522
41    [1, 6]
42    [1, 5]
31    [1, 3]
32    [1, 2]
41    [1, 5]
42    [1, 5]
41    [1, 6]
42    [1, 6]
41    [1, 3]
42    [1, 3]
22    [1, 5]
23    [1, 5]
Name: accept, dtype: object
[6, 5, 3, 2, 5, 5, 6, 6, 3, 3, 5, 5]
avg = 4
918635754829512705
538    [6]
548    [4]
568    [6]
Name: accept, dtype: object
[6, 4, 6]
avg = 5
918640063017185280
528    [4]
529    [4]
538    [6]
539    [6]
558    [6]
559    [6]
Name: accept, dtype: object
[4, 4, 6, 6, 6, 6]
avg = 5
918648533548400640
534    [5]
544    [4]
564    [5]
Name: accept, dtype: object
[5, 4, 5]
avg = 5
918650294073880576
524    [4]
534    [6]
554    [6]
Name: accept, dtype: object
[4, 6, 6]
avg = 5
918652023376986112
19    [1, 2]
19       [1]
19    [1, 7]
19    [1, 3]
Name: accept, dtype: object
[2, 1, 7, 3]
avg = 3
918652752942845952
522    [5]
523    [5]
532    [6]
533    [6]
552    [5]
553    [5]
Name: accept, dtype: object
[5, 5, 6, 6, 5, 5]
avg = 5
918668552294371328
199    [2]
229    [5]
Name: accept, dtype: object
[2, 5]
avg = 4
918674947190300672
539    [6]
540    [6]
549    [3]
550    [3]
569    [7]
570    [7]
Name: accept, dtype: object
[6, 6, 3, 3, 7, 7]
avg = 5
918687782301704192
195    [6]
225    [3]
Name: accept, dtype: object
[6, 3]
avg = 4
918700245319434241
543    [6]
553    [7]
573    [6]
Name: accept, dtype: object
[6, 7, 6]
avg = 6
918787283607621632
530    [8]
540    [7]
560    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
918787686818893829
73    [1, 3]
63    [1, 1]
73    [1, 2]
73    [1, 3]
73    [1, 3]
Name: accept, dtype: object
[3, 1, 2, 3, 3]
avg = 2
918825509412392961
143    [1, 7]
133    [1, 7]
143    [1, 8]
143    [1, 8]
143    [1, 5]
115    [1, 7]
Name: accept, dtype: object
[7, 7, 8, 8, 5, 7]
avg = 7
918845569904254976
196    [8]
226    [7]
Name: accept, dtype: object
[8, 7]
avg = 8
918890160028372992
129    [1, 5]
119    [1, 8]
129    [1, 3]
129    [1, 6]
129    [1, 7]
101    [1, 7]
Name: accept, dtype: object
[5, 8, 3, 6, 7, 7]
avg = 6
918896067676078080
531    [7]
532    [7]
533    [7]
541    [6]
542    [6]
543    [6]
561    [7]
562    [7]
563    [7]
Name: accept, dtype: object
[7, 7, 7, 6, 6, 6, 7, 7, 7]
avg = 7
918940616364560385
194    [4]
224    [5]
Name: accept, dtype: object
[4, 5]
avg = 4
918956357717495808
198    [8]
228    [7]
Name: accept, dtype: object
[8, 7]
avg = 8
918987978160181248
197    [2]
227    [6]
Name: accept, dtype: object
[2, 6]
avg = 4
919029409805250560
537    [5]
547    [6]
567    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
919056357969612801
525    [3]
526    [3]
527    [3]
535    [5]
536    [5]
537    [5]
555    [5]
556    [5]
557    [5]
Name: accept, dtype: object
[3, 3, 3, 5, 5, 5, 5, 5, 5]
avg = 4
920113991296389120
8    [1, 6]
8    [1, 3]
8    [1, 5]
8    [1, 3]
8    [1, 4]
Name: accept, dtype: object
[6, 3, 5, 3, 4]
avg = 4
920124411449151493
559    [8]
569    [7]
589    [6]
Name: accept, dtype: object
[8, 7, 6]
avg = 7
920294755795456000
155    [1, 8]
145    [1, 7]
155    [1, 8]
77     [1, 8]
155    [1, 5]
1      [1, 7]
1      [1, 8]
1      [1, 5]
Name: accept, dtype: object
[8, 7, 8, 8, 5, 7, 8, 5]
avg = 7
920337528930033664
103    [1, 7]
93     [1, 6]
103    [1, 8]
103    [1, 7]
37     [1, 6]
103    [1, 4]
Name: accept, dtype: object
[7, 6, 8, 7, 6, 4]
avg = 6
920398067140124672
63    [1, 7]
53    [1, 1]
63    [1, 8]
63    [1, 6]
63    [1, 5]
Name: accept, dtype: object
[7, 1, 8, 6, 5]
avg = 5
920559111061889024
57    [1, 8]
47    [1, 7]
57    [1, 7]
57    [1, 7]
57    [1, 4]
Name: accept, dtype: object
[8, 7, 7, 7, 4]
avg = 7
920640591079321600
32    [6]
37    [4]
42    [5]
Name: accept, dtype: object
[6, 4, 5]
avg = 5
920805929959931904
521                [7]
531                [6]
551    [hard_to_parse]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
920813396827631616
170    [1, 3]
160       [2]
170    [1, 4]
170    [1, 6]
170    [1, 6]
129    [1, 3]
Name: accept, dtype: object
[3, 2, 4, 6, 6, 3]
avg = 4
920866304659111936
196    [1, 2]
196    [1, 6]
196    [1, 5]
Name: accept, dtype: object
[2, 6, 5]
avg = 4
921029319929016320
678    [3]
683    [5]
701    [3]
Name: accept, dtype: object
[3, 5, 3]
avg = 4
921037903400185860
676    [8]
681    [9]
699    [6]
Name: accept, dtype: object
[8, 9, 6]
avg = 8
921046426498498561
40    [2]
45    [3]
50    [6]
Name: accept, dtype: object
[2, 3, 6]
avg = 4
921127367178776576
680    [4]
750    [4]
703    [2]
Name: accept, dtype: object
[4, 4, 2]
avg = 3
921142744881475586
682    [9]
752    [7]
705    [7]
Name: accept, dtype: object
[9, 7, 7]
avg = 8
921142917271392256
191    [3]
196    [5]
201    [4]
Name: accept, dtype: object
[3, 5, 4]
avg = 4
921147969008750592
681    [3]
751    [5]
704    [2]
Name: accept, dtype: object
[3, 5, 2]
avg = 3
921149589209542656
679    [3]
684    [7]
702    [2]

Name: accept, dtype: object
[3, 7, 2]
avg = 4
921164633406353408
514    [4]
524    [2]
544    [2]
Name: accept, dtype: object
[4, 2, 2]
avg = 3
921173867908956160
509    [1]
519    [2]
539    [3]
Name: accept, dtype: object
[1, 2, 3]
avg = 2
921181027451543557
193    [4]
223    [3]
Name: accept, dtype: object
[4, 3]
avg = 4
921183431379378176
21    [1, 7]
22    [1, 7]
11    [1, 2]
12    [1, 2]
21    [1, 7]
22    [1, 7]
21    [1, 6]
22    [1, 6]
21    [1, 5]
22    [1, 5]
7     [1, 4]
8     [1, 4]
Name: accept, dtype: object
[7, 7, 2, 2, 7, 7, 6, 6, 5, 5, 4, 4]
avg = 5
921189169786888192
515    [7]
525    [7]
545    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
921197902013386752
55    [1, 3]
90    [1, 6]
Name: accept, dtype: object
[3, 6]
avg = 4
921199240092835840
195    [3]
200    [4]
205    [2]
Name: accept, dtype: object
[3, 4, 2]
avg = 3
921217436757630976
72    [1, 5]
62       [2]
72    [1, 6]
72    [1, 5]
23    [1, 2]
72    [1, 7]
Name: accept, dtype: object
[5, 2, 6, 5, 2, 7]
avg = 4
921225593298886657
131    [1, 2]
121    [1, 4]
131    [1, 5]
131    [1, 7]
131    [1, 5]
103    [1, 3]
Name: accept, dtype: object
[2, 4, 5, 7, 5, 3]
avg = 4
921227086408269825
78    [1, 6]
68    [1, 4]
78    [1, 4]
78    [1, 5]
78    [1, 6]
Name: accept, dtype: object
[6, 4, 4, 5, 6]
avg = 5
921236926220328961
140    [1, 5]
130    [1, 3]
140    [1, 2]
140    [1, 6]
62     [1, 6]
140    [1, 4]
Name: accept, dtype: object
[5, 3, 2, 6, 6, 4]
avg = 4
921243532089729024
110    [1, 4]
100    [1, 7]
110    [1, 6]
110    [1, 7]
110    [1, 5]
82     [1, 6]
Name: accept, dtype: object
[4, 7, 6, 7, 5, 6]
avg = 6
921251104863739905
677    [5]
682    [5]
700    [3]
Name: accept, dtype: object
[5, 5, 3]
avg = 4
921251385433260032
51    [1, 3]
41    [1, 1]
51    [1, 1]
51    [1, 3]
51    [1, 4]
Name: accept, dtype: object
[3, 1, 1, 3, 4]
avg = 2
921255738902585344
685    [6]
686    [8]
708    [3]
Name: accept, dtype: object
[6, 8, 3]
avg = 6
921274680811638786
513    [5]
523    [5]
543    [5]
Name: accept, dtype: object
[5, 5, 5]
avg = 5
921294677633929216
38    [1, 3]
28    [1, 1]
38    [1, 2]
38    [1, 2]
38    [1, 5]
Name: accept, dtype: object
[3, 1, 2, 2, 5]
avg = 3
921304912809676800
16    [1, 3]
16    [1, 1]
16    [1, 3]
Name: accept, dtype: object
[3, 1, 3]
avg = 2
921330692944027648
193    [3]
198    [2]
203    [3]
Name: accept, dtype: object
[3, 2, 3]
avg = 3
921342734375505921
686    [2]
687    [6]
709    [4]
Name: accept, dtype: object
[2, 6, 4]
avg = 4
921356554212990976
31    [1, 2]
31    [1, 5]
Name: accept, dtype: object
[2, 5]
avg = 4
921364393371275264
196    [5]
201    [4]
206    [7]
Name: accept, dtype: object
[5, 4, 7]
avg = 5
921366420298006530
516    [3]
526    [5]
546    [2]
Name: accept, dtype: object
[3, 5, 2]
avg = 3
921392369387343872
192    [7]
197    [7]
202    [5]
Name: accept, dtype: object
[7, 7, 5]
avg = 6
921396854159486977
511    [4]
512    [4]
521    [6]
522    [6]
541    [5]
542    [5]
Name: accept, dtype: object
[4, 4, 6, 6, 5, 5]
avg = 5
921401364072165376
55    [1]
60    [4]
65    [4]
Name: accept, dtype: object
[1, 4, 4]
avg = 3
921408567252529152
519    [5]
529    [6]
549    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
921427348192419840
98    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
921451262121476096
510    [2]
520    [2]
540    [2]
Name: accept, dtype: object
[2, 2, 2]
avg = 2
921452163263553536
194    [4]
199    [5]
204    [7]
Name: accept, dtype: object
[4, 5, 7]
avg = 5
921475052125614080
3    [1, 3]
3    [1, 3]
3    [1, 5]
2    [1, 3]
3    [1, 1]
3    [1, 4]
Name: accept, dtype: object
[3, 3, 5, 3, 1, 4]
avg = 3
921486349185814529
520    [4]
530    [7]
550    [3]
Name: accept, dtype: object
[4, 7, 3]
avg = 5
921513526820327424
32    [1, 2]
41    [1, 6]
41    [1, 5]
Name: accept, dtype: object
[2, 6, 5]
avg = 4
921518067112448001
683    [7]
753    [6]
706    [6]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
921527762065723393
245    [4]
20     [6]
25     [5]
Name: accept, dtype: object
[4, 6, 5]
avg = 5
921533948773138432
185       [2]
185    [1, 6]
185       [1]
185    [1, 5]
137    [1, 3]
Name: accept, dtype: object
[2, 6, 1, 5, 3]
avg = 3
921536394799050752
684    [7]
685    [6]
707    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
921578545104736261
35       [2]
35    [1, 4]
Name: accept, dtype: object
[2, 4]
avg = 3
921743046508769280
55    [1, 4]
45    [1, 1]
55       [3]
55    [1, 4]
55    [1, 3]
Name: accept, dtype: object
[4, 1, 3, 4, 3]
avg = 3
921776738429833216
518    [5]
528    [6]
548    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
921784230295822338
84    [1, 7]
74    [1, 2]
84    [1, 7]
84    [1, 6]
28    [1, 7]
84    [1, 4]
Name: accept, dtype: object
[7, 2, 7, 6, 7, 4]
avg = 6
921791887077408768
24    [1, 4]
24    [1, 7]
24    [1, 4]
Name: accept, dtype: object
[4, 7, 4]
avg = 5
921805826448351232
113    [1, 7]
103    [1, 4]
113    [1, 7]
113    [1, 6]
47     [1, 6]
113    [1, 5]
Name: accept, dtype: object
[7, 4, 7, 6, 6, 5]
avg = 6
921859512226721792
218    [6]
248    [2]
Name: accept, dtype: object
[6, 2]
avg = 4
921859538784960512
517    [7]
527    [6]
547    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
921885997775781889
123    [1, 5]
113    [1, 3]
123    [1, 4]
123    [1, 5]
123    [1, 3]
Name: accept, dtype: object
[5, 3, 4, 5, 3]
avg = 4
921917478552338432
222    [6]
252    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
921963041239027712
4    [1, 7]
4    [1, 6]
4    [1, 6]
4    [1, 7]
4    [1, 4]
Name: accept, dtype: object
[7, 6, 6, 7, 4]
avg = 6
922073122638938113
9    [1, 7]
9    [1, 8]
9    [1, 9]
9    [1, 7]
9    [1, 8]
Name: accept, dtype: object
[7, 8, 9, 7, 8]
avg = 8
922086410684911616
224    [2]
254    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
922088915888234496
111    [2]
125    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
922092696319209473
216    [6]
246    [2]
Name: accept, dtype: object
[6, 2]
avg = 4
922093780077031425
389    [1]
400    [5]
407    [6]
Name: accept, dtype: object
[1, 5, 6]
avg = 4
922119114637955072
106    [1]
120    [2]
Name: accept, dtype: object
[1, 2]
avg = 2
922121631014772739
159    [1, 2]
149    [1, 3]
159    [1, 2]
159    [1, 7]
159    [1, 2]
Name: accept, dtype: object
[2, 3, 2, 7, 2]
avg = 3
922123392693800960
95     [5]
109    [6]
Name: accept, dtype: object
[5, 6]
avg = 6
922125095434297345
390    [7]
401    [1]
408    [7]
Name: accept, dtype: object
[7, 1, 7]
avg = 5
922128545199075329
393    [5]
404    [6]
411    [7]
Name: accept, dtype: object
[5, 6, 7]
avg = 6
922139356780830720
396    [6]
397    [6]
407    [7]
408    [7]
414    [6]
415    [6]
Name: accept, dtype: object
[6, 6, 7, 7, 6, 6]
avg = 6
922143190731419648
386    [4]
387    [4]
397    [4]
398    [4]
404    [3]
405    [3]
Name: accept, dtype: object
[4, 4, 4, 4, 3, 3]
avg = 4
922151423416176641
150    [1, 6]
140    [1, 5]
150    [1, 6]
150    [1, 7]
150    [1, 5]
122    [1, 6]
Name: accept, dtype: object
[6, 5, 6, 7, 5, 6]
avg = 6
922155100742791168
96     [6]
110    [3]
Name: accept, dtype: object
[6, 3]
avg = 4
922158661085962240
78    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
922160568185733120
103    [4]
117    [1]
Name: accept, dtype: object
[4, 1]
avg = 2
922163253769203712
380    [5]
381    [5]
391    [5]
392    [6]
398    [6]
399    [6]
Name: accept, dtype: object
[5, 5, 5, 6, 6, 6]
avg = 6
922164283118620673
97     [5]
111    [6]
Name: accept, dtype: object
[5, 6]
avg = 6
922173503050305537
219    [2]
249    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
922173642573787136
382    [3]
393    [6]
400    [5]
Name: accept, dtype: object
[3, 6, 5]
avg = 5
922184404318990336
385    [4]
396    [1]
403    [3]
Name: accept, dtype: object
[4, 1, 3]
avg = 3
922192299362267136
81    [1, 2]
71    [1, 4]
81    [1, 2]
81    [1, 3]
25    [1, 4]
81    [1, 5]
Name: accept, dtype: object
[2, 4, 2, 3, 4, 5]
avg = 3
922210136952729600
105    [2]
119    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
922214395618271232
108    [4]
122    [7]
Name: accept, dtype: object
[4, 7]
avg = 6
922236559776030720
31    [1, 9]
21    [1, 7]
31    [1, 9]
31    [1, 9]
18    [1, 8]
31    [1, 4]
Name: accept, dtype: object
[9, 7, 9, 9, 8, 4]
avg = 8
922257803493773313
379    [5]
390    [0]
397    [3]
Name: accept, dtype: object
[5, 0, 3]
avg = 3
922265935238512640
383    [9]
384    [9]
394    [6]
395    [6]
401    [6]
402    [6]
Name: accept, dtype: object
[9, 9, 6, 6, 6, 6]
avg = 7
922268362884964353
99     [3]
113    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
922279133907947520
114    [4]
128    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
922320041294680064
388    [7]
399    [4]
406    [3]
Name: accept, dtype: object
[7, 4, 3]
avg = 5
922450475819126785
107    [8]
121    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
922450606677221376
391    [5]
402    [3]
409    [4]
Name: accept, dtype: object
[5, 3, 4]
avg = 4
922457261183832064
110    [3]
124    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
922473998222528513
98     [4]
112    [4]
Name: accept, dtype: object
[4, 4]
avg = 4
922477689105137664
100    [5]
114    [5]
Name: accept, dtype: object
[5, 5]
avg = 5
922509334520745987
215    [5]
245    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
922517129844477953
223    [6]
253    [2]
Name: accept, dtype: object
[6, 2]
avg = 4
922521299192250368
221    [7]
251    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
922566010372157440
147    [1, 5]
148    [1, 5]
149    [1, 5]
137       [1]
138       [1]
139       [1]
147    [1, 3]
148    [1, 3]
149    [1, 3]
147    [1, 5]
148    [1, 5]
149    [1, 5]
69     [1, 3]
70     [1, 3]
71     [1, 3]
147    [1, 3]
148    [1, 3]
149    [1, 3]
Name: accept, dtype: object
[5, 5, 5, 1, 1, 1, 3, 3, 3, 5, 5, 5, 3, 3, 3, 3, 3, 3]
avg = 3
922589066167705603
220    [6]
250    [7]
Name: accept, dtype: object
[6, 7]
avg = 6
922594258741268480
217    [2]
247    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
922617306043371520
101    [4]
115    [4]
Name: accept, dtype: object
[4, 4]
avg = 4
922682998415417344
102    [3]
116    [2]
Name: accept, dtype: object
[3, 2]
avg = 2
922690690475323394
113    [5]
127    [4]
Name: accept, dtype: object
[5, 4]
avg = 4
922738675527581696
394    [6]
405    [6]
412    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
922872851950133249
74    [1, 4]
64    [1, 2]
74    [1, 1]
74    [1, 5]
74       [2]
Name: accept, dtype: object
[4, 2, 1, 5, 2]
avg = 3
922873212098117632
395    [7]
406    [7]
413    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
922891933298573312
36    [1, 8]
36    [1, 6]
Name: accept, dtype: object
[8, 6]
avg = 7
922904919081963520
191    [1, 8]
191    [1, 9]
191    [1, 8]
191    [1, 8]
143    [1, 8]
Name: accept, dtype: object
[8, 9, 8, 8, 8]
avg = 8
922905371349434368
104    [5]
118    [5]
Name: accept, dtype: object
[5, 5]
avg = 5
922909206709133312
37    [1, 8]
27    [1, 8]
37    [1, 9]
37    [1, 8]
37    [1, 8]
18    [1, 7]
Name: accept, dtype: object
[8, 8, 9, 8, 8, 7]
avg = 8
922910991339290625
109    [5]
123    [7]
Name: accept, dtype: object
[5, 7]
avg = 6
922913669947695104
46    [1, 7]
36    [1, 7]
46    [1, 0]
46    [1, 6]
46    [1, 7]
27    [1, 6]
Name: accept, dtype: object
[7, 7, 0, 6, 7, 6]
avg = 6
922915564477063169
207    [7]
237    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
922919224405737472
79    [1, 8]
69    [1, 7]
79    [1, 8]
79    [1, 7]
79    [1, 6]
Name: accept, dtype: object
[8, 7, 8, 7, 6]
avg = 7
922919893841862656
183    [1, 8]
183    [1, 8]
183    [1, 7]
183    [1, 8]
135    [1, 7]
Name: accept, dtype: object
[8, 8, 7, 8, 7]
avg = 8
922942423457828864
90    [1, 5]
80    [1, 5]
90    [1, 7]
90    [1, 3]
90    [1, 6]
62    [1, 2]
Name: accept, dtype: object
[5, 5, 7, 3, 6, 2]
avg = 5
922946236021317637
57       [1]
47    [1, 6]
57    [1, 8]
57    [1, 6]
56    [1, 7]
38       [1]
Name: accept, dtype: object
[1, 6, 8, 6, 7, 1]
avg = 5
922950788938436610
33    [4]
38    [5]
43    [5]
Name: accept, dtype: object
[4, 5, 5]
avg = 5
922956755570692097
206    [7]
236    [9]
Name: accept, dtype: object
[7, 9]
avg = 8
922965059365511168
184    [1, 9]
184    [1, 9]
184    [1, 6]
184    [1, 8]
136    [1, 7]
Name: accept, dtype: object
[9, 9, 6, 8, 7]
avg = 8
922969612035284993
141    [6]
142    [6]
146    [7]
147    [7]
151    [6]
152    [6]
Name: accept, dtype: object
[6, 6, 7, 7, 6, 6]
avg = 6
922971544854204416
112    [2]
126    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
922982763044720640
108    [1, 2]
98     [1, 2]
108    [1, 5]
108    [1, 5]
108    [1, 5]
80     [1, 6]
Name: accept, dtype: object
[2, 2, 5, 5, 5, 6]
avg = 4
922995440609501184
113    [1, 7]
103    [1, 5]
113    [1, 7]
113    [1, 6]
113    [1, 7]
85     [1, 7]
Name: accept, dtype: object
[7, 5, 7, 6, 7, 7]
avg = 6
923001515488436225
42    [1, 3]
51    [1, 1]
51    [1, 3]
Name: accept, dtype: object
[3, 1, 3]
avg = 2
923001901523726337
70    [1, 0]
60    [1, 0]
70    [1, 0]
70    [1, 0]
70    [1, 0]
51    [1, 9]
Name: accept, dtype: object
[0, 0, 0, 0, 0, 9]
avg = 2
923015049601576962
28    [1, 2]
28    [1, 2]
28    [1, 2]
Name: accept, dtype: object
[2, 2, 2]
avg = 2
923022670660284422
130    [1, 2]
120    [1, 4]
130    [1, 5]
130    [1, 7]
130    [1, 5]
102    [1, 5]
Name: accept, dtype: object
[2, 4, 5, 7, 5, 5]
avg = 5
923025571210321920
203    [4]
233    [3]
Name: accept, dtype: object
[4, 3]
avg = 4
923142124861657089
37    [1, 6]
46    [1, 8]
46    [1, 4]
Name: accept, dtype: object
[6, 8, 4]
avg = 6
923177304381186048
107    [1, 9]
97     [1, 8]
107    [1, 0]
107    [1, 7]
107    [1, 8]
79     [1, 7]
Name: accept, dtype: object
[9, 8, 0, 7, 8, 7]
avg = 6
923180039394312192
197    [1, 6]
197    [1, 7]
197    [1, 8]
Name: accept, dtype: object
[6, 7, 8]
avg = 7
923203443883462656
202    [3]
232    [6]
Name: accept, dtype: object
[3, 6]
avg = 4
923218796705386496
208    [4]
238    [6]
Name: accept, dtype: object
[4, 6]
avg = 5
923223267057586177
64    [1, 6]
54    [1, 3]
64    [1, 6]
64    [1, 6]
64    [1, 2]
Name: accept, dtype: object
[6, 3, 6, 6, 2]
avg = 5
923271626564816896
166    [1, 4]
156    [1, 6]
166    [1, 6]
166    [1, 7]
166    [1, 7]
Name: accept, dtype: object
[4, 6, 6, 7, 7]
avg = 6
923284192636653573
34    [2]
39    [3]
44    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
923290307898130432
205    [7]
235    [4]
Name: accept, dtype: object
[7, 4]
avg = 6
923302508885311489
60    [6]
65    [5]
70    [6]
Name: accept, dtype: object
[6, 5, 6]
avg = 6
923405527895494656
31    [1, 5]
40    [1, 5]
40    [1, 6]
Name: accept, dtype: object
[5, 5, 6]
avg = 5
923406197272825856
47    [4]
61    [5]
Name: accept, dtype: object
[4, 5]
avg = 4
923409973530578944
27    [6]
32    [8]
37    [6]
Name: accept, dtype: object
[6, 8, 6]
avg = 7
923411498663264256
56    [5]
70    [7]
Name: accept, dtype: object
[5, 7]
avg = 6
923415002882621441
62    [3]
76    [3]
Name: accept, dtype: object
[3, 3]
avg = 3
923417689191837697
100    [1, 8]
90     [1, 6]
100    [1, 9]
100    [1, 7]
100    [1, 5]
72     [1, 7]
Name: accept, dtype: object
[8, 6, 9, 7, 5, 7]
avg = 7
923423056709664768
15    [4]
15    [5]
15    [3]
15    [5]
Name: accept, dtype: object
[4, 5, 3, 5]
avg = 4
923427411307380738
308    [2]
328    [4]
326    [2]
Name: accept, dtype: object
[2, 4, 2]
avg = 3
923493783819489280
31    [1, 9]
21    [1, 5]
31    [1, 8]
31    [1, 6]
31    [1, 7]
12    [1, 7]
Name: accept, dtype: object
[9, 5, 8, 6, 7, 7]
avg = 7
923495023072698373
322    [7]
342    [5]
340    [2]
Name: accept, dtype: object
[7, 5, 2]
avg = 5
923515600563068928
45    [3]
59    [3]
Name: accept, dtype: object
[3, 3]
avg = 3
923519795986927621
46    [3]
60    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
923520146727202817
48       [1]
49       [1]
38       [1]
39       [1]
48    [1, 5]
49    [1, 5]
48       [1]
49       [1]
48    [1, 2]
49    [1, 2]
Name: accept, dtype: object
[1, 1, 1, 1, 5, 5, 1, 1, 2, 2]
avg = 2
923522190527561728
35    [1, 3]
36    [1, 3]
25    [1, 3]
26    [1, 3]
35    [1, 3]
36    [1, 3]
35       [1]
36       [1]
35    [1, 3]
36    [1, 3]
16    [1, 3]
17    [1, 4]
Name: accept, dtype: object
[3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 4]
avg = 3
923539660135165953
50    [6]
64    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
923542329453051904
321    [5]
341    [4]
339    [6]
Name: accept, dtype: object
[5, 4, 6]
avg = 5
923542363913547776
57    [6]
71    [2]
Name: accept, dtype: object
[6, 2]
avg = 4
923542941393711105
64    [1, 1]
54    [1, 2]
64    [1, 1]
64    [1, 6]
64       [1]
45       [1]
Name: accept, dtype: object
[1, 2, 1, 6, 1, 1]
avg = 2
923548677557440517
6    [1, 5]
6    [1, 5]
6    [1, 4]
6    [1, 2]
6    [1, 3]
Name: accept, dtype: object
[5, 5, 4, 2, 3]
avg = 4
923551645199421440
324    [5]
344    [5]
342    [4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
923560562910482432
313    [2]
333    [2]
331    [2]
Name: accept, dtype: object
[2, 2, 2]
avg = 2
923569320122339328
49    [5]
63    [7]
Name: accept, dtype: object
[5, 7]
avg = 6
923583564909756417
317    [1]
337    [5]
335    [5]
Name: accept, dtype: object
[1, 5, 5]
avg = 4
923586723526905857
204    [5]
234    [5]
Name: accept, dtype: object
[5, 5]
avg = 5
923587017048334336
53    [4]
67    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
923609552955768832
209    [6]
239    [4]
Name: accept, dtype: object
[6, 4]
avg = 5
923633990942232576
152    [1, 1]
142    [1, 2]
152    [1, 2]
152       [1]
152    [1, 4]
124    [1, 7]
Name: accept, dtype: object
[1, 2, 2, 1, 4, 7]
avg = 3
923637420775673856
16       [1]
17       [1]
6        [1]
7        [1]
16    [1, 5]
17    [1, 5]
16    [1, 4]
17    [1, 4]
16    [1, 4]
17    [1, 4]

Name: accept, dtype: object
[1, 1, 1, 1, 5, 5, 4, 4, 4, 4]
avg = 3
923655018389164034
198    [1, 1]
198       [1]
198    [1, 1]
Name: accept, dtype: object
[1, 1, 1]
avg = 1
923658850909261824
54    [3]
68    [2]
Name: accept, dtype: object
[3, 2]
avg = 2
923672531822956545
16    [5]
16    [5]
16    [4]
16    [5]
Name: accept, dtype: object
[5, 5, 4, 5]
avg = 5
923673876760092672
314    [7]
334    [6]
332    [5]
Name: accept, dtype: object
[7, 6, 5]
avg = 6
923675616938835968
64    [7]
78    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
923676472904179712
307    [4]
327    [4]
325    [5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
923690604361424896
310    [6]
330    [6]
328    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
923695318121693184
55    [4]
69    [5]
Name: accept, dtype: object
[4, 5]
avg = 4
923698551972020225
14    [1, 7]
15    [1, 7]
4     [1, 2]
5     [1, 2]
14    [1, 4]
15    [1, 4]
14    [1, 5]
15    [1, 5]
14    [1, 4]
15    [1, 4]
Name: accept, dtype: object
[7, 7, 2, 2, 4, 4, 5, 5, 4, 4]
avg = 4
923702906645131264
74    [1, 8]
75    [1, 8]
64    [1, 2]
65    [1, 2]
74    [1, 9]
75    [1, 9]
74    [1, 7]
75    [1, 7]
74    [1, 5]
75    [1, 5]
Name: accept, dtype: object
[8, 8, 2, 2, 9, 9, 7, 7, 5, 5]
avg = 6
923705015222509568
318    [7]
338    [5]
336    [7]
Name: accept, dtype: object
[7, 5, 7]
avg = 6
923707085144993793
60    [1]
74    [1]
Name: accept, dtype: object
[1, 1]
avg = 1
923710785334910976
323    [5]
343    [5]
341    [7]
Name: accept, dtype: object
[5, 5, 7]
avg = 6
923711927649435648
44    [5]
58    [3]
Name: accept, dtype: object
[5, 3]
avg = 4
923712065105166337
392    [7]
403    [5]
410    [6]
Name: accept, dtype: object
[7, 5, 6]
avg = 6
923743078531452928
48    [8]
62    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
923749025001754624
104    [1, 7]
105    [1, 7]
94        [1]
95        [1]
104    [1, 3]
105    [1, 3]
104    [1, 6]
105    [1, 6]
38     [1, 4]
39     [1, 4]
104    [1, 3]
105       [1]
Name: accept, dtype: object
[7, 7, 1, 1, 3, 3, 6, 6, 4, 4, 3, 1]
avg = 4
923758726212972544
315    [7]
316    [7]
335    [6]
336    [7]
333    [5]
334    [7]
Name: accept, dtype: object
[7, 7, 6, 7, 5, 7]
avg = 6
923763739928567808
167    [1, 2]
157    [1, 5]
167    [1, 1]
167    [1, 4]
167    [1, 2]
Name: accept, dtype: object
[2, 5, 1, 4, 2]
avg = 3
923867321483055104
51    [4]
65    [5]
Name: accept, dtype: object
[4, 5]
avg = 4
923885171971108864
59    [7]
73    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
923909304738025472
63    [5]
77    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
923929981939474432
325    [5]
345    [7]
343    [7]
Name: accept, dtype: object
[5, 7, 7]
avg = 6
923931831258447873
311    [6]
312    [6]
331    [6]
332    [6]
329    [6]
330    [6]
Name: accept, dtype: object
[6, 6, 6, 6, 6, 6]
avg = 6
923940373570912256
58    [2]
72    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
923953501968982016
43    [5]
48    [4]
53    [4]
Name: accept, dtype: object
[5, 4, 4]
avg = 4
923964160806973440
319    [7]
320    [6]
339    [4]
340    [4]
337    [5]
338    [5]
Name: accept, dtype: object
[7, 6, 4, 4, 5, 5]
avg = 5
923989906178871296
66    [1, 1]
66    [1, 2]
Name: accept, dtype: object
[1, 2]
avg = 2
924034175480598529
13    [1, 1]
14    [1, 1]
13    [1, 1]
14    [1, 1]
13    [1, 1]
14    [1, 1]
13    [1, 1]
14    [1, 1]
Name: accept, dtype: object
[1, 1, 1, 1, 1, 1, 1, 1]
avg = 1
924041686879219713
164    [1, 6]
154    [1, 5]
164    [1, 2]
86     [1, 4]
164    [1, 5]
10     [1, 4]
10     [1, 4]
10     [1, 5]
Name: accept, dtype: object
[6, 5, 2, 4, 5, 4, 4, 5]
avg = 4
924043262201139200
160    [1, 7]
150    [1, 6]
160    [1, 8]
160    [1, 7]
160    [1, 7]
128    [1, 5]
Name: accept, dtype: object
[7, 6, 8, 7, 7, 5]
avg = 7
924047736818647040
57    [3]
62    [5]
67    [5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
924062187760603136
309    [3]
329    [7]
327    [7]
Name: accept, dtype: object
[3, 7, 7]
avg = 6
924364116537384960
40    [1, 5]
30    [1, 1]
40    [1, 3]
40    [1, 3]
40    [1, 3]
Name: accept, dtype: object
[5, 1, 3, 3, 3]
avg = 3
924406062182289408
108    [1, 3]
98     [1, 3]
108    [1, 4]
108    [1, 5]
42     [1, 6]
108    [1, 4]
Name: accept, dtype: object
[3, 3, 4, 5, 6, 4]
avg = 4
924421533711265792
16    [1, 8]
16    [1, 8]
16    [1, 6]
16    [1, 7]
Name: accept, dtype: object
[8, 8, 6, 7]
avg = 7
924833573839998976
93       [1]
94       [1]
95       [1]
83       [1]
84       [1]
85       [1]
93    [1, 3]
94    [1, 6]
95    [1, 3]
93    [1, 4]
94    [1, 5]
95    [1, 4]
93    [1, 5]
94    [1, 5]
95    [1, 5]
Name: accept, dtype: object
[1, 1, 1, 1, 1, 1, 3, 6, 3, 4, 5, 4, 5, 5, 5]
avg = 3
924852641150177280
12    [1, 3]
12    [1, 4]
12    [1, 5]
12    [1, 2]
Name: accept, dtype: object
[3, 4, 5, 2]
avg = 4
924854032660926464
654    [6]
659    [5]
677    [7]
Name: accept, dtype: object
[6, 5, 7]
avg = 6
924855524784529409
662    [7]
667    [6]
685    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
924855859947044864
544                [2]
554                [3]
574    [hard_to_parse]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
924858477041692672
658    [3]
663    [4]
681    [4]
Name: accept, dtype: object
[3, 4, 4]
avg = 4
924863641123508224
62    [1, 7]
52    [1, 3]
62    [1, 7]
62    [1, 7]
62    [1, 6]
Name: accept, dtype: object
[7, 3, 7, 7, 6]
avg = 6
924872204038242304
58    [3]
59    [3]
63    [5]
64    [5]
68    [5]
69    [5]
Name: accept, dtype: object
[3, 3, 5, 5, 5, 5]
avg = 4
924875741015130112
666    [3]
671    [5]
689    [6]
Name: accept, dtype: object
[3, 5, 6]
avg = 5
924879030507143168
171    [2]
176    [5]
181    [3]
Name: accept, dtype: object
[2, 5, 3]
avg = 3
924882596005154816
1    [1, 5]
1    [1, 2]
1    [1, 3]
1    [1, 6]
1    [1, 1]
Name: accept, dtype: object
[5, 2, 3, 6, 1]
avg = 3
924900727398518784
24    [1, 7]
14    [1, 3]
24    [1, 7]
24    [1, 7]
24    [1, 6]
10    [1, 3]
Name: accept, dtype: object
[7, 3, 7, 7, 6, 3]
avg = 6
924927729526558721
669    [3]
674    [6]
692    [3]
Name: accept, dtype: object
[3, 6, 3]
avg = 4
924949102995103745
176    [8]
181    [7]
186    [6]
Name: accept, dtype: object
[8, 7, 6]
avg = 7
924968466905489408
668    [4]
673    [4]
691    [4]
Name: accept, dtype: object
[4, 4, 4]
avg = 4
924973099572920320
655    [4]
660    [4]
678    [5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
924976179341389824
663    [2]
668    [3]
686    [4]
Name: accept, dtype: object
[2, 3, 4]
avg = 3
924978543087570950
657    [6]
662    [5]
680    [7]
Name: accept, dtype: object
[6, 5, 7]
avg = 6
924985569700179968
659    [2]
664    [4]
682    [5]
Name: accept, dtype: object
[2, 4, 5]
avg = 4
924988266457255936
671    [7]
676    [6]
694    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
924990078572691456
656    [5]
661    [4]
679    [5]
Name: accept, dtype: object
[5, 4, 5]
avg = 5
924992513458311168
76    [1, 7]
77    [1, 7]
78    [1, 7]
66    [1, 6]
67    [1, 6]
68    [1, 6]
76    [1, 5]
77    [1, 5]
78    [1, 5]
76    [1, 8]
77    [1, 8]
78    [1, 8]
76    [1, 6]
77    [1, 6]
78    [1, 6]
Name: accept, dtype: object
[7, 7, 7, 6, 6, 6, 5, 5, 5, 8, 8, 8, 6, 6, 6]
avg = 6
924996018671882241
660    [4]
665    [3]
683    [4]
Name: accept, dtype: object
[4, 3, 4]
avg = 4
924998083041218560
186    [1]
191    [4]
196    [4]
Name: accept, dtype: object
[1, 4, 4]
avg = 3
924998990646558720
667    [8]
672    [6]
690    [7]
Name: accept, dtype: object
[8, 6, 7]
avg = 7
925000161146949633
675    [7]
680    [4]
698    [7]
Name: accept, dtype: object
[7, 4, 7]
avg = 6
925003896476655616
45    [1, 4]
54    [1, 7]
54    [1, 4]
Name: accept, dtype: object
[4, 7, 4]
avg = 5
925017650073423873
68    [1, 3]
58       [2]
68    [1, 3]
68    [1, 5]
68    [1, 3]
49       [1]
Name: accept, dtype: object
[3, 2, 3, 5, 3, 1]
avg = 3
925018314484658177
674    [8]
679    [8]
697    [7]
Name: accept, dtype: object
[8, 8, 7]
avg = 8
925024979762274304
190    [2]
195    [5]
200    [4]
Name: accept, dtype: object
[2, 5, 4]
avg = 4
925034631212171265
170    [3]
175    [5]
180    [4]
Name: accept, dtype: object
[3, 5, 4]
avg = 4
925039978370834432
672    [7]
677    [6]
695    [5]
Name: accept, dtype: object
[7, 6, 5]
avg = 6
925046877791322113
52    [1, 7]
42    [1, 2]
52    [1, 8]
52    [1, 4]
52    [1, 7]
33    [1, 6]
Name: accept, dtype: object
[7, 2, 8, 4, 7, 6]
avg = 6
925047858625093632
173    [6]
178    [7]
183    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
925051365071650816
184    [6]
189    [8]
194    [6]
Name: accept, dtype: object
[6, 8, 6]
avg = 7
925066609353543680
673    [6]
678    [6]
696    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
925083048516911105
180    [6]
185    [7]
190    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
925089349926096896
27    [1, 5]
17    [1, 3]
27    [1, 5]
27    [1, 5]
14    [1, 7]
27    [1, 5]
Name: accept, dtype: object
[5, 3, 5, 5, 7, 5]
avg = 5
925096337724538880
661    [6]
666    [3]
684    [3]
Name: accept, dtype: object
[6, 3, 3]
avg = 4
925100645551452160
138    [1, 7]
128    [1, 7]
138    [1, 8]
138    [1, 7]
138    [1, 7]
110    [1, 6]
Name: accept, dtype: object
[7, 7, 8, 7, 7, 6]
avg = 7
925117736153374725
33    [1, 8]
33    [1, 7]
Name: accept, dtype: object
[8, 7]
avg = 8
925130391123517440
61    [1, 5]
51    [1, 2]
61    [1, 2]
61    [1, 4]
61    [1, 4]
Name: accept, dtype: object
[5, 2, 2, 4, 4]
avg = 3
925136476651905024
665    [6]
670    [6]
688    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
925144785672986624
52    [3]
66    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
925149514142441472
175    [1, 6]
165    [1, 5]
175    [1, 8]
175    [1, 7]
175    [1, 7]
Name: accept, dtype: object
[6, 5, 8, 7, 7]
avg = 7
925149742086217728
244    [7]
249    [7]
24     [5]
Name: accept, dtype: object
[7, 7, 5]
avg = 6
925187449785110530
10    [1, 2]
10    [1, 4]
10       [1]
10    [1, 4]
Name: accept, dtype: object
[2, 4, 1, 4]
avg = 3
925200797863903232
106    [1, 8]
96     [1, 8]
106    [1, 8]
106    [1, 7]
40     [1, 7]
106    [1, 7]
Name: accept, dtype: object
[8, 8, 8, 7, 7, 7]
avg = 8
925206264698810368
175    [2]
180    [6]
185    [7]
Name: accept, dtype: object
[2, 6, 7]
avg = 5
925207148275163136
398    [5]
399    [5]
409    [5]
410    [5]
416    [6]
417    [6]
Name: accept, dtype: object
[5, 5, 5, 5, 6, 6]
avg = 5
925216979992145920
174    [6]
179    [7]
184    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
925224643493027840
58    [1, 8]
59    [1, 8]
48    [1, 8]
49    [1, 8]
58    [1, 9]
59    [1, 9]
58    [1, 8]
59    [1, 8]
58    [1, 8]
59    [1, 8]
39    [1, 5]
40    [1, 5]
Name: accept, dtype: object
[8, 8, 8, 8, 9, 9, 8, 8, 8, 8, 5, 5]
avg = 8
925225994235076609
173    [5]
203    [3]
Name: accept, dtype: object
[5, 3]
avg = 4
925242681202163712
643                [2]
648                [3]
666    [hard_to_parse]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
925254484254605312
170    [4]
200    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
925287195895664640
664    [2]
669    [5]
687    [2]
Name: accept, dtype: object
[2, 5, 2]
avg = 3
925295578774409216
183    [2]
188    [2]
193    [4]
Name: accept, dtype: object
[2, 2, 4]
avg = 3
925324398432841728
670    [3]
675    [4]
693    [2]
Name: accept, dtype: object
[3, 4, 2]
avg = 3
925333724862009344
185    [5]
190    [5]
195    [5]
Name: accept, dtype: object
[5, 5, 5]
avg = 5
925367655371960320
450    [5]
453    [4]
468    [3]
Name: accept, dtype: object
[5, 4, 3]
avg = 4
925368366482837504
151    [6]
170    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
925371832307453954
326    [3]
327    [3]
328    [3]
346    [4]
347    [4]
348    [4]
344    [4]
345    [4]
346    [4]
Name: accept, dtype: object
[3, 3, 3, 4, 4, 4, 4, 4, 4]
avg = 4
925387492139905024
174    [1, 2]
164    [1, 2]
174    [1, 8]
174       [1]
174    [1, 4]
Name: accept, dtype: object
[2, 2, 8, 1, 4]
avg = 3
925387990763036672
163    [1, 5]
153    [1, 3]
163    [1, 6]
163    [1, 7]
163    [1, 4]
Name: accept, dtype: object
[5, 3, 6, 7, 4]
avg = 5
925400278635110400
147    [4]
161    [1]
Name: accept, dtype: object
[4, 1]
avg = 2
925400518385717253
442    [2]
445    [3]
460    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
925403395510407168
453    [4]
456    [4]
471    [5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
925404485756866560
43    [1, 9]
33    [1, 9]
43    [1, 0]
43    [1, 8]
43    [1, 5]
Name: accept, dtype: object
[9, 9, 0, 8, 5]
avg = 6
925405715614887936
72    [1, 6]
Name: accept, dtype: object
[6]
avg = 6
925406771308621824
452    [6]
455    [6]
470    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
925408604164780032
145    [1, 8]
135    [1, 5]
145    [1, 6]
145    [1, 8]
67     [1, 6]
145    [1, 5]
Name: accept, dtype: object
[8, 5, 6, 8, 6, 5]
avg = 6
925412618277228545
155    [1]
174    [1]
Name: accept, dtype: object
[1, 1]
avg = 1
925415980569890816
133    [1, 9]
123    [1, 9]
133    [1, 0]
133    [1, 8]
133    [1, 9]
105    [1, 8]
Name: accept, dtype: object
[9, 9, 0, 8, 9, 8]
avg = 7
925416240474214400
260    [7]
169    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
925419794752516101
122    [1, 4]
112       [2]
122    [1, 1]
122    [1, 3]
122    [1, 2]
Name: accept, dtype: object
[4, 2, 1, 3, 2]
avg = 2
925420414183993344
445    [5]
448    [5]
463    [3]
Name: accept, dtype: object
[5, 5, 3]
avg = 4
925421981062791169
243    [4]
248    [7]
23     [5]
Name: accept, dtype: object
[4, 7, 5]
avg = 5
925422313415196672
261    [2]
176    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
925422603128463360
263    [6]
178    [4]
Name: accept, dtype: object
[6, 4]
avg = 5
925423223164071937
440    [6]
443    [6]
458    [8]
Name: accept, dtype: object
[6, 6, 8]
avg = 7
925428980773212167
187    [6]
192    [8]
197    [7]
Name: accept, dtype: object
[6, 8, 7]
avg = 7
925432113272426496
82    [1, 8]
72    [1, 7]
82    [1, 7]
82    [1, 7]
26    [1, 7]
82    [1, 6]
Name: accept, dtype: object
[8, 7, 7, 7, 7, 6]
avg = 7
925432788932792320
443    [1]
446    [2]
461    [4]
Name: accept, dtype: object
[1, 2, 4]
avg = 2
925433220363161600
448    [2]
451    [4]
466    [4]
Name: accept, dtype: object
[2, 4, 4]
avg = 3
925435099952402432
144    [5]
158    [3]
Name: accept, dtype: object
[5, 3]
avg = 4
925436044652183552
295    [7]
302    [7]
303    [7]
167    [5]
Name: accept, dtype: object
[7, 7, 7, 5]
avg = 6
925437219195592704
24    [5]
29    [5]
34    [5]
Name: accept, dtype: object
[5, 5, 5]
avg = 5
925444114799316992
449    [4]
452    [4]
467    [3]
Name: accept, dtype: object
[4, 4, 3]
avg = 4
925444798126977024
441    [4]
444    [2]
459    [5]
Name: accept, dtype: object
[4, 2, 5]
avg = 4
925445270510370816
293    [7]
300    [7]
165    [6]
Name: accept, dtype: object
[7, 7, 6]
avg = 7
925447646713495552
264    [5]
179    [6]
Name: accept, dtype: object
[5, 6]
avg = 6
925451476146769920
267    [5]
188    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
925451866304950272
152    [2]
171    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
925457637206056960
172    [1, 8]
162    [1, 5]
172    [1, 9]
172    [1, 8]
172    [1, 7]
131    [1, 6]
Name: accept, dtype: object
[8, 5, 9, 8, 7, 6]
avg = 7
925457871697006592
158    [8]
181    [4]
Name: accept, dtype: object
[8, 4]
avg = 6
925458956360847365
159    [7]
182    [4]
Name: accept, dtype: object
[7, 4]
avg = 6
925460252174225408
161    [7]
184    [1]
Name: accept, dtype: object
[7, 1]
avg = 4
925463101742383104
149    [1, 6]
139    [1, 6]
149       [9]
149    [1, 7]
149    [1, 8]
121    [1, 6]
Name: accept, dtype: object
[6, 6, 9, 7, 8, 6]
avg = 7
925464897957138432
262    [7]
177    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
925473015227445248
92       [2]
82    [1, 4]
92    [1, 5]
92    [1, 1]
92       [2]
64    [1, 7]
Name: accept, dtype: object
[2, 4, 5, 1, 2, 7]
avg = 4
925486566776229888
259    [7]
168    [5]
Name: accept, dtype: object
[7, 5]
avg = 6
925490412390719488
494    [3]
497    [4]
750    [2]
760    [3]
Name: accept, dtype: object
[3, 4, 2, 3]
avg = 3
925492742255497219
150    [5]
164    [4]
Name: accept, dtype: object
[5, 4]
avg = 4
925493936491253772
149    [7]
160    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
925499722948898816
266    [3]
187    [3]
Name: accept, dtype: object
[3, 3]
avg = 3
925501261339906050
172                [2]
177                [7]
182    [hard_to_parse]
Name: accept, dtype: object
[2, 7, 7]
avg = 5
925504473744723968
157    [6]
180    [1]
Name: accept, dtype: object
[6, 1]
avg = 4
925510631725285376
153    [7]
172    [1]
Name: accept, dtype: object
[7, 1]
avg = 4
925516143594491904
493    [2]
496    [5]
749    [3]
Name: accept, dtype: object
[2, 5, 3]
avg = 3
925526279855669250
491    [5]
494    [6]
747    [7]
Name: accept, dtype: object
[5, 6, 7]
avg = 6
925529866753249286
447    [3]
450    [5]
465    [6]
Name: accept, dtype: object
[3, 5, 6]
avg = 5
925532503158509568
174    [3]
204    [8]
Name: accept, dtype: object
[3, 8]
avg = 6
925540219318702080
473    [4]
476    [5]
491    [6]
Name: accept, dtype: object
[4, 5, 6]
avg = 5
925544452348891137
502    [1]
505    [3]
516    [1]
Name: accept, dtype: object
[1, 3, 1]
avg = 2
925547178751381507
10    [7]
10    [7]
10    [6]
10    [6]
Name: accept, dtype: object
[7, 7, 6, 6]
avg = 6
925554547321425920
150    [1, 8]
140    [1, 3]
150    [1, 6]
150    [1, 4]
72     [1, 7]
150    [1, 5]
Name: accept, dtype: object
[8, 3, 6, 4, 7, 5]
avg = 6
925579388128604160
444    [6]
447    [8]
462    [6]
Name: accept, dtype: object
[6, 8, 6]
avg = 7
925625738308366336
69    [1, 5]
59    [1, 1]
69    [1, 3]
69    [1, 5]
69    [1, 3]
Name: accept, dtype: object
[5, 1, 3, 5, 3]
avg = 3
925637296983904256
488    [4]
489    [4]
491    [6]
492    [6]
506    [6]
507    [6]
Name: accept, dtype: object
[4, 4, 6, 6, 6, 6]
avg = 5
925680599351943168
148    [2]
159    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
925683942266757122
484    [3]
487    [2]
502    [6]
Name: accept, dtype: object
[3, 2, 6]
avg = 4
925685356946698241
454    [5]
457    [3]
472    [3]
Name: accept, dtype: object
[5, 3, 3]
avg = 4
925692786854244353
265    [4]
186    [1]
Name: accept, dtype: object
[4, 1]
avg = 2
925709668995026945
711    [3]
712    [6]
734    [4]

Name: accept, dtype: object
[3, 6, 4]
avg = 4
925710322987618304
704    [3]
705    [5]
727    [3]
Name: accept, dtype: object
[3, 5, 3]
avg = 4
925712028509130752
67    [1, 5]
57    [1, 4]
67    [1, 4]
67    [1, 3]
67    [1, 2]
Name: accept, dtype: object
[5, 4, 4, 3, 2]
avg = 4
925712508542947329
91    [1, 6]
81    [1, 7]
91    [1, 7]
91    [1, 6]
91    [1, 7]
63    [1, 6]
Name: accept, dtype: object
[6, 7, 7, 6, 7, 6]
avg = 6
925715902741565440
709    [4]
710    [6]
732    [5]
Name: accept, dtype: object
[4, 6, 5]
avg = 5
925717360387985408
692    [1]
693    [3]
715    [6]
Name: accept, dtype: object
[1, 3, 6]
avg = 3
925719745629863938
217    [6]
222    [7]
227    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
925722586993926144
205    [3]
210    [7]
215    [6]
Name: accept, dtype: object
[3, 7, 6]
avg = 5
925724603170902016
73    [1, 7]
63    [1, 6]
73    [1, 9]
73    [1, 7]
73    [1, 7]
Name: accept, dtype: object
[7, 6, 9, 7, 7]
avg = 7
925725608704868354
701    [5]
702    [5]
724    [6]
Name: accept, dtype: object
[5, 5, 6]
avg = 5
925725891270971392
134    [1, 7]
124    [1, 3]
134    [1, 5]
134    [1, 5]
56     [1, 4]
134    [1, 6]
Name: accept, dtype: object
[7, 3, 5, 5, 4, 6]
avg = 5
925729702416920578
199    [8]
204    [8]
209    [7]
Name: accept, dtype: object
[8, 8, 7]
avg = 8
925730732508700672
699    [3]
700    [4]
722    [4]
Name: accept, dtype: object
[3, 4, 4]
avg = 4
925733426509987841
694    [1]
695    [5]
717    [5]
Name: accept, dtype: object
[1, 5, 5]
avg = 4
925733475428139009
62    [1, 2]
62    [1, 3]
Name: accept, dtype: object
[2, 3]
avg = 2
925735820505559041
18    [1, 2]
18    [1, 7]
18    [1, 7]
Name: accept, dtype: object
[2, 7, 7]
avg = 5
925737243356037121
81    [2]
95    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
925743862806728704
63    [1, 6]
63    [1, 3]
Name: accept, dtype: object
[6, 3]
avg = 4
925745385749979141
23    [1, 7]
13    [1, 1]
23    [1, 7]
23    [1, 6]
23    [1, 7]
9     [1, 7]
Name: accept, dtype: object
[7, 1, 7, 6, 7, 7]
avg = 6
925745999481417729
294    [3]
301    [3]
166    [1]
Name: accept, dtype: object
[3, 3, 1]
avg = 2
925746521689161734
355    [2]
366    [4]
373    [5]
Name: accept, dtype: object
[2, 4, 5]
avg = 4
925748893006123008
84    [6]
98    [5]
Name: accept, dtype: object
[6, 5]
avg = 6
925751864406216705
695    [2]
696    [5]
718    [5]
Name: accept, dtype: object
[2, 5, 5]
avg = 4
925756134883028992
18    [1, 5]
8     [1, 4]
18    [1, 5]
18    [1, 5]
18       [3]
Name: accept, dtype: object
[5, 4, 5, 5, 3]
avg = 4
925757717339394048
163    [1, 7]
153    [1, 2]
163    [1, 7]
85     [1, 6]
163    [1, 4]
9      [1, 5]
9      [1, 5]
9      [1, 4]
Name: accept, dtype: object
[7, 2, 7, 6, 4, 5, 5, 4]
avg = 5
925760599203696640
38    [1, 3]
39    [1, 3]
40    [1, 3]
47    [1, 3]
48    [1, 3]
49    [1, 3]
47    [1, 2]
48    [1, 2]
49    [1, 2]
Name: accept, dtype: object
[3, 3, 3, 3, 3, 3, 2, 2, 2]
avg = 3
925763241988579329
712    [3]
713    [4]
735    [3]
Name: accept, dtype: object
[3, 4, 3]
avg = 3
925765410514927616
201    [1]
202    [1]
206    [3]
207    [3]
211    [2]
212    [2]
Name: accept, dtype: object
[1, 1, 3, 3, 2, 2]
avg = 2
925765976402153472
206    [3]
211    [4]
216    [4]
Name: accept, dtype: object
[3, 4, 4]
avg = 4
925767421616631808
459    [8]
460    [8]
461    [8]
462    [6]
463    [6]
464    [6]
477    [7]
478    [7]
479    [8]
Name: accept, dtype: object
[8, 8, 8, 6, 6, 6, 7, 7, 8]
avg = 7
925768737281773568
349    [2]
350    [2]
351    [2]
361    [3]
362    [3]
768    [4]
367    [4]
368    [4]
369    [4]
Name: accept, dtype: object
[2, 2, 2, 3, 3, 4, 4, 4, 4]
avg = 3
925771713341739008
208    [3]
213    [5]
218    [6]
Name: accept, dtype: object
[3, 5, 6]
avg = 5
925772487840935936
356    [3]
367    [2]
374    [4]
Name: accept, dtype: object
[3, 2, 4]
avg = 3
925773432817565697
710    [3]
711    [6]
733    [5]
Name: accept, dtype: object
[3, 6, 5]
avg = 5
925774620573224960
48    [1, 4]
57    [1, 4]
57       [2]
Name: accept, dtype: object
[4, 4, 2]
avg = 3
925776271275188224
82    [3]
96    [6]
Name: accept, dtype: object
[3, 6]
avg = 4
925777619366371333
172    [3]
202    [2]
Name: accept, dtype: object
[3, 2]
avg = 2
925781148189544453
199    [1, 4]
199    [1, 8]
199    [1, 4]
Name: accept, dtype: object
[4, 8, 4]
avg = 5
925781524859031553
348    [5]
767    [6]
772    [6]
366    [5]
Name: accept, dtype: object
[5, 6, 6, 5]
avg = 6
925784908584366080
144    [1, 5]
134    [1, 3]
144    [1, 6]
144    [1, 6]
144    [1, 4]
116    [1, 6]
Name: accept, dtype: object
[5, 3, 6, 6, 4, 6]
avg = 5
925786449550733312
146    [7]
163    [3]
Name: accept, dtype: object
[7, 3]
avg = 5
925787967968415744
114    [1, 4]
115    [1, 4]
116    [1, 4]
104    [1, 1]
105    [1, 1]
106    [1, 1]
114    [1, 4]
115    [1, 4]
116    [1, 4]
114    [1, 1]
115    [1, 1]
116    [1, 1]
114    [1, 3]
115    [1, 3]
116    [1, 3]
86     [1, 3]
87     [1, 3]
88     [1, 3]
Name: accept, dtype: object
[4, 4, 4, 1, 1, 1, 4, 4, 4, 1, 1, 1, 3, 3, 3, 3, 3, 3]
avg = 3
925789387371220993
80    [1]
94    [6]
Name: accept, dtype: object
[1, 6]
avg = 4
925790637307367425
451    [3]
454    [3]
469    [5]
Name: accept, dtype: object
[3, 3, 5]
avg = 4
925791994131243010
214    [2]
215    [2]
219    [3]
220    [3]
224    [3]
225    [3]
Name: accept, dtype: object
[2, 2, 3, 3, 3, 3]
avg = 3
925800357011312640
469    [4]
472    [2]
487    [3]
Name: accept, dtype: object
[4, 2, 3]
avg = 3
925801456585887745
653    [3]
658    [4]
676    [2]
Name: accept, dtype: object
[3, 4, 2]
avg = 3
925803495294427136
156    [6]
175    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
925804475662692353
73    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
925804707699769344
693    [1]
694    [4]
716    [4]
Name: accept, dtype: object
[1, 4, 4]
avg = 3
925805901281296384
204    [2]
209    [6]
214    [6]
Name: accept, dtype: object
[2, 6, 6]
avg = 5
925807894003458048
690    [5]
691    [5]
713    [4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
925809683742502912
696    [1]
697    [1]
697    [3]
698    [3]
719    [3]
720    [3]
Name: accept, dtype: object
[1, 1, 3, 3, 3, 3]
avg = 2
925809873497083905
216    [3]
221    [6]
226    [6]
Name: accept, dtype: object
[3, 6, 6]
avg = 5
925816954828607488
70    [5]
84    [2]
Name: accept, dtype: object
[5, 2]
avg = 4
925817070452817920
76    [4]
89    [6]
Name: accept, dtype: object
[4, 6]
avg = 5
925819622208737280
137       [1]
138       [1]
139       [1]
127       [1]
128       [1]
129       [1]
137    [1, 1]
138    [1, 1]
139    [1, 1]
137    [1, 3]
138    [1, 3]
139    [1, 3]
59     [1, 3]
60     [1, 3]
61     [1, 3]
137    [1, 2]
138    [1, 2]
139    [1, 2]
Name: accept, dtype: object
[1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 2, 2, 2]
avg = 2
925819823065632768
358    [6]
369    [6]
376    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
925820941241868288
200    [4]
205    [8]
210    [6]
Name: accept, dtype: object
[4, 8, 6]
avg = 6
925821189993517056
154    [7]
173    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
925823534584270848
357    [2]
368    [2]
375    [2]
Name: accept, dtype: object
[2, 2, 2]
avg = 2
925824796985909248
464    [5]
467    [6]
482    [3]
Name: accept, dtype: object
[5, 6, 3]
avg = 5
925826152123559936
85    [1, 4]
75    [1, 2]
85    [1, 5]
85    [1, 7]
85    [1, 7]
57    [1, 4]
Name: accept, dtype: object
[4, 2, 5, 7, 7, 4]
avg = 5
925827104817606657
490    [4]
493    [3]
508    [6]
Name: accept, dtype: object
[4, 3, 6]
avg = 4
925827395201978368
455    [2]
458    [3]
473    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
925827628589862914
456    [2]
459    [3]
474    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
925833027116204034
700    [3]
701    [5]
723    [5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
925836457213939712
346    [4]
765    [6]
770    [6]
364    [5]
Name: accept, dtype: object
[4, 6, 6, 5]
avg = 5
925836986040057856
67    [7]
81    [2]
Name: accept, dtype: object
[7, 2]
avg = 4
925839106973806592
79    [2]
92    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
925841598759317504
209    [1]
214    [2]
219    [1]
Name: accept, dtype: object
[1, 2, 1]
avg = 1
925841706393649152
207    [6]
212    [8]
217    [7]
Name: accept, dtype: object
[6, 8, 7]
avg = 7
925844090477936642
240    [2]
245    [4]
20     [6]
Name: accept, dtype: object
[2, 4, 6]
avg = 4
925845128895442944
71    [5]
85    [4]
Name: accept, dtype: object
[5, 4]
avg = 4
925846896651808768
126    [1, 7]
127    [1, 7]
128    [1, 7]
116    [1, 4]
117    [1, 4]
118    [1, 4]
126    [1, 6]
127    [1, 6]
128    [1, 6]
126    [1, 5]
127    [1, 5]
128    [1, 5]
126    [1, 4]
127    [1, 4]
128    [1, 4]
Name: accept, dtype: object
[7, 7, 7, 4, 4, 4, 6, 6, 6, 5, 5, 5, 4, 4, 4]
avg = 5
925851021426823169
703    [4]
704    [4]
726    [4]
Name: accept, dtype: object
[4, 4, 4]
avg = 4
925856859143245825
468    [4]
471    [4]
486    [3]
Name: accept, dtype: object
[4, 4, 3]
avg = 4
925856978475171841
0       [6]
0    [1, 2]
0    [1, 6]
0    [1, 6]
0    [1, 2]
0    [1, 6]
Name: accept, dtype: object
[6, 2, 6, 6, 2, 6]
avg = 5
925861560613875712
705    [2]
706    [3]
728    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
925862757416751106
68    [6]
82    [1]
Name: accept, dtype: object
[6, 1]
avg = 4
925864452221784064
121    [1, 5]
111    [1, 2]
121    [1, 5]
121    [1, 6]
121    [1, 2]
Name: accept, dtype: object
[5, 2, 5, 6, 2]
avg = 4
925872022672076801
30    [1, 6]
20    [1, 3]
30    [1, 7]
30    [1, 6]
30    [1, 5]
11    [1, 6]
Name: accept, dtype: object
[6, 3, 7, 6, 5, 6]
avg = 6
925873923488649216
198    [1]
203    [3]
208    [2]
Name: accept, dtype: object
[1, 3, 2]
avg = 2
925875224507060224
74    [2]
88    [4]
Name: accept, dtype: object
[2, 4]
avg = 3
925882536030375937
698    [2]
699    [3]
721    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
925887183818342400
463    [7]
466    [6]
481    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
925889384041377792
133    [1, 6]
123    [1, 4]
133    [1, 1]
133    [1, 5]
55     [1, 5]
133    [1, 5]
Name: accept, dtype: object
[6, 4, 1, 5, 5, 5]
avg = 4
925907553120239618
352    [3]
353    [3]
354    [3]
363    [4]
364    [4]
365    [4]
370    [3]
371    [3]
372    [3]
Name: accept, dtype: object
[3, 3, 3, 4, 4, 4, 3, 3, 3]
avg = 3
925908682575106051
495    [7]
498    [4]
509    [4]
Name: accept, dtype: object
[7, 4, 4]
avg = 5
925913300906455040
18    [0]
18    [9]
18    [9]
18    [9]
Name: accept, dtype: object
[0, 9, 9, 9]
avg = 7
925916578717339652
162    [2]
185    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
925920572181229569
85    [7]
99    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
925920804638003200
33    [1, 6]
34    [1, 6]
35    [1, 6]
42    [1, 8]
43    [1, 8]
44    [1, 8]
42    [1, 6]
43    [1, 5]
44    [1, 5]
Name: accept, dtype: object
[6, 6, 6, 8, 8, 8, 6, 5, 5]
avg = 6
925921455103266816
457    [3]
458    [3]
460    [4]
461    [5]
475    [3]
476    [3]
Name: accept, dtype: object
[3, 3, 4, 5, 3, 3]
avg = 4
925929105102696448
77    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
925938643813806080
470    [5]
473    [5]
488    [6]
Name: accept, dtype: object
[5, 5, 6]
avg = 5
925963394393325568
145    [5]
162    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
925994066600431617
45    [1, 5]
46    [1, 5]
35    [1, 4]
36    [1, 4]
45    [1, 6]
46    [1, 6]
45    [1, 5]
46    [1, 5]
45    [1, 2]
46    [1, 2]
Name: accept, dtype: object
[5, 5, 4, 4, 6, 6, 5, 5, 2, 2]
avg = 4
925997413294149632
210    [7]
215    [7]
220    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
926002646816714752
691    [1]
692    [3]
714    [2]
Name: accept, dtype: object
[1, 3, 2]
avg = 2
926005531302653952
197    [3]
202    [7]
207    [6]
Name: accept, dtype: object
[3, 7, 6]
avg = 5
926014773828788224
69    [3]
83    [2]
Name: accept, dtype: object
[3, 2]
avg = 2
926015780512256001
44    [1, 3]
53    [1, 3]
53    [1, 4]
Name: accept, dtype: object
[3, 3, 4]
avg = 3
926017453640970241
33    [1, 9]
23    [1, 8]
33    [1, 9]
33    [1, 8]
33    [1, 8]
14    [1, 8]
Name: accept, dtype: object
[9, 8, 9, 8, 8, 8]
avg = 8
926026865378197505
72    [7]
86    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
926038413421236224
75    [4]
93    [5]
Name: accept, dtype: object
[4, 5]
avg = 4
926045853869072384
706    [3]
707    [3]
729    [3]
Name: accept, dtype: object
[3, 3, 3]
avg = 3
926051988231606272
347    [6]
766    [7]
771    [7]
365    [2]
Name: accept, dtype: object
[6, 7, 7, 2]
avg = 6
926064511832002560
168    [1, 2]
158    [1, 2]
168    [1, 3]
168    [1, 3]
168    [1, 2]
Name: accept, dtype: object
[2, 2, 3, 3, 2]
avg = 2
926100752002682880
47    [1, 6]
37    [1, 4]
47    [1, 5]
47    [1, 5]
47    [1, 3]
Name: accept, dtype: object
[6, 4, 5, 5, 3]
avg = 5
926106589987266560
707    [4]
708    [5]
730    [6]
Name: accept, dtype: object
[4, 5, 6]
avg = 5
926127519996284930
471    [2]
472    [2]
474    [4]
475    [4]
489    [6]
490    [6]
Name: accept, dtype: object
[2, 2, 4, 4, 6, 6]
avg = 4
926131173377609728
714    [6]
760    [7]
715    [7]
754    [7]
737    [6]
Name: accept, dtype: object
[6, 7, 7, 7, 6]
avg = 7
926131792268091392
41    [1, 4]
42    [1, 4]
31    [1, 1]
32    [1, 3]
41    [1, 4]
42    [1, 4]
41    [1, 5]
42    [1, 5]
41    [1, 4]
42    [1, 4]
Name: accept, dtype: object
[4, 4, 1, 3, 4, 4, 5, 5, 4, 4]
avg = 4
926136717056397316
465    [7]
466    [7]
467    [7]
468    [6]
469    [6]
470    [6]
483    [7]
484    [7]
485    [7]
Name: accept, dtype: object
[7, 7, 7, 6, 6, 6, 7, 7, 7]
avg = 7
926140818947063808
237    [7]
257     []
242    [8]
257    [8]
247    [7]
254    [7]
Name: accept, dtype: object
[7, 7, 8, 8, 7, 7]
avg = 7
926142963100643328
260    [6]
261    [6]
260    [4]
261    [5]
258    [6]
259    [5]
Name: accept, dtype: object
[6, 6, 4, 5, 6, 5]
avg = 5
926146816336211968
232    [7]
233    [7]
252     []
253     []
237    [7]
238    [7]
252    [7]
253    [7]
242    [7]
243    [7]
250    [7]
Name: accept, dtype: object
[7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7]
avg = 7
926148058982768640
720    [8]
721    [7]
760    [7]
743    [7]
Name: accept, dtype: object
[8, 7, 7, 7]
avg = 7
926151896439672833
218    [2]
223    [6]
228    [5]
Name: accept, dtype: object
[2, 6, 5]
avg = 4
926152109728387072
9    [1]
9    [3]
9    [2]
9    [2]
Name: accept, dtype: object
[1, 3, 2, 2]
avg = 2
926155186124591104
98    [1, 6]
99    [1, 6]
88    [1, 7]
89    [1, 7]
98    [1, 7]
99    [1, 6]
98    [1, 6]
99    [1, 6]
98    [1, 7]
99    [1, 7]
70    [1, 4]
71    [1, 4]
Name: accept, dtype: object
[6, 6, 7, 7, 7, 6, 6, 6, 7, 7, 4, 4]
avg = 6
926173038005096448
86     [3]
100    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
926176787763290112
222    [6]
227    [7]
232    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
926181854511861766
78    [2]
91    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
926182692953231360
503    [1]
506    [3]
517    [2]
Name: accept, dtype: object
[1, 3, 2]
avg = 2
926184201627435008
254    [6]
5      [7]
Name: accept, dtype: object
[6, 7]
avg = 6
926186759351930880
708    [3]
709    [5]
731    [3]
Name: accept, dtype: object
[3, 5, 3]
avg = 4
926189915804639232
86    [1, 7]
76    [1, 6]
86    [1, 9]
86    [1, 7]
86    [1, 7]
58    [1, 6]
Name: accept, dtype: object
[7, 6, 9, 7, 7, 6]
avg = 7
926191679819911168
688    [hard_to_parse, 3]
689    [3, hard_to_parse]
689                   [4]
690                   [4]
711                   [2]
712                   [2]
Name: accept, dtype: object
[3, 3, 4, 4, 2, 2]
avg = 3
926192168674496518
160    [7]
183    [4]
Name: accept, dtype: object
[7, 4]
avg = 6
926197423046668289
132    [1, 0]
122    [1, 7]
132    [1, 7]
132    [1, 9]
54     [1, 6]
132    [1, 4]
Name: accept, dtype: object
[0, 7, 7, 9, 6, 4]
avg = 6
926199565199568896
702    [2]
703    [4]
725    [2]
Name: accept, dtype: object
[2, 4, 2]
avg = 3
926201325884510208
446    [2]
449    [4]
464    [2]
Name: accept, dtype: object
[2, 4, 2]
avg = 3
926206186034040832
225    [6]
230    [8]
235    [7]
Name: accept, dtype: object
[6, 8, 7]
avg = 7
926212170634932224
39                   [1, 5]
29                   [1, 3]
39    [1, 7, hard_to_parse]
39                   [1, 6]
39                   [1, 6]
Name: accept, dtype: object
[5, 3, 7, 6, 6]
avg = 5
926216069299056640
50    [1, 4]
40    [1, 2]
50    [1, 6]
50    [1, 2]
19    [1, 6]
50    [1, 1]
Name: accept, dtype: object
[4, 2, 6, 2, 6, 1]
avg = 4
926218795865313280
171    [6]
201    [3]
Name: accept, dtype: object
[6, 3]
avg = 4
926230296739139584
344    [3]
728    [7]
362    [5]
Name: accept, dtype: object
[3, 7, 5]
avg = 5
926235583256678401
462    [7]
465    [5]
480    [7]
Name: accept, dtype: object
[7, 5, 7]
avg = 6
926238339035828224
499    [4]
500    [4]
501    [4]
502    [6]
503    [6]
504    [6]
513    [7]
514    [7]
515    [7]
Name: accept, dtype: object
[4, 4, 4, 6, 6, 6, 7, 7, 7]
avg = 6
926257037197049861
145    [1, 4]
135    [1, 2]
145    [1, 5]
145    [1, 5]
145    [1, 3]
117    [1, 6]
Name: accept, dtype: object
[4, 2, 5, 5, 3, 6]
avg = 4
926265292174524416
66    [hard_to_parse, 1]
80                   [1]
Name: accept, dtype: object
[1, 1]
avg = 1
926270701899620352
338    [2]
358    [5]
356    [2]
Name: accept, dtype: object
[2, 5, 2]
avg = 3
926275253269139456
211    [7]
212    [8]
213    [7]
216    [7]
217    [7]
218    [7]
221    [7]
222    [7]
223    [7]
Name: accept, dtype: object
[7, 8, 7, 7, 7, 7, 7, 7, 7]
avg = 7
926279776943464448
83    [7]
97    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
926306202778324992
253    [7]
4      [8]
Name: accept, dtype: object
[7, 8]
avg = 8
926306439274090496
334    [2]
354    [3]
352    [4]
Name: accept, dtype: object
[2, 3, 4]
avg = 3
926312628217171968
343    [3]
727    [6]
361    [6]
Name: accept, dtype: object
[3, 6, 6]
avg = 5
926312647020171264
73    [2]
87    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
926316861070852096
12    [7]
13    [7]
14    [7]
12    [6]
13    [6]
14    [6]
12    [5]
13    [5]
14    [5]
12    [6]
13    [6]
14    [6]
Name: accept, dtype: object
[7, 7, 7, 6, 6, 6, 5, 5, 5, 6, 6, 6]
avg = 6
926329785969672193
340    [2]
360    [7]
358    [7]
Name: accept, dtype: object
[2, 7, 7]
avg = 5
926414569479819270
124    [1, 5]
114    [1, 3]
124    [1, 2]
124    [1, 5]
124    [1, 3]
Name: accept, dtype: object
[5, 3, 2, 5, 3]
avg = 4
926416364981641216
38    [3]
43    [4]
48    [6]

Name: accept, dtype: object
[3, 4, 6]
avg = 4
926421408502206464
11    [1, 4]
11    [1, 2]
11    [1, 1]
11    [1, 4]
Name: accept, dtype: object
[4, 2, 1, 4]
avg = 3
926445468154032129
61    [6]
75    [7]
Name: accept, dtype: object
[6, 7]
avg = 6
926451002923986949
71    [1, 6]
61    [1, 4]
71    [1, 7]
71    [1, 8]
71    [1, 8]
Name: accept, dtype: object
[6, 4, 7, 8, 8]
avg = 7
926454374364336129
88    [1, 0]
78    [1, 9]
88    [1, 9]
88    [1, 8]
32    [1, 9]
88    [1, 6]
Name: accept, dtype: object
[0, 9, 9, 8, 9, 6]
avg = 7
926456258206543872
713    [2]
714    [3]
736    [2]
Name: accept, dtype: object
[2, 3, 2]
avg = 2
926463892506726400
335    [7]
355    [4]
353    [4]
Name: accept, dtype: object
[7, 4, 4]
avg = 5
926464484889243649
5                   [2]
5    [1, hard_to_parse]
5                   [1]
5                   [2]
Name: accept, dtype: object
[2, 1, 1, 2]
avg = 2
926465403970351105
87    [1, 6]
Name: accept, dtype: object
[6]
avg = 6
926471382598410241
342    [6]
726    [7]
360    [6]
Name: accept, dtype: object
[6, 7, 6]
avg = 6
926474051958210567
339                   [6]
359    [hard_to_parse, 2]
357                   [6]
Name: accept, dtype: object
[6, 2, 6]
avg = 5
926478717345337344
119                   [1, 6]
120                   [1, 6]
121                   [1, 6]
109                   [1, 5]
110                   [1, 5]
111                   [1, 5]
119                   [1, 8]
120                   [1, 8]
121                   [1, 8]
119    [1, hard_to_parse, 6]
120    [1, 6, hard_to_parse]
121    [1, 6, hard_to_parse]
119                   [1, 5]
120                   [1, 5]
121                   [1, 5]
91                    [1, 6]
92                    [1, 6]
93                    [1, 6]
Name: accept, dtype: object
[6, 6, 6, 5, 5, 5, 8, 8, 8, 6, 6, 6, 5, 5, 5, 6, 6, 6]
avg = 6
926495159306432512
336    [8]
356    [6]
354    [7]
Name: accept, dtype: object
[8, 6, 7]
avg = 7
926502436503740417
26    [6]
31    [6]
36    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
926514433186177025
722    [8]
723    [7]
762    [7]
745    [6]
758    [5]
Name: accept, dtype: object
[8, 7, 7, 6, 5]
avg = 7
926528520548790273
329    [hard_to_parse, 4]
349                   [5]
347    [6, hard_to_parse]
Name: accept, dtype: object
[4, 5, 6]
avg = 5
926540029626810369
23    [7]
28    [7]
33    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
926553319648006144
333    [4]
353    [7]
351    [4]
Name: accept, dtype: object
[4, 7, 4]
avg = 5
926554302738587649
156    [1, 8]
146    [1, 7]
156    [1, 9]
78     [1, 6]
156    [1, 6]
2      [1, 6]
2      [1, 7]
2      [1, 6]
Name: accept, dtype: object
[8, 7, 9, 6, 6, 6, 7, 6]
avg = 7
926559798455341059
5    [1, 7]
5    [1, 7]
5    [1, 6]
5    [1, 9]
5    [1, 5]
Name: accept, dtype: object
[7, 7, 6, 9, 5]
avg = 7
926563159900426240
552    [3]
562    [3]
582    [3]
Name: accept, dtype: object
[3, 3, 3]
avg = 3
926570385734283266
193    [1, 3]
193    [1, 3]
193    [1, 5]
193    [1, 4]
Name: accept, dtype: object
[3, 3, 5, 4]
avg = 4
926574270968459265
267    [7]
267    [6]
265    [6]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
926583680096788480
337                   [1]
357    [2, hard_to_parse]
355                   [2]
Name: accept, dtype: object
[1, 2, 2]
avg = 2
926598550196244480
687    [6]
688    [4]
710    [4]
Name: accept, dtype: object
[6, 4, 4]
avg = 5
926600659213754369
32                   [1, 8]
22       [hard_to_parse, 3]
32    [1, 4, hard_to_parse]
32                   [1, 8]
32                   [1, 7]
Name: accept, dtype: object
[8, 3, 4, 8, 7]
avg = 6
926601124571959296
341    [8]
725    [6]
359    [7]
Name: accept, dtype: object
[8, 6, 7]
avg = 7
926618790665715712
234    [3]
254     []
239    [3]
254    [5]
244    [4]
251    [4]
Name: accept, dtype: object
[3, 3, 3, 5, 4, 4]
avg = 4
926621741358682113
131                   [1, 6]
121                   [1, 3]
131    [1, hard_to_parse, 4]
131                   [1, 5]
53                    [1, 3]
131                   [1, 5]
Name: accept, dtype: object
[6, 3, 4, 5, 3, 5]
avg = 4
926624514645078016
43    [1, 4]
33    [1, 7]
43    [1, 2]
43    [1, 6]
43    [1, 4]
24    [1, 7]
Name: accept, dtype: object
[4, 7, 2, 6, 4, 7]
avg = 5
926628247713935360
223    [3]
228    [7]
233    [6]
Name: accept, dtype: object
[3, 7, 6]
avg = 5
926628313338036225
545    [8]
555    [8]
575    [7]
Name: accept, dtype: object
[8, 8, 7]
avg = 8
926636751875010560
716    [8]
718    [7]
757    [7]
740    [7]
Name: accept, dtype: object
[8, 7, 7, 7]
avg = 7
926637030213382145
723    [8]
724    [6]
763    [7]
746    [7]
759    [7]
Name: accept, dtype: object
[8, 6, 7, 7, 7]
avg = 7
926637340461641728
547    [7]
557    [6]
577    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
926637349567680512
75    [1, 4]
Name: accept, dtype: object
[4]
avg = 4
926638949694554112
721    [9]
722    [7]
761    [7]
744    [7]
Name: accept, dtype: object
[9, 7, 7, 7]
avg = 8
926639451534708736
246    [6]
21     [3]
26     [4]
Name: accept, dtype: object
[6, 3, 4]
avg = 4
926652909487644672
239    [7]
259     []
244    [7]
259    [8]
249    [7]
256    [7]
Name: accept, dtype: object
[7, 7, 7, 8, 7, 7]
avg = 7
926657967038091264
127    [1, 8]
128    [1, 8]
117    [1, 7]
118    [1, 7]
127    [1, 6]
128    [1, 6]
127    [1, 7]
128    [1, 7]
127    [1, 7]
128    [1, 7]
99     [1, 8]
100    [1, 8]
Name: accept, dtype: object
[8, 8, 7, 7, 6, 6, 7, 7, 7, 7, 8, 8]
avg = 7
926663823402192897
256    [8]
7      [4]
Name: accept, dtype: object
[8, 4]
avg = 6
926667262664331264
228    [6]
229    [4]
233    [7]
234    [8]
238    [7]
239    [7]
Name: accept, dtype: object
[6, 4, 7, 8, 7, 7]
avg = 6
926671690586869761
238                   [5]
258                    []
243                   [7]
258                   [7]
248    [5, hard_to_parse]
255                   [5]
257                   [5]
Name: accept, dtype: object
[5, 5, 7, 7, 5, 5, 5]
avg = 6
926672175469342720
231    [6]
251     []
236    [7]
251    [7]
241    [4]
Name: accept, dtype: object
[6, 6, 7, 7, 4]
avg = 6
926672426758524930
550    [5, hard_to_parse]
560                   [5]
580                   [6]
Name: accept, dtype: object
[5, 5, 6]
avg = 5
926679416012460032
230    [7]
250     []
235    [4]
250    [4]
240    [6]
Name: accept, dtype: object
[7, 7, 4, 4, 6]
avg = 6
926685632964935681
553                   [3]
563                   [4]
583    [3, hard_to_parse]
Name: accept, dtype: object
[3, 4, 3]
avg = 3
926695106366885889
551    [1]
561    [6]
581    [7]
Name: accept, dtype: object
[1, 6, 7]
avg = 5
926706003604729856
159    [1, 7]
149    [1, 2]
159    [1, 5]
81     [1, 4]
159    [1, 3]
5      [1, 4]
5      [1, 3]
5      [1, 4]
Name: accept, dtype: object
[7, 2, 5, 4, 3, 4, 3, 4]
avg = 4
926719763371487232
164    [1, 8]
154    [1, 6]
164    [1, 9]
164    [1, 7]
164    [1, 8]
Name: accept, dtype: object
[8, 6, 9, 7, 8]
avg = 8
926731328086794241
0    [7]
0    [7]
0    [6]
0    [6]
Name: accept, dtype: object
[7, 7, 6, 6]
avg = 6
926735927329816576
96    [1, 6]
Name: accept, dtype: object
[6]
avg = 6
926739632401682433
141    [1, 8]
131    [1, 8]
141    [1, 7]
141    [1, 8]
63     [1, 8]
141    [1, 5]
Name: accept, dtype: object
[8, 8, 7, 8, 8, 5]
avg = 7
926754838829981697
548    [7]
558    [4]
578    [6]
Name: accept, dtype: object
[7, 4, 6]
avg = 6
926762305865396225
262    [5]
262    [3]
260    [7]
Name: accept, dtype: object
[5, 3, 7]
avg = 5
926788983249444864
255    [6]
6      [6]
Name: accept, dtype: object
[6, 6]
avg = 6
926793547835064320
35    [1, 6]
36    [1, 6]
25    [1, 4]
26    [1, 4]
35    [1, 7]
36    [1, 7]
35    [1, 6]
36    [1, 6]
35    [1, 7]
36    [1, 7]
Name: accept, dtype: object
[6, 6, 4, 4, 7, 7, 6, 6, 7, 7]
avg = 6
926802043356016640
67    [1, 1]
67    [1, 5]
Name: accept, dtype: object
[1, 5]
avg = 3
926810211523772416
235                   [6]
236                   [4]
255                    []
256                    []
240                   [7]
241                   [7]
255                   [7]
256                   [7]
245    [hard_to_parse, 5]
246                   [5]
252    [5, hard_to_parse]
253                   [5]
Name: accept, dtype: object
[6, 4, 4, 4, 7, 7, 7, 7, 5, 5, 5, 5]
avg = 6
926816749193977856
180    [1, 7]
181    [1, 3]
170    [1, 5]
171    [1, 5]
180    [1, 6]
181    [1, 6]
180    [1, 7]
181    [1, 7]
180    [1, 7]
181    [1, 3]
132    [1, 6]
133    [1, 2]
Name: accept, dtype: object
[7, 3, 5, 5, 6, 6, 7, 7, 7, 3, 6, 2]
avg = 5
926817529921617923
224    [6]
229    [7]
234    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
926825815668490240
546    [4]
556    [5]
576    [5]
Name: accept, dtype: object
[4, 5, 5]
avg = 5
926841266414944257
252    [6]
3      [4]
Name: accept, dtype: object
[6, 4]
avg = 5
926847272201138176
226                   [5]
227                   [7]
231                   [5]
232                   [8]
236    [hard_to_parse, 6]
237                   [7]
Name: accept, dtype: object
[5, 7, 5, 8, 6, 7]
avg = 6
926852373766656000
118    [1, 6]
108    [1, 2]
118    [1, 3]
118    [1, 5]
118    [1, 4]
Name: accept, dtype: object
[6, 2, 3, 5, 4]
avg = 4
926864922088235008
88                   [1, 6]
89    [1, 5, hard_to_parse]
Name: accept, dtype: object
[6, 5]
avg = 6
926875566640418817
715    [8]
717    [7]
716    [7]
717    [7]
755    [7]
756    [7]
738    [7]
739    [6]
Name: accept, dtype: object
[8, 7, 7, 7, 7, 7, 7, 6]
avg = 7
926889122714791938
251    [4]
2      [5]
Name: accept, dtype: object
[4, 5]
avg = 4
926914252316790784
263    [6]
264    [6]
263    [7]
264    [7]
261    [7]
262    [7]
Name: accept, dtype: object
[6, 6, 7, 7, 7, 7]
avg = 7
926941213130813440
250    [8]
1      [9]
Name: accept, dtype: object
[8, 9]
avg = 8
926941953169567750
24    [1, 6]
14       [2]
24    [1, 6]
24    [1, 4]
11    [1, 4]
24    [1, 6]
Name: accept, dtype: object
[6, 2, 6, 4, 4, 6]
avg = 5
926950339106009089
265    [4]
266    [4]
265    [4]
266    [4]
263    [4]
264    [7]
Name: accept, dtype: object
[4, 4, 4, 4, 4, 7]
avg = 4
926966266195099648
20    [1, 7]
10    [1, 6]
20    [1, 8]
20    [1, 6]
7     [1, 2]
20    [1, 6]
Name: accept, dtype: object
[7, 6, 8, 6, 2, 6]
avg = 6
926979009438797824
51    [hard_to_parse, 0]
56                   [0]
61                   [0]
Name: accept, dtype: object
[0, 0, 0]
avg = 0
927132392074219520
549    [6]
559    [5]
579    [5]
Name: accept, dtype: object
[6, 5, 5]
avg = 5
927239468163137537
124    [1, 3, hard_to_parse]
125    [1, 3, hard_to_parse]
126    [1, 3, hard_to_parse]
114                   [1, 1]
115                      [2]
116                      [2]
124                   [1, 1]
125                      [1]
126                   [1, 1]
124                   [1, 8]
125                   [1, 8]
126                   [1, 8]
124                   [1, 2]
125                   [1, 2]
126                   [1, 2]
96                    [1, 5]
97                    [1, 6]
98                    [1, 6]
Name: accept, dtype: object
[3, 3, 3, 1, 2, 2, 1, 1, 1, 8, 8, 8, 2, 2, 2, 5, 6, 6]
avg = 4
927322192752254976
155                [1, 6]
145                [1, 2]
155                [1, 3]
155    [1, hard_to_parse]
155                [1, 6]
127    [1, hard_to_parse]
Name: accept, dtype: object
[6, 2, 3, 1, 6, 1]
avg = 3
927898155064217602
189    [4]
219    [6]
Name: accept, dtype: object
[4, 6]
avg = 5
927899383328313345
177    [7]
207    [1]
Name: accept, dtype: object
[7, 1]
avg = 4
927902426732093441
758    [2]
517    [4]
537    [2]
Name: accept, dtype: object
[2, 4, 2]
avg = 3
927910932176625665
750    [4]
509    [2]
529    [6]
Name: accept, dtype: object
[4, 2, 6]
avg = 4
927922813545189376
103    [1, 8]
93     [1, 7]
103    [1, 8]
103    [1, 7]
103    [1, 7]
75     [1, 8]
Name: accept, dtype: object
[8, 7, 8, 7, 7, 8]
avg = 8
927935837102321664
178    [3]
208    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
927937613209718785
80    [1, 7]
70    [1, 3]
80    [1, 6]
80    [1, 5]
24    [1, 6]
80    [1, 6]
Name: accept, dtype: object
[7, 3, 6, 5, 6, 6]
avg = 6
927938868413911041
752    [5]
511    [5]
531    [4]
Name: accept, dtype: object
[5, 5, 4]
avg = 5
927941188619067392
187    [3]
217    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
927949075726655490
71    [1, 3]
Name: accept, dtype: object
[3]
avg = 3
927949300352667648
753    [6]
512    [6]
532    [4]
Name: accept, dtype: object
[6, 6, 4]
avg = 5
927950610036592642
183    [4]
213    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
927952248273022977
6    [6]
6    [6]
6    [5]
6    [5]
Name: accept, dtype: object
[6, 6, 5, 5]
avg = 6
927952571624501249
180    [7]
210    [5]
Name: accept, dtype: object
[7, 5]
avg = 6
927954424026329088
181    [6]
211    [3]
Name: accept, dtype: object
[6, 3]
avg = 4
927955555209097221
192    [7]
222    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
927958448502865926
34    [1, 5]
34    [1, 4]
Name: accept, dtype: object
[5, 4]
avg = 4
927958599770492929
188    [2]
218    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
927961674086219776
748    [4]
743    [6]
527    [5]
Name: accept, dtype: object
[4, 6, 5]
avg = 5
927962961729204224
154    [1, 6]
144    [1, 6]
154    [1, 5]
154    [1, 6]
154    [1, 8]
126    [1, 6]
Name: accept, dtype: object
[6, 6, 5, 6, 8, 6]
avg = 6
927964751426093057
191    [3]
221    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
927964936353013761
179    [2]
209    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
927973550736080896
507    [5, hard_to_parse]
737                   [6]
521                   [5]
Name: accept, dtype: object
[5, 6, 5]
avg = 5
927977351727779845
182    [4]
212    [7]
Name: accept, dtype: object
[4, 7]
avg = 6
927977580745183232
506    [5]
736    [6]
520    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
927986844989497345
755    [6]
514    [4]
534    [6]
Name: accept, dtype: object
[6, 4, 6]
avg = 5
927987973618053121
177    [3]
178    [3]
179    [4]
182    [4]
183    [4]
184    [5]
187    [3]
188    [3]
189    [3]
Name: accept, dtype: object
[3, 3, 4, 4, 4, 5, 3, 3, 3]
avg = 4
927996954394669062
754    [6]
513    [6]
533    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
928004958133288961
185    [2]
215    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
928051139765047297
747    [2]
742    [4]
526    [1]
Name: accept, dtype: object
[2, 4, 1]
avg = 2
928053710365671424
83    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
928055922777378817
756    [5]
515    [4]
535    [4]
Name: accept, dtype: object
[5, 4, 4]
avg = 4
928184722886463488
746    [7]
741    [6]
525    [6]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
928189269860061185
184    [3]
214    [9]
Name: accept, dtype: object
[3, 9]
avg = 6
928207184789430273
143    [1, 8]
133    [1, 3]
143    [1, 6]
143    [1, 7]
65     [1, 6]
143    [1, 4]
Name: accept, dtype: object
[8, 3, 6, 7, 6, 4]
avg = 6
928242546467332096
186                   [2]
216    [4, hard_to_parse]
Name: accept, dtype: object
[2, 4]
avg = 3
928251497153990656
190    [5]
220    [7]
Name: accept, dtype: object
[5, 7]
avg = 6
928362660197957633
166    [3]
196    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
928367890277044224
167    [1]
197    [1]
Name: accept, dtype: object
[1, 1]
avg = 1
928383125910106112
169    [2]
199    [3]
Name: accept, dtype: object
[2, 3]
avg = 2
928390556845195264
474    [1]
477    [5]
492    [3]
Name: accept, dtype: object
[1, 5, 3]
avg = 3
928395935612203008
44    [1, 7]
34    [1, 4]
44    [1, 8]
44    [1, 5]
44    [1, 6]
25    [1, 7]
Name: accept, dtype: object
[7, 4, 8, 5, 6, 7]
avg = 6
928399444491476992
38    [1, 4]
38    [1, 5]
Name: accept, dtype: object
[4, 5]
avg = 4
928403279448608768
268    [3]
189    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
928408930253987841
151    [1, 7]
141    [1, 7]
151    [1, 8]
151       [2]
151    [1, 6]
123    [1, 4]
Name: accept, dtype: object
[7, 7, 8, 2, 6, 4]
avg = 6
928410112259174401
475    [3]
478    [5]
493    [5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
928414200724107264
33    [1, 4]
23    [1, 3]
33    [1, 4]
33    [1, 5]
33    [1, 3]
Name: accept, dtype: object
[4, 3, 4, 5, 3]
avg = 4
928415078621249542
480    [2]
483    [4]
498    [3]
Name: accept, dtype: object
[2, 4, 3]
avg = 3
928419737792581637
165    [4]
195    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
928423512343220224
232    [hard_to_parse, 1]
262    [hard_to_parse, 5]
Name: accept, dtype: object
[1, 5]
avg = 3
928439829154672646
163    [2]
190    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
928444358554193920
29    [1, 6]
29    [1, 9]
29    [1, 7]
Name: accept, dtype: object
[6, 9, 7]
avg = 7
928450416148299776
237    [5]
271    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
928469567399251969
238    [5]
272    [2]
Name: accept, dtype: object
[5, 2]
avg = 4
928495927266078720
272    [hard_to_parse, 6]
266                   [6]
Name: accept, dtype: object
[6, 6]
avg = 6
928498594604204032
481    [2]
484    [4]
499    [5]
Name: accept, dtype: object
[2, 4, 5]
avg = 4
928519224200269824
54    [6]
59    [5]
64    [6]
Name: accept, dtype: object
[6, 5, 6]
avg = 6
928520662645460992
244    [hard_to_parse, 4]
284                   [3]
283                   [2]
Name: accept, dtype: object
[4, 3, 2]
avg = 3
928521458309050368
239    [7]
273    [9]
Name: accept, dtype: object
[7, 9]
avg = 8
928522781427253248
39    [1, 7]
39    [1, 7]
Name: accept, dtype: object
[7, 7]
avg = 7
928541943050641408
74    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
928546443702435840
164    [4]
191    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
928554138950033408
97    [1, 3]
87    [1, 1]
97    [1, 4]
97    [1, 4]
97    [1, 7]
Name: accept, dtype: object
[3, 1, 4, 4, 7]
avg = 4
928560661193461760
35    [6]
40    [6]
45    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
928563350052712448
482    [1]
483    [1]
485    [3]
486    [3]
500    [3]
501    [3]
Name: accept, dtype: object
[1, 1, 3, 3, 3, 3]
avg = 2
928582763170729985
235    [6]
265    [1]
Name: accept, dtype: object
[6, 1]
avg = 4
928585015063207937
3    [2]
3    [2]
3    [2]
3    [3]
Name: accept, dtype: object
[2, 2, 2, 3]
avg = 2
928589192241844224
246    [7]
286    [7]
285    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
928589272206249984
18    [1, 8]
18    [1, 9]
18    [1, 6]
18    [1, 7]
Name: accept, dtype: object
[8, 9, 6, 7]
avg = 8
928595347575885824
508    [2]
744    [2]
745    [2]
738    [5]
739    [5]
740    [5]
522    [3]
523    [3]
524    [3]
Name: accept, dtype: object
[2, 2, 2, 5, 5, 5, 3, 3, 3]
avg = 3
928597641038098437
233    [hard_to_parse, 6]
263                   [2]

Name: accept, dtype: object
[6, 2]
avg = 4
928623936123883521
275    [7]
269    [3]
Name: accept, dtype: object
[7, 3]
avg = 5
928631530024468480
479                [3]
482                [5]
497    [hard_to_parse]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
928631891493834758
274    [7]
268    [1]
Name: accept, dtype: object
[7, 1]
avg = 4
928632460350492672
277    [3]
276    [4]
Name: accept, dtype: object
[3, 4]
avg = 4
928633094600568837
248    [5]
288    [4]
287    [3]
290    [3]
Name: accept, dtype: object
[5, 4, 3, 3]
avg = 4
928633741634887685
759    [6]
518    [5]
538    [6]
Name: accept, dtype: object
[6, 5, 6]
avg = 6
928633915564314625
101    [1, 8]
91     [1, 7]
101    [1, 7]
101    [1, 7]
35     [1, 8]
101    [1, 7]
Name: accept, dtype: object
[8, 7, 7, 7, 8, 7]
avg = 7
928652951152877569
97    [1, 2]
Name: accept, dtype: object
[2]
avg = 2
928660067980857344
146    [1, 7]
136    [1, 5]
146    [1, 7]
146    [1, 7]
68     [1, 7]
146    [1, 4]
Name: accept, dtype: object
[7, 5, 7, 7, 7, 4]
avg = 6
928682655868076032
135    [2, hard_to_parse]
140                   [2]
145                   [4]
Name: accept, dtype: object
[2, 2, 4]
avg = 3
928685077491605504
751    [6]
510    [4]
530    [6]
Name: accept, dtype: object
[6, 4, 6]
avg = 5
928687529506811904
612    [3]
617    [3]
635    [3]
Name: accept, dtype: object
[3, 3, 3]
avg = 3
928689513605615617
23    [1, 7]
13    [1, 4]
23    [1, 5]
23    [1, 7]
10    [1, 7]
23    [1, 4]
Name: accept, dtype: object
[7, 4, 5, 7, 7, 4]
avg = 6
928692694515355650
733    [5]
304    [4]
302    [4]
Name: accept, dtype: object
[5, 4, 4]
avg = 4
928694951277481984
132    [1, 1]
122    [1, 2]
132    [1, 2]
132    [1, 2]
132    [1, 4]
104    [1, 5]
Name: accept, dtype: object
[1, 2, 2, 2, 4, 5]
avg = 3
928695353104269313
504                   [1]
507    [hard_to_parse, 1]
518                   [1]
Name: accept, dtype: object
[1, 1, 1]
avg = 1
928697362213634048
129    [1, 6]
130    [1, 7]
119       [2]
120    [1, 2]
129    [1, 3]
130    [1, 3]
129    [1, 3]
130    [1, 3]
52     [1, 4]
129    [1, 2]
130    [1, 4]
Name: accept, dtype: object
[6, 7, 2, 2, 3, 3, 3, 3, 4, 2, 4]
avg = 4
928698081436229633
168    [6]
198    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
928701363365863425
8    [1, 5]
8    [1, 3]
8    [1, 4]
8    [1, 1]
Name: accept, dtype: object
[5, 3, 4, 1]
avg = 3
928702853270704128
25    [3]
30    [5]
35    [6]
Name: accept, dtype: object
[3, 5, 6]
avg = 5
928703265889435648
234    [5]
264    [3]
Name: accept, dtype: object
[5, 3]
avg = 4
928703944318218242
740    [7]
741    [7]
742    [7]
311    [8]
312    [8]
313    [8]
309    [7]
310    [7]
311    [7]
Name: accept, dtype: object
[7, 7, 7, 8, 8, 8, 7, 7, 7]
avg = 7
928708126689452034
1     [6]
11    [9]
Name: accept, dtype: object
[6, 9]
avg = 8
928710721181048833
98    [1, 7]
88    [1, 4]
98    [1, 4]
98    [1, 6]
98    [1, 3]
Name: accept, dtype: object
[7, 4, 4, 6, 3]
avg = 5
928713053494951936
46    [4]
51    [6]
56    [5]
Name: accept, dtype: object
[4, 6, 5]
avg = 5
928719602191712256
287    [8]
287    [7]
285    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
928719660853243904
93    [1, 4]
83    [1, 2]
93    [1, 4]
93    [1, 1]
93    [1, 7]
65    [1, 3]
Name: accept, dtype: object
[4, 2, 4, 1, 7, 3]
avg = 4
928720214539239425
94    [1, 7]
95    [1, 7]
96    [1, 7]
84    [1, 7]
85    [1, 7]
86    [1, 7]
94    [1, 8]
95    [1, 8]
96    [1, 8]
94    [1, 6]
95    [1, 6]
96    [1, 6]
94    [1, 4]
95    [1, 4]
96    [1, 4]
66    [1, 8]
67    [1, 8]
68    [1, 8]
Name: accept, dtype: object
[7, 7, 7, 7, 7, 7, 8, 8, 8, 6, 6, 6, 4, 4, 4, 8, 8, 8]
avg = 7
928725090157686784
613    [7]
618    [7]
636    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
928725385101172736
283    [3]
284    [3]
285    [3]
283    [6]
284    [6]
285    [6]
281    [4]
282    [4]
283    [4]
Name: accept, dtype: object
[3, 3, 3, 6, 6, 6, 4, 4, 4]
avg = 4
928725916095864832
629    [4]
634    [2]
652    [2]
Name: accept, dtype: object
[4, 2, 2]
avg = 3
928727974253355008
60    [1, 8]
61    [1, 8]
50    [1, 6]
51    [1, 6]
60    [1, 9]
61    [1, 9]
60    [1, 6]
61    [1, 6]
60    [1, 7]
61    [1, 7]
41    [1, 7]
42    [1, 7]
Name: accept, dtype: object
[8, 8, 6, 6, 9, 9, 6, 6, 7, 7, 7, 7]
avg = 7
928728640648392704
757    [6]
516    [4]
536    [5]
Name: accept, dtype: object
[6, 4, 5]
avg = 5
928729326018633728
496    [3]
497    [3]
498    [3]
499    [5]
500    [5]
501    [5]
510    [4]
511    [4]
512    [4]
Name: accept, dtype: object
[3, 3, 3, 5, 5, 5, 4, 4, 4]
avg = 4
928730733501407232
23    [4]
37    [4]
Name: accept, dtype: object
[4, 4]
avg = 4
928732024080404484
33    [3]
47    [4]
Name: accept, dtype: object
[3, 4]
avg = 4
928733155300904961
25    [4]
39    [6]
Name: accept, dtype: object
[4, 6]
avg = 5
928733207457013760
68    [1, 5]
69    [1, 6]
68    [1, 5]
69    [1, 6]
Name: accept, dtype: object
[5, 6, 5, 6]
avg = 6
928733767182798848
82                   [2]
83                [1, 2]
84                [1, 2]
72                [1, 2]
73                [1, 2]
74                [1, 2]
82                [1, 1]
83                [1, 1]
84                [1, 1]
82    [1, hard_to_parse]
83    [1, hard_to_parse]
84    [1, hard_to_parse]
82                [1, 3]
83                [1, 3]
84                [1, 3]
54                [1, 3]
55                [1, 3]
56                [1, 3]
Name: accept, dtype: object
[2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3]
avg = 2
928733867439153152
624                   [1]
629    [hard_to_parse, 1]
647    [5, hard_to_parse]
Name: accept, dtype: object
[1, 1, 5]
avg = 2
928733931934904320
6    [1, 6]
7    [1, 6]
6    [1, 2]
7    [1, 2]
6    [1, 7]
7    [1, 7]
5    [1, 4]
6    [1, 4]
6    [1, 4]
7    [1, 4]
Name: accept, dtype: object
[6, 6, 2, 2, 7, 7, 4, 4, 4, 4]
avg = 5
928734842384154625
120    [1, 6]
110    [1, 3]
120    [1, 6]
120    [1, 5]
120    [1, 4]
Name: accept, dtype: object
[6, 3, 6, 5, 4]
avg = 5
928735473937408001
241    [5]
281    [6]
280    [4]
Name: accept, dtype: object
[5, 6, 4]
avg = 5
928735661271773184
156    [6, hard_to_parse]
157    [6, hard_to_parse]
161                   [5]
162                   [5]
166    [6, hard_to_parse]
167    [6, hard_to_parse]
Name: accept, dtype: object
[6, 6, 5, 5, 6, 6]
avg = 6
928735841312231424
305    [5]
325    [8]
323    [7]
Name: accept, dtype: object
[5, 8, 7]
avg = 7
928737528244588546
296                [3]
297                [3]
316                [3]
317                [3]
314    [hard_to_parse]
315    [hard_to_parse]
Name: accept, dtype: object
[3, 3, 3, 3, 3, 3]
avg = 3
928738693044633602
241    [3]
242    [3]
246    [3]
247    [4]
21     [3]
22     [3]
Name: accept, dtype: object
[3, 3, 3, 4, 3, 3]
avg = 3
928739073115779072
749    [3]
744    [5]
528    [5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
928740028133416960
271    [2]
194    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
928740101680779264
17    [1, 4]
17    [1, 8]
17    [1, 5]
Name: accept, dtype: object
[4, 8, 5]
avg = 6
928740479377616896
299    [2]
319    [6]
317    [3]
Name: accept, dtype: object
[2, 6, 3]
avg = 4
928742579855921152
127    [1]
132    [3]
137    [3]
Name: accept, dtype: object
[1, 3, 3]
avg = 2
928745923643031552
52    [7]
53    [7]
57    [7]
58    [7]
62    [5]
63    [5]
Name: accept, dtype: object
[7, 7, 7, 7, 5, 5]
avg = 6
928750596106076160
117    [1, 0]
118    [1, 0]
107    [1, 0]
108    [1, 0]
117    [1, 0]
118    [1, 0]
117    [1, 9]
118    [1, 9]
117    [1, 9]
118    [1, 9]
89     [1, 0]
90     [1, 9]
Name: accept, dtype: object
[0, 0, 0, 0, 0, 0, 9, 9, 9, 9, 0, 9]
avg = 4
928751064257527809
505    [4]
508    [5]
519    [5]
Name: accept, dtype: object
[4, 5, 5]
avg = 5
928751077951975424
64    [1, 8]
64    [1, 6]
Name: accept, dtype: object
[8, 6]
avg = 7
928751511647215622
34    [6]
48    [5]
Name: accept, dtype: object
[6, 5]
avg = 6
928752495719079943
156                   [1, 3]
157                   [1, 3]
158                   [1, 3]
146                   [1, 2]
147                   [1, 2]
148                   [1, 2]
156                   [1, 6]
157                   [1, 6]
158                   [1, 6]
156    [1, 5, hard_to_parse]
157    [1, 5, hard_to_parse]
158    [1, 5, hard_to_parse]
156                   [1, 5]
157                   [1, 4]
158                   [1, 4]
Name: accept, dtype: object
[3, 3, 3, 2, 2, 2, 6, 6, 6, 5, 5, 5, 5, 4, 4]
avg = 4
928754023791968256
611    [7]
616    [7]
634    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
928754831166189568
621    [4, hard_to_parse]
626                   [5]
644                   [4]
Name: accept, dtype: object
[4, 5, 4]
avg = 4
928758686343774209
476    [1]
479    [4]
494    [2]
Name: accept, dtype: object
[1, 4, 2]
avg = 2
928761259691999233
37                   [1, 6]
27                      [2]
37    [1, 3, hard_to_parse]
37                   [1, 4]
37                   [1, 3]
Name: accept, dtype: object
[6, 2, 3, 4, 3]
avg = 4
928761395348410369
138    [5]
143    [5]
148    [6]
Name: accept, dtype: object
[5, 5, 6]
avg = 5
928762026050097152
162    [1, 3]
152    [1, 3]
162    [1, 6]
162    [1, 7]
162    [1, 4]
Name: accept, dtype: object
[3, 3, 6, 7, 4]
avg = 5
928767370826526721
173    [1, 7]
163    [1, 7]
173    [1, 9]
173    [1, 6]
173    [1, 8]
Name: accept, dtype: object
[7, 7, 9, 6, 8]
avg = 7
928767545045405697
22    [4]
36    [6]
Name: accept, dtype: object
[4, 6]
avg = 5
928769272951668741
188    [4]
189    [4]
193    [4]
194    [4]
198    [6]
199    [6]
Name: accept, dtype: object
[4, 4, 4, 4, 6, 6]
avg = 5
928771155875500032
11    [6]
21    [5]
Name: accept, dtype: object
[6, 5]
avg = 6
928771375027732480
43    [6]
57    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
928772134800953344
615    [7]
620    [4]
638    [4]
Name: accept, dtype: object
[7, 4, 4]
avg = 5
928773212342816768
622    [hard_to_parse, 3]
627    [hard_to_parse, 4]
645                   [4]
Name: accept, dtype: object
[3, 4, 4]
avg = 4
928774378803859457
111    [1, 7]
101    [1, 7]
111    [1, 6]
111    [1, 8]
45     [1, 3]
111    [1, 6]
Name: accept, dtype: object
[7, 7, 6, 8, 3, 6]
avg = 6
928774978442493953
614    [7]
619    [6]
637    [6]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
928782932512268288
292    [9]
293    [9]
292    [7]
293    [7]
290    [7]
291    [7]
Name: accept, dtype: object
[9, 9, 7, 7, 7, 7]
avg = 8
928787760101588992
29    [6]
43    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
928789887205208064
154    [1, hard_to_parse]
155                   [1]
159                   [4]
160                   [3]
164                   [4]
165                   [3]
Name: accept, dtype: object
[1, 1, 4, 3, 4, 3]
avg = 3
928790636655980546
147                   [1, 3]
148                   [1, 3]
137                   [1, 3]
138                   [1, 3]
147                   [1, 1]
148                   [1, 1]
147       [1, hard_to_parse]
148       [1, hard_to_parse]
147                   [1, 2]
148                   [1, 2]
119    [1, hard_to_parse, 5]
120                   [1, 5]
Name: accept, dtype: object
[3, 3, 3, 3, 1, 1, 1, 1, 2, 2, 5, 5]
avg = 2
928791224265428993
273    [8]
267    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
928792028405731328
2     [4]
13    [4]
Name: accept, dtype: object
[4, 4]
avg = 4
928794881169821696
39    [7]
53    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
928799440764203008
295    [6]
743    [6]
314    [5]
315    [6]
312    [5]
313    [6]
Name: accept, dtype: object
[6, 6, 5, 6, 5, 6]
avg = 6
928799918818390017
637    [7]
642    [4]
660    [3]
Name: accept, dtype: object
[7, 4, 3]
avg = 5
928800466754031616
176    [1, 6]
166    [1, 6]
176    [1, 8]
176    [1, 7]
176    [1, 6]
Name: accept, dtype: object
[6, 6, 8, 7, 6]
avg = 7
928802721993441280
300    [7]
320    [7]
318    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
928807929867681792
129    [2]
134    [5]
139    [7]
Name: accept, dtype: object
[2, 5, 7]
avg = 5
928808616697704448
32    [3]
46    [2]
Name: accept, dtype: object
[3, 2]
avg = 2
928812857931661314
249    [8]
0      [8]
Name: accept, dtype: object
[8, 8]
avg = 8
928813477690576896
153    [1, 8]
143    [1, 7]
153    [1, 9]
153    [1, 8]
153    [1, 9]
125       [1]
Name: accept, dtype: object
[8, 7, 9, 8, 9, 1]
avg = 7
928814787584319489
616    [3]
621    [3]
639    [2]
Name: accept, dtype: object
[3, 3, 2]
avg = 3
928818984593522688
289    [hard_to_parse, 3]
296    [hard_to_parse, 3]
26                    [1]
Name: accept, dtype: object
[3, 3, 1]
avg = 2
928822395036565504
136    [1, 5]
137    [1, 7]
126    [1, 3]
127    [1, 4]
136    [1, 7]
137    [1, 8]
136    [1, 7]
137    [1, 7]
136    [1, 5]
137    [1, 5]
108    [1, 6]
109    [1, 6]
Name: accept, dtype: object
[5, 7, 3, 4, 7, 8, 7, 7, 5, 5, 6, 6]
avg = 6
928824379462602752
719    [8]
720    [7]
759    [7]
742    [7]
Name: accept, dtype: object
[8, 7, 7, 7]
avg = 7
928826627647262723
58    [1, 3]
59    [1, 7]
48    [1, 5]
49    [1, 7]
58    [1, 2]
59    [1, 0]
58    [1, 3]
59    [1, 4]
58    [1, 3]
59    [1, 6]
Name: accept, dtype: object
[3, 7, 5, 7, 2, 0, 3, 4, 3, 6]
avg = 4
928827227608715265
0      [3]
258    [7]
9      [5]
10     [5]
Name: accept, dtype: object
[3, 7, 5, 5]
avg = 5
928831197635112960
275    [9]
276    [9]
275    [5]
276    [5]
273    [8]
274    [8]
Name: accept, dtype: object
[9, 9, 5, 5, 8, 8]
avg = 7
928838295303442432
290    [6]
290    [8]
288    [8]
Name: accept, dtype: object
[6, 8, 8]
avg = 7
928839551535026177
140    [1, 4]
130    [1, 4]
140    [1, 4]
140    [1, 7]
140    [1, 5]
112    [1, 6]
Name: accept, dtype: object
[4, 4, 4, 7, 5, 6]
avg = 5
928846713133023233
6     [6]
16    [4]
Name: accept, dtype: object
[6, 4]
avg = 5
928848375029448704
29                   [6]
34                   [6]
39    [6, hard_to_parse]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
928861609350529025
150    [2, hard_to_parse]
151    [2, hard_to_parse]
152                   [4]
155                   [5]
156                   [5]
157                   [6]
160                   [6]
161                   [6]
162                   [6]
Name: accept, dtype: object
[2, 2, 4, 5, 5, 6, 6, 6, 6]
avg = 5
928871825643147265
623    [3]
628    [3]
646    [1]
Name: accept, dtype: object
[3, 3, 1]
avg = 2
928872909900312576
97                   [1, 7]
87    [1, 6, hard_to_parse]
97                   [1, 8]
97                   [1, 7]
97                   [1, 8]
69                   [1, 7]
Name: accept, dtype: object
[7, 6, 8, 7, 8, 7]
avg = 7
928873545563811840
85    [1, 7]
86    [1, 7]
87    [1, 7]
75       [1]
76       [1]
77       [1]
85    [1, 5]
86    [1, 5]
87    [1, 5]
85       [1]
86       [1]
87       [1]
29    [1, 2]
30    [1, 2]
31    [1, 2]
85    [1, 5]
86    [1, 5]
87    [1, 5]
Name: accept, dtype: object
[7, 7, 7, 1, 1, 1, 5, 5, 5, 1, 1, 1, 2, 2, 2, 5, 5, 5]
avg = 4
928879218779402240
84    [1, 4]
85    [1, 7]
Name: accept, dtype: object
[4, 7]
avg = 6
928883737504313344
732    [7, hard_to_parse]
303                   [7]
301       [hard_to_parse]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
928885000535019520
279    [8]
278    [7]
Name: accept, dtype: object
[8, 7]
avg = 8
928886595159232512
247    [3]
287    [2]
286    [1]
289    [1]
Name: accept, dtype: object
[3, 2, 1, 1]
avg = 2
928896567599357952
276    [hard_to_parse, 7]
275                   [7]
Name: accept, dtype: object
[7, 7]
avg = 7
928896586083651585
231    [7]
261    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
928897457928462336
278    [5]
277    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
928906034688569344
92    [1, 3]
93    [1, 5]
Name: accept, dtype: object
[3, 5]
avg = 4
928908193547345920
22    [1, 2]
22    [1, 5]
22    [1, 3]
Name: accept, dtype: object
[2, 5, 3]
avg = 3
928913697921257472
278    [3]
279    [3]
278    [4]
279    [4]
276    [3]
277    [3]
Name: accept, dtype: object
[3, 3, 4, 4, 3, 3]
avg = 3
928927036189573120
117    [1, 7]
107    [1, 1]
117    [1, 3]
117    [1, 6]
51     [1, 2]
117    [1, 5]
Name: accept, dtype: object
[7, 1, 3, 6, 2, 5]
avg = 4
928940589327974400
635    [2]
640    [3]
658    [2]
Name: accept, dtype: object
[2, 3, 2]
avg = 2
928955553015062528
257                   [3]
8      [hard_to_parse, 4]
Name: accept, dtype: object
[3, 4]
avg = 4
928957542994194432
30    [7]
44    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
928957821999251456
47    [7]
52    [7]
57    [5]
Name: accept, dtype: object
[7, 7, 5]
avg = 6
928962447582617600
269    [hard_to_parse, 4]
270                   [5]
192                   [2]
193                   [2]
Name: accept, dtype: object
[4, 5, 2, 2]
avg = 3
928962700385968129
727    [6]
728    [7]
298    [5]
299    [6]
296    [5]
297    [5]
Name: accept, dtype: object
[6, 7, 5, 6, 5, 5]
avg = 6
928962950504828928
109    [1, 6]
99     [1, 2]
109    [1, 4]
109    [1, 2]
43     [1, 4]
109    [1, 1]
Name: accept, dtype: object
[6, 2, 4, 2, 4, 1]
avg = 3
928966231188824065
32    [1, 9]
22    [1, 3]
32    [1, 8]
32    [1, 6]
32    [1, 7]
13    [1, 6]
Name: accept, dtype: object
[9, 3, 8, 6, 7, 6]
avg = 6
928968567139291137
3    [1, 9]
3    [1, 8]
3    [1, 8]
3    [1, 8]
3    [1, 9]
Name: accept, dtype: object
[9, 8, 8, 8, 9]
avg = 8
928968629789642752
17    [7]
30    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
928969569263333377
142    [1, 8]
132    [1, 7]
142    [1, 8]
142    [1, 8]
64     [1, 6]
142    [1, 6]
Name: accept, dtype: object
[8, 7, 8, 8, 6, 6]
avg = 7
928972827843350529
86    [1, 3]
Name: accept, dtype: object
[3]
avg = 3
928973741169704960
130    [3]
135    [4]
140    [7]
Name: accept, dtype: object
[3, 4, 7]
avg = 5
928981262915784706
8     [6]
18    [4]
Name: accept, dtype: object
[6, 4]
avg = 5
928983406339379200
94    [1, 6]
95    [1, 7]
Name: accept, dtype: object
[6, 7]
avg = 6
928985902420029440
104    [1, 8]
105    [1, 8]
106    [1, 8]
94     [1, 8]
95     [1, 8]
96     [1, 8]
104    [1, 8]
105    [1, 8]
106    [1, 8]
104    [1, 7]
105    [1, 7]
106    [1, 7]
104    [1, 7]
105    [1, 7]
106    [1, 7]
76     [1, 6]
77     [1, 6]
78     [1, 6]
Name: accept, dtype: object
[8, 8, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 7, 7, 6, 6, 6]
avg = 7
928986965327806464
243    [4]
283    [5]
282    [1]
Name: accept, dtype: object
[4, 5, 1]
avg = 3
928988573931622403
485    [2]
486    [2]
487    [2]
488    [5]
489    [5]
490    [5]
503    [5]
504    [5]
505    [5]
Name: accept, dtype: object
[2, 2, 2, 5, 5, 5, 5, 5, 5]
avg = 4
928989065541836800
4                    [7]
14    [hard_to_parse, 8]
Name: accept, dtype: object
[7, 8]
avg = 8
928991434732027905
132    [2]
137    [7]
142    [6]
Name: accept, dtype: object
[2, 7, 6]
avg = 5
928996025057947650
330    [7]
331    [7]
350    [8]
351    [7]
348    [7]
349    [7]
Name: accept, dtype: object
[7, 7, 8, 7, 7, 7]
avg = 7
928999142126489600
28    [2]
42    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
928999716649439233
111    [1, 2]
101    [1, 5]
111    [1, 3]
111    [1, 6]
111    [1, 5]
83     [1, 3]
Name: accept, dtype: object
[2, 5, 3, 6, 5, 3]
avg = 4
929000402900615168
271                   [2]
272                   [2]
273                   [2]
271    [3, hard_to_parse]
272    [3, hard_to_parse]
273    [3, hard_to_parse]
269                   [2]
270                   [2]
271                   [2]
Name: accept, dtype: object
[2, 2, 2, 3, 3, 3, 2, 2, 2]
avg = 2
929001417041264642
128    [3]
133    [4]
138    [7]
Name: accept, dtype: object
[3, 4, 7]
avg = 5
929004134396841985
630    [6]
635    [4]
653    [4]
Name: accept, dtype: object
[6, 4, 4]
avg = 5
929007166664581120
15    [9]
25    [0]
Name: accept, dtype: object
[9, 0]
avg = 4
929010084708941825
46    [1, 9]
55    [1, 9]
55    [1, 9]
Name: accept, dtype: object
[9, 9, 9]
avg = 9
929012333514448896
627    [8]
632    [7]
650    [5]
Name: accept, dtype: object
[8, 7, 5]
avg = 7
929014473096081414
631    [5]
636    [4]
654    [3]
Name: accept, dtype: object
[5, 4, 3]
avg = 4
929015378600124418
187    [1, 9]
188    [1, 9]
187    [1, 8]
188    [1, 8]
187    [1, 7]
188    [1, 6]
187    [1, 8]
188    [1, 8]

929017760205635585
37    [3]
51    [6]
Name: accept, dtype: object
[3, 6]
avg = 4
929018528933597185
140    [7]
154    [4]
Name: accept, dtype: object
[7, 4]
avg = 6
929020088321110017
280    [5]
279    [2]
288    [1]
Name: accept, dtype: object
[5, 2, 1]
avg = 3
929020750320738304
165    [1, 4]
155    [1, 6]
165    [1, 6]
165    [1, 8]
165    [1, 7]
Name: accept, dtype: object
[4, 6, 6, 8, 7]
avg = 6
929023716067020804
56    [1, 9]
46    [1, 9]
56    [1, 0]
56    [1, 9]
57    [1, 9]
37    [1, 9]
Name: accept, dtype: object
[9, 9, 0, 9, 9, 9]
avg = 8
929027260669222913
29    [1, 7]
19    [1, 4]
29    [1, 7]
29    [1, 7]
29    [1, 6]
Name: accept, dtype: object
[7, 4, 7, 7, 6]
avg = 6
929029455082938368
56                   [1, 6]
46                   [1, 7]
56    [1, 5, hard_to_parse]
56                   [1, 4]
56                   [1, 8]
Name: accept, dtype: object
[6, 7, 5, 4, 8]
avg = 6
929029797438742533
9     [8]
19    [5]
Name: accept, dtype: object
[8, 5]
avg = 6
929034558531604482
291    [5]
291    [6]
289    [5]
Name: accept, dtype: object
[5, 6, 5]
avg = 5
929035811902730240
125    [6]
130    [5]
135    [6]
Name: accept, dtype: object
[6, 5, 6]
avg = 6
929036346219315200
737    [8]
308    [7]
306    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
929037532163063808
306    [9]
326    [7]
324    [7]
Name: accept, dtype: object
[9, 7, 7]
avg = 8
929039839504109568
136    [3]
141    [4]
146    [6]
Name: accept, dtype: object
[3, 4, 6]
avg = 4
929040462492475392
147    [4]
148    [4]
149    [4]
152    [8]
153    [8]
154    [8]
157    [8]
158    [8]
159    [8]
Name: accept, dtype: object
[4, 4, 4, 8, 8, 8, 8, 8, 8]
avg = 7
929041423705526272
141    [1, 8]
131    [1, 6]
141    [1, 7]
141    [1, 9]
141    [1, 7]
113    [1, 8]
Name: accept, dtype: object
[8, 6, 7, 9, 7, 8]
avg = 8
929047546797936640
477    [7]
478    [7]
480    [6]
481    [6]
495    [2]
496    [2]
Name: accept, dtype: object
[7, 7, 6, 6, 2, 2]
avg = 5
929049257344159746
160    [1, 8]
150    [1, 8]
160    [1, 0]
82     [1, 8]
160    [1, 7]
6      [1, 8]
6      [1, 9]
6      [1, 7]
Name: accept, dtype: object
[8, 8, 0, 8, 7, 8, 9, 7]
avg = 7
929053422132834315
54    [1, 3]
81    [1, 3]
Name: accept, dtype: object
[3, 3]
avg = 3
929053525887270912
7     [4]
17    [4]
Name: accept, dtype: object
[4, 4]
avg = 4
929054817716117509
24    [8]
38    [7]
Name: accept, dtype: object
[8, 7]
avg = 8
929055163758850048
131    [4]
136    [7]
141    [7]
Name: accept, dtype: object
[4, 7, 7]
avg = 6
929058329095110656
137    [3, hard_to_parse]
142                   [6]
147                   [6]
Name: accept, dtype: object
[3, 6, 6]
avg = 5
929058786362392576
10    [9]
20    [9]
Name: accept, dtype: object
[9, 9]
avg = 9
929062373763223552
12    [7]
22    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
929063299273998336
126    [4]
131    [4]
136    [5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
929064400966881280
11    [1, 4]
12    [1, 7]
13    [1, 4]
1        [1]
2     [1, 4]
3     [1, 1]
11    [1, 6]
12    [1, 7]
13    [1, 6]
11    [1, 2]
12    [1, 3]
13    [1, 2]
11    [1, 6]
12    [1, 6]
13    [1, 6]
Name: accept, dtype: object
[4, 7, 4, 1, 4, 1, 6, 7, 6, 2, 3, 2, 6, 6, 6]
avg = 4
929064844426469376
162                [1, 7]
152                [1, 5]
162                [1, 8]
84                 [1, 4]
162                [1, 6]
8                  [1, 5]
8                  [1, 3]
8      [1, hard_to_parse]
Name: accept, dtype: object
[7, 5, 8, 4, 6, 5, 3, 1]
avg = 5
929065301299171328
724    [2]
725    [2]
726    [2]
295    [4]
296    [4]
297    [4]
293    [5]
294    [5]
295    [5]
Name: accept, dtype: object
[2, 2, 2, 4, 4, 4, 5, 5, 5]
avg = 4
929066649696776199
122    [6]
123    [6]
127    [5]
128    [5]
132    [6]
133    [6]
Name: accept, dtype: object
[6, 6, 5, 5, 6, 6]
avg = 6
929071633901539329
13    [1, 6]
14    [1, 6]
13    [1, 7]
14    [1, 7]
13    [1, 4]
14    [1, 4]
Name: accept, dtype: object
[6, 6, 7, 7, 4, 4]
avg = 6
929072601330339841
26                   [7]
41    [7, hard_to_parse]
Name: accept, dtype: object
[7, 7]
avg = 7
929076958972874752
11    [8]
11    [9]
11    [7]
11    [7]
Name: accept, dtype: object
[8, 9, 7, 7]
avg = 8
929077496838049793
16    [7]
31    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
929078121277677568
41    [6]
54    [5]
Name: accept, dtype: object
[6, 5]
avg = 6
929080687013122048
556    [9]
566    [7]
586    [7]
Name: accept, dtype: object
[9, 7, 7]
avg = 8
929081067574833152
76    [1, 7]
Name: accept, dtype: object
[7]
avg = 7
929081819173068800
609    [7]
614    [7]
632    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
929084703302455296
161    [1, 8]
151    [1, 8]
161    [1, 9]
83     [1, 8]
161    [1, 7]
7      [1, 8]
7      [1, 9]
7      [1, 7]
Name: accept, dtype: object
[8, 8, 9, 8, 7, 8, 9, 7]
avg = 8
929086177277239296
53    [1, 6]
43    [1, 1]
53    [1, 3]
53    [1, 5]
53    [1, 2]
Name: accept, dtype: object
[6, 1, 3, 5, 2]
avg = 3
929087560873336832
618    [5]
623    [5]
641    [5]
Name: accept, dtype: object
[5, 5, 5]
avg = 5
929088028420612097
35    [2]
36    [2]
49    [2]
50    [2]
Name: accept, dtype: object
[2, 2, 2, 2]
avg = 2
929089847544963073
729    [6]
730    [7]
300    [7]
301    [7]
298    [7]
299    [6]
Name: accept, dtype: object
[6, 7, 7, 7, 7, 6]
avg = 7
929092774451990528
22    [4]
27    [5]
32    [6]
Name: accept, dtype: object
[4, 5, 6]
avg = 5
929094170081464320
133    [2]
138    [4]
143    [3]
Name: accept, dtype: object
[2, 4, 3]
avg = 3
929095421317836800
49    [1, 3]
58    [1, 4]
58    [1, 7]
Name: accept, dtype: object
[3, 4, 7]
avg = 5
929095927784239104
21                   [7]
35    [hard_to_parse, 7]
Name: accept, dtype: object
[7, 7]
avg = 7
929095937254977537
2                   [1, 5]
2    [1, 3, hard_to_parse]
2                   [1, 3]
2                   [1, 7]
2                   [1, 2]
Name: accept, dtype: object
[5, 3, 3, 7, 2]
avg = 4
929096090388905984
280    [3]
281    [3]
280    [5]
281    [5]
278    [5]
279    [5]
Name: accept, dtype: object
[3, 3, 5, 5, 5, 5]
avg = 4
929096612068048896
617    [7]
622    [4]
640    [3]
Name: accept, dtype: object
[7, 4, 3]
avg = 5
929100316678557696
19    [6]
33    [1]
Name: accept, dtype: object
[6, 1]
avg = 4
929102756379586562
90    [1, 5]
91    [1, 8]
80    [1, 1]
81    [1, 6]
90    [1, 3]
91    [1, 8]
90    [1, 2]
91    [1, 5]
90    [1, 4]
91    [1, 7]
Name: accept, dtype: object
[5, 8, 1, 6, 3, 8, 2, 5, 4, 7]
avg = 5
929104519924985856
70    [1, 5]
Name: accept, dtype: object
[5]
avg = 5
929106677831528448
425    [7]
431    [5]
443    [4]
Name: accept, dtype: object
[7, 5, 4]
avg = 5
929109853267746818
4    [1, 4]
5    [1, 4]
4    [1, 3]
5    [1, 3]
4    [1, 4]
5    [1, 4]
3    [1, 4]
4    [1, 4]
4    [1, 3]
5    [1, 3]
4    [1, 3]
5    [1, 3]
Name: accept, dtype: object
[4, 4, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3]
avg = 4
929114435561521152
620    [2]
625    [4]
643    [2]
Name: accept, dtype: object
[2, 4, 2]
avg = 3
929114611097526277
610    [6]
615    [4]
633    [3]
Name: accept, dtype: object
[6, 4, 3]
avg = 4
929118257180758016
133    [4]
147    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
929118376709853184
203    [2]
208    [8]
213    [6]
Name: accept, dtype: object
[2, 8, 6]
avg = 5
929119492642291712
291    [8]
298    [8]
28     [7]
Name: accept, dtype: object
[8, 8, 7]
avg = 8
929119727858921475
632    [7]
637    [5]
655    [4]
Name: accept, dtype: object
[7, 5, 4]
avg = 5
929120074157273088
38    [1, 8]
28    [1, 9]
38    [1, 9]
38    [1, 7]
38    [1, 8]
19    [1, 9]
Name: accept, dtype: object
[8, 9, 9, 7, 8, 9]
avg = 8
929120711985287169
137    [8]
151    [9]
Name: accept, dtype: object
[8, 9]
avg = 8
929121083940147200
558    [6]
568    [5]
588    [6]
Name: accept, dtype: object
[6, 5, 6]
avg = 6
929121181013303301
555    [0]
565    [9]
585    [8]
Name: accept, dtype: object
[0, 9, 8]
avg = 6
929123137064722433
422    [5]
730    [7]
440    [6]
Name: accept, dtype: object
[5, 7, 6]
avg = 6
929124626558529537
134    [1]
139    [3]
144    [7]
Name: accept, dtype: object
[1, 3, 7]
avg = 4
929125167833538560
116    [1, 8]
106    [1, 7]
116    [1, 9]
116    [1, 7]
50     [1, 6]
116    [1, 6]
Name: accept, dtype: object
[8, 7, 9, 7, 6, 6]
avg = 7
929126120871559168
40    [5]
55    [4]
Name: accept, dtype: object
[5, 4]
avg = 4
929132784635039745
433    [8]
436    [7]
451    [8]
Name: accept, dtype: object
[8, 7, 8]
avg = 8
929133785022697472
1    [7]
1    [5]
1    [6]
1    [6]
Name: accept, dtype: object
[7, 5, 6, 6]
avg = 6
929135892639358976
124    [4]
129    [6]
134    [5]
Name: accept, dtype: object
[4, 6, 5]
avg = 5
929137446142476288
53    [1, 6]
79    [1, 3]
80    [1, 3]
Name: accept, dtype: object
[6, 3, 3]
avg = 4
929137895004364801
43    [1, 6]
52    [1, 7]
52    [1, 5]
Name: accept, dtype: object
[6, 7, 5]
avg = 6
929138008476942336
229    [5]
259    [4]
Name: accept, dtype: object
[5, 4]
avg = 4
929138405174317058
31    [7]
45    [4]
Name: accept, dtype: object
[7, 4]
avg = 6
929145894049591296
619                   [3]
624    [2, hard_to_parse]
642                   [3]
Name: accept, dtype: object
[3, 2, 3]
avg = 3
929147724645183488
289    [8]
289    [7]
287    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
929148184604975104
18    [7]
32    [6]
Name: accept, dtype: object
[7, 6]
avg = 6
929149988730314752
151    [1, 8]
152    [1, 8]
153    [1, 8]
141    [1, 6]
142    [1, 6]
143    [1, 6]
151    [1, 7]
152    [1, 7]
153    [1, 7]
151    [1, 6]
152    [1, 6]
153    [1, 6]
73     [1, 6]
74     [1, 6]
75     [1, 6]
151    [1, 4]
152    [1, 4]
153    [1, 4]
Name: accept, dtype: object
[8, 8, 8, 6, 6, 6, 7, 7, 7, 6, 6, 6, 6, 6, 6, 4, 4, 4]
avg = 6
929150251147120640
731    [6]
302    [7]
300    [6]
Name: accept, dtype: object
[6, 7, 6]
avg = 6
929155107127808000
557    [8]
567    [8]
587    [7]
Name: accept, dtype: object
[8, 8, 7]
avg = 8
929155111766675456
240    [5]
274    [6]
Name: accept, dtype: object
[5, 6]
avg = 6
929155243178385408
423    [5]
731    [6]
441    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
929155990393462784
60    [1, 4]
50    [1, 4]
60    [1, 6]
60    [1, 3]
20    [1, 2]
60    [1, 5]
Name: accept, dtype: object
[4, 4, 6, 3, 2, 5]
avg = 4
929156151278751745
13    [8]
23    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
929158627088220160
107    [1, 4]
97     [1, 3]
107    [1, 1]
107    [1, 5]
41     [1, 4]
107    [1, 2]
Name: accept, dtype: object
[4, 3, 1, 5, 4, 2]
avg = 3
929160578421096448
77    [hard_to_parse, 5]
90                   [4]
Name: accept, dtype: object
[5, 4]
avg = 4
929164982444609536
492    [3]
495    [5]
748    [6]
Name: accept, dtype: object
[3, 5, 6]
avg = 5
929165061372956672
3     [2]
12    [2]
Name: accept, dtype: object
[2, 2]
avg = 2
929166731716841472
161    [1, 8]
151    [1, 7]
161    [1, 9]
161    [1, 9]
161    [1, 9]
Name: accept, dtype: object
[8, 7, 9, 9, 9]
avg = 8
929167562419482625
143    [6]
157    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
929167624398831618
139    [2]
144    [7]
149    [6]
Name: accept, dtype: object
[2, 7, 6]
avg = 5
929168324981768197
92                [1, 7]
82                [1, 3]
92                [1, 6]
92                [1, 4]
92    [1, hard_to_parse]
Name: accept, dtype: object
[7, 3, 6, 4, 1]
avg = 4
929171100264779776
115    [1, 6]
105    [1, 2]
115    [1, 3]
115    [1, 4]
49     [1, 6]
115    [1, 4]
Name: accept, dtype: object
[6, 2, 3, 4, 6, 4]
avg = 4
929172888640405504
38    [6]
52    [7]
Name: accept, dtype: object
[6, 7]
avg = 6
929173769884647424
739                   [7]
310                   [3]
308    [5, hard_to_parse]
Name: accept, dtype: object
[7, 3, 5]
avg = 5
929174580777721856
626                   [8]
631                   [5]
649    [3, hard_to_parse]
Name: accept, dtype: object
[8, 5, 3]
avg = 5
929174581725851649
44    [hard_to_parse, 6]
49                   [5]
54                   [3]
Name: accept, dtype: object
[6, 5, 3]
avg = 5
929175604917882880
436    [9]
439    [7]
454    [8]
Name: accept, dtype: object
[9, 7, 8]
avg = 8
929176298630647808
189                   [1, 3]
190                   [1, 3]
189                   [1, 4]
190                   [1, 4]
189    [1, 5, hard_to_parse]
190    [1, 5, hard_to_parse]
189                   [1, 3]
190                   [1, 3]
141                   [1, 3]
142                   [1, 3]
Name: accept, dtype: object
[3, 3, 4, 4, 5, 5, 3, 3, 3, 3]
avg = 4
929177421265424384
219    [2]
220    [3]
221    [2]
224    [4]
225    [4]
226    [4]
229    [3]
230    [3]
231    [3]
Name: accept, dtype: object
[2, 3, 2, 4, 4, 4, 3, 3, 3]
avg = 3
929177717332787200
192                [1, 9]
192                [1, 9]
192    [1, hard_to_parse]
192                [1, 8]
144                [1, 7]
Name: accept, dtype: object
[9, 9, 1, 8, 7]
avg = 7
929178148767502337
71    [1, 4]
61    [1, 5]
71    [1, 5]
71    [1, 6]
22    [1, 3]
71    [1, 4]
Name: accept, dtype: object
[4, 5, 5, 6, 3, 4]
avg = 4
929178315109339136
182    [1, 5]
182    [1, 4]
182    [1, 6]
182    [1, 3]
134    [1, 4]
Name: accept, dtype: object
[5, 4, 6, 3, 4]
avg = 4
929186858176786432
50    [1, 4]
40    [1, 3]
50    [1, 5]
50    [1, 5]
50    [1, 5]
31    [1, 5]
Name: accept, dtype: object
[4, 3, 5, 5, 5, 5]
avg = 4
929191978994036736
582    [3]
592    [3]
612    [2]
Name: accept, dtype: object
[3, 3, 2]
avg = 3
929194006222745601
157    [1, 4]
158    [1, 8]
147    [1, 1]
148    [1, 8]
157    [1, 3]
158    [1, 8]
79     [1, 7]
80     [1, 7]
157    [1, 6]
158    [1, 7]
3      [1, 7]
4      [1, 6]
3      [1, 3]
4      [1, 8]
3      [1, 7]
4      [1, 7]
Name: accept, dtype: object
[4, 8, 1, 8, 3, 8, 7, 7, 6, 7, 7, 6, 3, 8, 7, 7]
avg = 6
929197224369647616
37    [7]
42    [7]
47    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
929198991719399424
577    [2]
587    [3]
607    [2]
Name: accept, dtype: object
[2, 3, 2]
avg = 2
929200237737947136
100    [6]
105    [7]
110    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
929202479899795456
303    [7]
304    [8]
323    [7]
324    [7]
321    [6]
322    [7]
Name: accept, dtype: object
[7, 8, 7, 7, 6, 7]
avg = 7
929203176196239361
242    [5]
282    [4]
281    [3]
Name: accept, dtype: object
[5, 4, 3]
avg = 4
929203227102412800
414    [8]
425    [6]
432    [7]
Name: accept, dtype: object
[8, 6, 7]
avg = 7
929203566295896064
408    [8]
419    [7]
426    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
929203567495467009
581    [7]
591    [8]
611    [6]
Name: accept, dtype: object
[7, 8, 6]
avg = 7
929203980755972096
578    [3]
588    [5]
608    [3]
Name: accept, dtype: object
[3, 5, 3]
avg = 4
929204151187226624
403    [5]
414    [6]
421    [6]
Name: accept, dtype: object
[5, 6, 6]
avg = 6
929205804116217856
23    [1, 1]
23    [1, 3]
23    [1, 2]
Name: accept, dtype: object
[1, 3, 2]
avg = 2
929206558763909121
123    [5]
137    [6]
Name: accept, dtype: object
[5, 6]
avg = 6
929206739588677632
97     [1]
98     [2]
102    [1]
103    [5]
107    [2]
108    [4]
Name: accept, dtype: object
[1, 2, 1, 5, 2, 4]
avg = 2
929206781749989376
407                   [4]
418                   [4]
425    [hard_to_parse, 5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
929207633571123200
101    [1, 7]
91     [1, 7]
101       [9]
101    [1, 8]
101    [1, 7]
73     [1, 9]
Name: accept, dtype: object
[7, 7, 9, 8, 7, 9]
avg = 8
929210321755164672
599    [3]
745    [5]
622    [2]
Name: accept, dtype: object
[3, 5, 2]
avg = 3
929211478879567878
22    [1, 6]
12    [1, 3]
22    [1, 3]
22    [1, 4]
9     [1, 2]
22       [2]
Name: accept, dtype: object
[6, 3, 3, 4, 2, 2]
avg = 3
929211742609117186
7    [5]
8    [6]
7    [5]
8    [6]
7    [5]
8    [6]
7    [5]
8    [6]
Name: accept, dtype: object
[5, 6, 5, 6, 5, 6, 5, 6]
avg = 6
929213513926557696
112    [1, 9]
102    [1, 0]
112    [1, 0]
112    [1, 9]
46     [1, 9]
112    [1, 5]
Name: accept, dtype: object
[9, 0, 0, 9, 9, 5]
avg = 5
929214774050615296
589    [3]
599    [3]
753    [2]
763    [2]
Name: accept, dtype: object
[3, 3, 2, 2]
avg = 2
929216082274951168
580    [1, hard_to_parse]
590    [hard_to_parse, 1]
610                   [3]
Name: accept, dtype: object
[1, 1, 3]
avg = 2
929218212981379073
121    [8]
135    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
929220616984715264
27    [3]
40    [3]
Name: accept, dtype: object
[3, 3]
avg = 3
929220962087682048
554    [6]
564    [6]
584    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
929223483393040384
123    [1, 7]
113    [1, 7]
123    [1, 8]
123    [1, 7]
123    [1, 7]
95     [1, 7]
Name: accept, dtype: object
[7, 7, 8, 7, 7, 7]
avg = 7
929226302401466368
424    [7]
732    [7]
442    [4]
Name: accept, dtype: object
[7, 7, 4]
avg = 6
929227815173677057
236    [4]
270    [2]
Name: accept, dtype: object
[4, 2]
avg = 3
929228402749472768
141    [7]
155    [9]
Name: accept, dtype: object
[7, 9]
avg = 8
929228527869636608
79    [1, 4]
80        []
69    [1, 6]
70    [1, 5]
79    [1, 5]
80    [1, 4]
79    [1, 8]
80    [1, 8]
79    [1, 2]
80    [1, 2]
52    [1, 2]
Name: accept, dtype: object
[4, 4, 6, 5, 5, 4, 8, 8, 2, 2, 2]
avg = 5
929230825824096256
734    [6]
305    [6]
303    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
929233687312441344
28    [7]
33    [7]
38    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
929235501978083329
54    [1, 6]
44    [1, 4]
54    [1, 7]
54    [1, 5]
54    [1, 6]
Name: accept, dtype: object
[6, 4, 7, 5, 6]
avg = 6
929235620802826240
194    [1, 4]
195    [1, 4]
194    [1, 6]
195    [1, 6]
194    [1, 6]
195    [1, 6]
Name: accept, dtype: object
[4, 4, 6, 6, 6, 6]
avg = 5
929237528246288384
718    [hard_to_parse, 4]
719                   [7]
758                   [6]
741                   [7]
Name: accept, dtype: object
[4, 7, 6, 7]
avg = 6
929242653866180608
111    [3]
112    [3]
116    [6]
117    [6]
121    [6]
122    [6]
Name: accept, dtype: object
[3, 3, 6, 6, 6, 6]
avg = 5
929244709221994497
41    [hard_to_parse, 2]
42    [2, hard_to_parse]
46                   [3]
47                   [4]
51                   [5]
52                   [5]
Name: accept, dtype: object
[2, 2, 3, 4, 5, 5]
avg = 4
929251535661535233
27    [1, 4]
28    [1, 4]
17    [1, 4]
18    [1, 4]
27    [1, 6]
28    [1, 7]
27    [1, 7]
28    [1, 7]
27    [1, 6]
28    [1, 6]
Name: accept, dtype: object
[4, 4, 4, 4, 6, 7, 7, 7, 6, 6]
avg = 6
929252730975277057
298    [hard_to_parse, 1]
318                   [7]
316       [hard_to_parse]
Name: accept, dtype: object
[1, 7, 7]
avg = 5
929254132682072065
62    [1, 5]
63    [1, 5]
52    [1, 3]
53    [1, 3]
62    [1, 6]
63    [1, 6]
62    [1, 7]
63    [1, 7]
62    [1, 7]
63    [1, 7]
43    [1, 6]
44    [1, 6]
Name: accept, dtype: object
[5, 5, 3, 3, 6, 6, 7, 7, 7, 7, 6, 6]
avg = 6
929258200611872768
227    [6]
257    [1]
Name: accept, dtype: object
[6, 1]
avg = 4

929261727891406848
90     [4]
95     [5]
100    [4]
Name: accept, dtype: object
[4, 5, 4]
avg = 4
929261978417319936
84    [2]
89    [2]
94    [3]
Name: accept, dtype: object
[2, 2, 3]
avg = 2
929269864698601472
585    [3]
595    [2]
615    [1]
Name: accept, dtype: object
[3, 2, 1]
avg = 2
929270481613570048
200    [5]
230    [1]
Name: accept, dtype: object
[5, 1]
avg = 3
929273600774983680
401    [0]
412    [9]
419    [8]
Name: accept, dtype: object
[0, 9, 8]
avg = 6
929278572048478208
625    [5]
630    [3]
648    [5]
Name: accept, dtype: object
[5, 3, 5]
avg = 4
929279698491731969
94     [2]
99     [4]
104    [3]
Name: accept, dtype: object
[2, 4, 3]
avg = 3
929282634408132609
417    [9]
428    [8]
435    [8]
Name: accept, dtype: object
[9, 8, 8]
avg = 8
929289670500012032
124    [2]
138    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
929291514584412160
248    [5]
23     [3]
28     [6]
Name: accept, dtype: object
[5, 3, 6]
avg = 5
929296747104522240
574    [3]
584    [4]
604    [4]
Name: accept, dtype: object
[3, 4, 4]
avg = 4
929318875015020545
101    [4]
106    [2]
111    [6]
Name: accept, dtype: object
[4, 2, 6]
avg = 4
929319058444603392
409    [6]
420    [6]
427    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
929324087503196160
96     [1]
101    [2]
106    [3]
Name: accept, dtype: object
[1, 2, 3]
avg = 2
929324317804056576
633    [4]
634    [4]
638    [5]
639    [5]
656    [4]
657    [4]
Name: accept, dtype: object
[4, 4, 5, 5, 4, 4]
avg = 4
929327495924670470
416    [8]
427    [8]
434    [8]
Name: accept, dtype: object
[8, 8, 8]
avg = 8
929328770296745986
4    [2]
4    [3]
4    [3]
4    [2]
Name: accept, dtype: object
[2, 3, 3, 2]
avg = 2
929335200517181441
69       [8]
59    [1, 7]
69    [1, 8]
69    [1, 7]
69    [1, 8]
50    [1, 7]
Name: accept, dtype: object
[8, 7, 8, 7, 8, 7]
avg = 8
929335553358737410
576    [2]
585    [3]
606    [1]
Name: accept, dtype: object
[2, 3, 1]
avg = 2
929341608969080832
575    [1, hard_to_parse]
586                   [3]
605                   [4]
Name: accept, dtype: object
[1, 3, 4]
avg = 3
929342148947927046
17    [4]
17    [4]
17    [4]
17    [4]
Name: accept, dtype: object
[4, 4, 4, 4]
avg = 4
929343012798418945
420    [7]
769    [7]
773    [7]
438    [7]
Name: accept, dtype: object
[7, 7, 7, 7]
avg = 7
929347391911878657
175    [3]
176    [3]
205    [1]
206    [1]
Name: accept, dtype: object
[3, 3, 1, 1]
avg = 2
929348135062827008
132    [hard_to_parse, 4]
146                   [2]
Name: accept, dtype: object
[4, 2]
avg = 3
929348411618406406
50    [1, 6]
51    [1, 6]
59    [1, 6]
60    [1, 6]
59    [1, 5]
60    [1, 6]
Name: accept, dtype: object
[6, 6, 6, 6, 5, 6]
avg = 6
929348615629393920
274    [3]
274    [4]
272    [6]
Name: accept, dtype: object
[3, 4, 6]
avg = 4
929349611378151424
85    [1]
86    [1]
90    [3]
91    [3]
95    [5]
96    [5]
Name: accept, dtype: object
[1, 1, 3, 3, 5, 5]
avg = 3
929349714671259648
21    [1, 7]
11    [1, 5]
21    [1, 6]
21    [1, 5]
8     [1, 7]
21    [1, 3]
Name: accept, dtype: object
[7, 5, 6, 5, 7, 3]
avg = 6
929350024097599490
225    [6]
255    [7]
Name: accept, dtype: object
[6, 7]
avg = 6
929351960267964417
294    [hard_to_parse, 2]
294                   [7]
292                   [6]
Name: accept, dtype: object
[2, 7, 6]
avg = 5
929353605047611393
19    [6, hard_to_parse]
19                   [4]
19                   [4]
Name: accept, dtype: object
[6, 4, 4]
avg = 5
929354492281155585
93     [3]
98     [4]
103    [2]
Name: accept, dtype: object
[3, 4, 2]
avg = 3
929355895665983488
735    [5]
736    [5]
306    [5]
307    [3]
304    [7]
305    [6]
Name: accept, dtype: object
[5, 5, 5, 3, 7, 6]
avg = 5
929356489852096514
131    [7]
145    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
929357929622462467
102                [1, 5]
92                 [1, 5]
102                [1, 4]
102    [1, hard_to_parse]
102                [1, 6]
74                 [1, 5]
Name: accept, dtype: object
[5, 5, 4, 1, 6, 5]
avg = 4
929359724574924800
583                   [4]
584                   [5]
593                   [5]
594                   [6]
613    [3, hard_to_parse]
614                   [6]
Name: accept, dtype: object
[4, 5, 5, 6, 3, 6]
avg = 5
929359829491179520
590    [8]
600    [6]
754    [6]
764    [6]
Name: accept, dtype: object
[8, 6, 6, 6]
avg = 6
929360309067878400
20    [2]
34    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
929360588999970818
579    [3]
589    [4]
609    [2]
Name: accept, dtype: object
[3, 4, 2]
avg = 3
929362777042538497
301    [7]
302    [7]
321    [6]
322    [7]
319    [6]
320    [7]
Name: accept, dtype: object
[7, 7, 6, 7, 6, 7]
avg = 7
929365239778430977
36    [7]
41    [7]
46    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
929367425820262400
136    [8]
150    [6]
Name: accept, dtype: object
[8, 6]
avg = 7
929368483795734529
135    [1, 9]
125    [1, 9]
135    [1, 8]
135    [1, 7]
57     [1, 7]
135    [1, 7]
Name: accept, dtype: object
[9, 9, 8, 7, 7, 7]
avg = 8
929372423425753088
738    [8]
309    [7]
307    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
929378074419851264
139    [8]
153    [7]
Name: accept, dtype: object
[8, 7]
avg = 8
929379355456806913
122    [6]
136    [8]
Name: accept, dtype: object
[6, 8]
avg = 7
929380561705226242
47    [1, 0]
48    [1, 0]
37    [1, 9]
38    [1, 9]
47    [1, 0]
48    [1, 0]
47    [1, 8]
48    [1, 8]
47    [1, 9]
48    [1, 9]
28    [1, 9]
29    [1, 9]
Name: accept, dtype: object
[0, 0, 9, 9, 0, 0, 8, 8, 9, 9, 9, 9]
avg = 6
929384788338925568
226    [5]
256    [2]
Name: accept, dtype: object
[5, 2]
avg = 4
929386344576532480
89                   [1, 1]
79                      [2]
89                   [1, 3]
89    [1, 5, hard_to_parse]
89                   [1, 3]
61                   [1, 4]
Name: accept, dtype: object
[1, 2, 3, 5, 3, 4]
avg = 3
929388360619216897
410    [6]
421    [7]
428    [5]
Name: accept, dtype: object
[6, 7, 5]
avg = 6
929388587371716608
120    [4]
134    [7]
Name: accept, dtype: object
[4, 7]
avg = 6
929389194966896641
588    [3]
598    [4]
752    [6]
762    [6]
Name: accept, dtype: object
[3, 4, 6, 6]
avg = 5
929390439513378817
127    [2]
141    [1]
Name: accept, dtype: object
[2, 1]
avg = 2
929394497858953217
412    [7]
423    [7]
430    [8]
Name: accept, dtype: object
[7, 7, 8]
avg = 7
929396551335776264
83    [8]
88    [7]
93    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
929397558140485632
19    [1, 5]
9     [1, 5]
19    [1, 5]
19    [1, 5]
19    [1, 3]
Name: accept, dtype: object
[5, 5, 5, 5, 3]
avg = 5
929398379846819840
411    [4]
422    [3]
429    [3]
Name: accept, dtype: object
[4, 3, 3]
avg = 3
929399011219509248
88    [2]
93    [3]
98    [3]
Name: accept, dtype: object
[2, 3, 3]
avg = 3
929400122877861889
288    [3]
288    [6]
286    [2]
Name: accept, dtype: object
[3, 6, 2]
avg = 4
929400900086652928
0    [1, 7]
0    [1, 7]
0    [1, 7]
0    [1, 8]
0    [1, 5]
Name: accept, dtype: object
[7, 7, 7, 8, 5]
avg = 7
929403938872446980
418                [2]
429                [5]
436    [hard_to_parse]
Name: accept, dtype: object
[2, 5, 5]
avg = 4
929405609530753024
415    [8]
426    [7]
433    [8]
Name: accept, dtype: object
[8, 7, 8]
avg = 8
929408807154868224
83                   [1, 8]
73                   [1, 6]
83    [1, 7, hard_to_parse]
83                   [1, 6]
27                   [1, 6]
83                   [1, 6]
Name: accept, dtype: object
[8, 6, 7, 6, 6, 6]
avg = 6
929409723543072768
109    [1, 5]
99     [1, 6]
109    [1, 7]
109    [1, 7]
109    [1, 6]
81     [1, 6]
Name: accept, dtype: object
[5, 6, 7, 7, 6, 6]
avg = 6
929409835896066050
129    [8]
143    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
929415598274170882
428    [7]
734    [7]
446    [6]
Name: accept, dtype: object
[7, 7, 6]
avg = 7
929415991901204480
587    [5]
597    [4]
751    [3]
761    [4]
Name: accept, dtype: object
[5, 4, 3, 4]
avg = 4
929419753969651713
228    [5]
258    [2]
Name: accept, dtype: object
[5, 2]
avg = 4
929421447922987008
76                   [1, 5]
77                   [1, 7]
66                   [1, 7]
67                   [1, 7]
76    [1, 4, hard_to_parse]
77                   [1, 7]
76                   [1, 7]
77                   [1, 8]
76                   [1, 7]
77                   [1, 7]
Name: accept, dtype: object
[5, 7, 7, 7, 4, 7, 7, 8, 7, 7]
avg = 7
929425792202952704
100    [1, 5]
90     [1, 4]
100    [1, 2]
100    [1, 4]
34     [1, 4]
100    [1, 2]
Name: accept, dtype: object
[5, 4, 2, 4, 4, 2]
avg = 4
929427184929841152
2    [3]
2    [3]
2    [3]
2    [3]
Name: accept, dtype: object
[3, 3, 3, 3]
avg = 3
929430948982218753
41    [1, 4]
50    [1, 5]
50    [1, 4]
Name: accept, dtype: object
[4, 5, 4]
avg = 4
929432145285677056
277    [8]
277    [5]
275    [7]
Name: accept, dtype: object
[8, 5, 7]
avg = 7
929434433744199682
286    [2, hard_to_parse]
286                   [8]
284                   [6]
Name: accept, dtype: object
[2, 8, 6]
avg = 5
929438346455277569
9    [1, 4]
9    [1, 2]
9    [1, 4]
9    [1, 3]
Name: accept, dtype: object
[4, 2, 4, 3]
avg = 3
929443929753378816
30    [1, 5]
30    [1, 7]
30    [1, 6]
Name: accept, dtype: object
[5, 7, 6]
avg = 6
929447389001322502
134                   [5]
148    [hard_to_parse, 1]
Name: accept, dtype: object
[5, 1]
avg = 3
929447798013079554
14    [7]
24    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
929449514087387137
88    [1, 4]
78    [1, 1]
88    [1, 3]
88    [1, 1]
88    [1, 4]
60    [1, 2]
Name: accept, dtype: object
[4, 1, 3, 1, 4, 2]
avg = 2
929457494795214848
292    [7]
299    [7]
29     [5]
Name: accept, dtype: object
[7, 7, 5]
avg = 6
929457764987961344
20    [1, 2]
20    [1, 4]
20    [1, 6]
Name: accept, dtype: object
[2, 4, 6]
avg = 4
929459246659280896
119    [8]
133    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
929460780805877760
65                   [1, 2]
66                   [1, 2]
67                   [1, 2]
55                   [1, 4]
56                   [1, 4]
57                   [1, 4]
65                   [1, 4]
66                   [1, 4]
67                   [1, 4]
65    [1, 5, hard_to_parse]
66    [1, 5, hard_to_parse]
67    [1, 5, hard_to_parse]
65                   [1, 3]
66                   [1, 3]
67                   [1, 3]
46                   [1, 4]
47                   [1, 4]
48                   [1, 4]
Name: accept, dtype: object
[2, 2, 2, 4, 4, 4, 4, 4, 4, 5, 5, 5, 3, 3, 3, 4, 4, 4]
avg = 4
929460853090471936
400    [6]
411    [6]
418    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
929462687867785216
5     [4]
15    [1]
Name: accept, dtype: object
[4, 1]
avg = 2
929464663812669440
130    [6]
144    [3]
Name: accept, dtype: object
[6, 3]
avg = 4
929467815102357504
72    [1, 6]
62    [1, 7]
72    [1, 6]
72    [1, 7]
72    [1, 8]
Name: accept, dtype: object
[6, 7, 6, 7, 8]
avg = 7
929469420614901761
135    [5]
149    [4]
Name: accept, dtype: object
[5, 4]
avg = 4
929474566845534209
138    [6]
152    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
929477017195700224
89    [2]
94    [2]
99    [3]
Name: accept, dtype: object
[2, 2, 3]
avg = 2
929478740895133697
628    [6]
633    [6]
651    [5]
Name: accept, dtype: object
[6, 6, 5]
avg = 6
929483098936315904
128    [8]
142    [6]
Name: accept, dtype: object
[8, 6]
avg = 7
929485176878649345
125    [hard_to_parse, 6]
139                   [6]
Name: accept, dtype: object
[6, 6]
avg = 6
929487496660037632
32    [1, 3, hard_to_parse]
32                   [1, 7]
Name: accept, dtype: object
[3, 7]
avg = 5
929487634426146816
439    [7]
442    [5]
457    [6]
Name: accept, dtype: object
[7, 5, 6]
avg = 6
929490576856223745
572                   [5]
582                   [4]
602    [3, hard_to_parse]
Name: accept, dtype: object
[5, 4, 3]
avg = 4
929496755590152194
290    [7]
297    [7]
27     [2]
Name: accept, dtype: object
[7, 7, 2]
avg = 5
929501676872044544
142    [7]
156    [5]
Name: accept, dtype: object
[7, 5]
avg = 6
929506115812855809
21    [7]
26    [7]
31    [8]
Name: accept, dtype: object
[7, 7, 8]
avg = 7
929512271214080000
181    [3]
182    [4]
186    [3]
187    [3]
191    [5]
192    [7]
Name: accept, dtype: object
[3, 4, 3, 3, 5, 7]
avg = 4
929518932653944832
434    [8]
437    [7]
452    [8]
Name: accept, dtype: object
[8, 7, 8]
avg = 8
929524649075118080
586    [3]
596    [3]
616    [1]
Name: accept, dtype: object
[3, 3, 1]
avg = 2
929526975752036352
36    [1, 2]
45    [1, 2]
45    [1, 5]
Name: accept, dtype: object
[2, 2, 5]
avg = 3
929527038872051714
165    [1, 7]
155    [1, 2]
165    [1, 6]
87     [1, 5]
165    [1, 4]
11     [1, 5]
11     [1, 5]
11     [1, 5]
Name: accept, dtype: object
[7, 2, 6, 5, 4, 5, 5, 5]
avg = 5
929531651729715200
413    [5]
424    [7]
431    [6]
Name: accept, dtype: object
[5, 7, 6]
avg = 6
929544555069919234
402    [8]
413    [8]
420    [8]
Name: accept, dtype: object
[8, 8, 8]
avg = 8
929555379276496898
39    [2, hard_to_parse]
44                   [6]
49                   [7]
Name: accept, dtype: object
[2, 6, 7]
avg = 5
929568853562097665
571    [2]
581    [2]
601    [2]
Name: accept, dtype: object
[2, 2, 2]
avg = 2
929569108273844225
126    [9]
140    [1]
Name: accept, dtype: object
[9, 1]
avg = 5
929569451611103232
435    [8]
438    [4]
453    [7]
Name: accept, dtype: object
[8, 4, 7]
avg = 6
929569752296587265
99     [4]
104    [5]
109    [5]
Name: accept, dtype: object
[4, 5, 5]
avg = 5
929601668953419776
45    [1, 7]
35    [1, 9]
45    [1, 9]
45    [1, 7]
45    [1, 7]
26    [1, 8]
Name: accept, dtype: object
[7, 9, 9, 7, 7, 8]
avg = 8
929615319965900800
430    [7]
433    [3]
448    [6]
Name: accept, dtype: object
[7, 3, 6]
avg = 5
929616562436239360
87    [2]
92    [4]
97    [6]
Name: accept, dtype: object
[2, 4, 6]
avg = 4
929619419675836416
65    [1, 8]
55    [1, 5]
65    [1, 0]
65    [1, 7]
65    [1, 5]
Name: accept, dtype: object
[8, 5, 0, 7, 5]
avg = 5
929640181233221633
201    [7]
231    [8]
Name: accept, dtype: object
[7, 8]
avg = 8
929644944641404929
426    [8]
432    [7]
444    [8]
Name: accept, dtype: object
[8, 7, 8]
avg = 8
929648082895233024
438    [4, hard_to_parse]
441                   [3]
456                   [4]
Name: accept, dtype: object
[4, 3, 4]
avg = 4
929668706409390081
99    [1, 8]
89    [1, 5]
99    [1, 7]
99    [1, 7]
99    [1, 5]
Name: accept, dtype: object
[8, 5, 7, 7, 5]
avg = 6
929684224247971841
48    [9]
54    [8]
58    [8]
Name: accept, dtype: object
[9, 8, 8]
avg = 8
929718255010373632
122    [1, 5]
112    [1, 6]
122    [1, 7]
122    [1, 7]
122    [1, 4]
94     [1, 7]
Name: accept, dtype: object
[5, 6, 7, 7, 4, 7]
avg = 6
929727849715654656
177                   [1, 8]
178                   [1, 8]
179                   [1, 8]
167    [1, 3, hard_to_parse]
168    [1, 3, hard_to_parse]
169    [1, 3, hard_to_parse]
177                   [1, 7]
178                   [1, 7]
179                   [1, 7]
177                   [1, 7]
178                   [1, 7]
179                   [1, 7]
177                   [1, 7]
178                   [1, 7]
179                   [1, 7]
Name: accept, dtype: object
[8, 8, 8, 3, 3, 3, 7, 7, 7, 7, 7, 7, 7, 7, 7]
avg = 6
929750192739545088
573    [5]
583    [3]
603    [2]
Name: accept, dtype: object
[5, 3, 2]
avg = 3
929761687712002050
230    [3]
260    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
929763752370720768
91     [6]
92     [6]
96     [6]
97     [6]
101    [7]
102    [7]
Name: accept, dtype: object
[6, 6, 6, 6, 7, 7]
avg = 6
929771352877178880
437    [3]
440    [3]
455    [3]
Name: accept, dtype: object
[3, 3, 3]
avg = 3
929772294486069253
53    [1, 5]
54    [1, 5]
55    [1, 5]
43    [1, 5]
44    [1, 5]
45    [1, 5]
53    [1, 6]
54    [1, 6]
55    [1, 6]
53    [1, 6]
54    [1, 6]
55    [1, 6]
53    [1, 5]
54    [1, 5]
55    [1, 5]
34    [1, 7]
35    [1, 7]
36    [1, 7]
Name: accept, dtype: object
[5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 5, 5, 5, 7, 7, 7]
avg = 6
929772849979674624
406    [8]
417    [6]
424    [5]
Name: accept, dtype: object
[8, 6, 5]
avg = 6
929773824144424960
429    [7]
735    [7]
447    [8]
Name: accept, dtype: object
[7, 7, 8]
avg = 7
929777142384267264
432    [4]
435    [2]
450    [6]
Name: accept, dtype: object
[4, 2, 6]
avg = 4
929778056172105729
139                [1, 2]
129                [1, 3]
139                [1, 3]
139    [1, hard_to_parse]
139                [1, 2]
111                [1, 6]
Name: accept, dtype: object
[2, 3, 3, 1, 2, 6]
avg = 3
929782143219372034
70    [1, 8]
60    [1, 7]
70    [1, 0]
70    [1, 8]
21    [1, 8]
70    [1, 7]
Name: accept, dtype: object
[8, 7, 0, 8, 8, 7]
avg = 6
929783086870446080
7    [1, 8]
7    [1, 8]
7    [1, 6]
7    [1, 7]
Name: accept, dtype: object
[8, 8, 6, 7]
avg = 7
929800590691102720
591    [7]
601    [5]
755    [5]
765    [5]
768    [5]
Name: accept, dtype: object
[7, 5, 5, 5, 5]
avg = 5
929810375784239105
95     [7]
100    [6]
105    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
929814705027407873
427    [6]
733    [6]
445    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
929816090103959553
431                   [7]
434                   [6]
449    [4, hard_to_parse]
Name: accept, dtype: object
[7, 6, 4]
avg = 6
929825695496396805
421    [2]
729    [5]
439    [5]
Name: accept, dtype: object
[2, 5, 5]
avg = 4
929828438948622338
31    [8]
36    [7]
41    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
929836385640558598
570    [6]
580    [4]
600    [5]
Name: accept, dtype: object
[6, 4, 5]
avg = 5
929844685375356928
419                   [3]
430                   [4]
437    [3, hard_to_parse]
Name: accept, dtype: object
[3, 4, 3]
avg = 3
929845683691118592
169    [1, 5]
159    [1, 3]
169    [1, 7]
169    [1, 6]
169    [1, 6]
Name: accept, dtype: object
[5, 3, 7, 6, 6]
avg = 5
929872655406297088
363    [5]
374    [7]
381    [4]
Name: accept, dtype: object
[5, 7, 4]
avg = 5
929876094232047616
103    [3]
108    [6]
113    [5]
Name: accept, dtype: object
[3, 6, 5]
avg = 5
929879304124612608
118    [3]
123    [6]
128    [5]
Name: accept, dtype: object
[3, 6, 5]
avg = 5
929886883781455873
593                   [5]
603    [hard_to_parse, 3]
757                   [5]
767                   [5]
770                   [5]
Name: accept, dtype: object
[5, 3, 5, 5, 5]
avg = 5
929900341604253696
367    [2]
378    [4]
385    [3]
Name: accept, dtype: object
[2, 4, 3]
avg = 3
929915896025567234
361                   [3]
372                   [2]
379    [5, hard_to_parse]

Name: accept, dtype: object
[3, 2, 5]
avg = 3
929916715496083456
40    [1, 7]
30    [1, 7]
40    [1, 9]
40    [1, 7]
40    [1, 7]
21    [1, 7]
Name: accept, dtype: object
[7, 7, 9, 7, 7, 7]
avg = 7
929925627104387072
360                   [6]
371                   [6]
378    [7, hard_to_parse]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
929948193994850305
89    [1, 9]
79    [1, 8]
89    [1, 7]
89    [1, 8]
33    [1, 7]
89    [1, 5]
Name: accept, dtype: object
[9, 8, 7, 8, 7, 5]
avg = 7
929959313283670016
592    [3]
602    [3]
756    [3]
766    [3]
769    [3]
Name: accept, dtype: object
[3, 3, 3, 3, 3]
avg = 3
929964842747813889
47    [1, 4]
56    [1, 4]
56    [1, 3]
Name: accept, dtype: object
[4, 4, 3]
avg = 4
929965650260369408
94     [7]
108    [7]
Name: accept, dtype: object
[7, 7]
avg = 7
929972957627088896
102    [1, 8]
92     [1, 7]
102    [1, 8]
102    [1, 6]
36     [1, 6]
102    [1, 6]
Name: accept, dtype: object
[8, 7, 8, 6, 6, 6]
avg = 7
929979790186172416
92     [4]
106    [3]
Name: accept, dtype: object
[4, 3]
avg = 4
930036838592598016
107    [7]
112    [7]
117    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
930046488562069504
598    [7]
608    [8]
621    [5]
Name: accept, dtype: object
[7, 8, 5]
avg = 7
930064213460094977
109    [7]
114    [7]
119    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
930069316946587648
601    [6]
747    [6]
624    [5]
Name: accept, dtype: object
[6, 6, 5]
avg = 6
930077061628219393
606    [8]
611    [6]
629    [6]
Name: accept, dtype: object
[8, 6, 6]
avg = 7
930082362981003264
594    [6]
604    [5]
617    [3]
Name: accept, dtype: object
[6, 5, 3]
avg = 5
930084169694269440
602    [5]
748    [6]
625    [5]
Name: accept, dtype: object
[5, 6, 5]
avg = 5
930087345101164549
136    [1, 7]
126    [1, 4]
136    [1, 7]
136    [1, 6]
58     [1, 6]
136    [1, 4]
Name: accept, dtype: object
[7, 4, 7, 6, 6, 4]
avg = 6
930089762396000257
108    [3]
113    [5]
118    [3]
Name: accept, dtype: object
[3, 5, 3]
avg = 4
930096691188875264
368    [6]
379    [6]
386    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
930137244752588800
374    [3]
385    [3]
392    [3]
Name: accept, dtype: object
[3, 3, 3]
avg = 3
930143719147364352
34    [1, 8]
24    [1, 4]
34    [1, 8]
34    [1, 7]
34    [1, 5]
Name: accept, dtype: object
[8, 4, 8, 7, 5]
avg = 6
930144073209516032
21    [1, 3]
21    [1, 5]
21    [1, 5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
930145252102434816
116    [1]
121    [5]
126    [4]
Name: accept, dtype: object
[1, 5, 4]
avg = 3
930146279602249729
373    [7]
384    [7]
391    [5]
Name: accept, dtype: object
[7, 7, 5]
avg = 6
930162695650889729
604    [6]
609    [6]
627    [5]
Name: accept, dtype: object
[6, 6, 5]
avg = 6
930164621251694592
50    [8]
55    [7]
60    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
930168914553733120
597                   [7]
607    [hard_to_parse, 1]
620                   [7]
Name: accept, dtype: object
[7, 1, 7]
avg = 5
930188478121480192
45    [6]
50    [6]
55    [6]
Name: accept, dtype: object
[6, 6, 6]
avg = 6
930200691049721862
114    [6]
119    [6]
124    [7]
Name: accept, dtype: object
[6, 6, 7]
avg = 6
930205075913527298
376    [7]
387    [7]
394    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
930208116318330882
154    [1, 8]
144    [1, 8]
154    [1, 8]
76     [1, 7]
154    [1, 5]
0      [1, 6]
0      [1, 6]
0      [1, 5]
Name: accept, dtype: object
[8, 8, 8, 7, 5, 6, 6, 5]
avg = 7
930209085554921473
404    [7]
405    [7]
415    [7]
416    [7]
422    [5]
423    [5]
Name: accept, dtype: object
[7, 7, 7, 7, 5, 5]
avg = 6
930234159850762240
211    [5]
241    [2]
Name: accept, dtype: object
[5, 2]
avg = 4
930234839755841538
106    [3]
111    [6]
116    [6]
Name: accept, dtype: object
[3, 6, 6]
avg = 5
930239895259492354
135    [1, 7]
125    [1, 2]
135    [1, 5]
135    [1, 6]
135    [1, 5]
107    [1, 6]
Name: accept, dtype: object
[7, 2, 5, 6, 5, 6]
avg = 5
930241319691100160
120    [1]
125    [7]
130    [5]
Name: accept, dtype: object
[1, 7, 5]
avg = 4
930243195224682497
171    [1, 5]
161    [1, 5]
171    [1, 8]
171    [1, 7]
171    [1, 6]
130    [1, 7]
Name: accept, dtype: object
[5, 5, 8, 7, 6, 7]
avg = 6
930246438138863616
375    [6]
386    [4]
393    [6]
Name: accept, dtype: object
[6, 4, 6]
avg = 5
930256251279290368
96    [1, 4]
86    [1, 3]
96    [1, 3]
96    [1, 5]
96    [1, 2]
Name: accept, dtype: object
[4, 3, 3, 5, 2]
avg = 3
930264976459227137
596    [3]
606    [5]
619    [2]
Name: accept, dtype: object
[3, 5, 2]
avg = 3
930265173302095873
51    [1, 5]
41    [1, 6]
51    [1, 7]
51    [1, 7]
51    [1, 6]
32    [1, 6]
Name: accept, dtype: object
[5, 6, 7, 7, 6, 6]
avg = 6
930272961436835841
56    [3]
61    [5]
66    [4]
Name: accept, dtype: object
[3, 5, 4]
avg = 4
930274482735939584
595    [5]
605    [4]
618    [5]
Name: accept, dtype: object
[5, 4, 5]
avg = 5
930277484515463168
110    [4]
115    [6]
120    [7]
Name: accept, dtype: object
[4, 6, 7]
avg = 6
930282019132715008
377    [4]
388    [6]
395    [6]
Name: accept, dtype: object
[4, 6, 6]
avg = 5
930283566528942080
121    [3]
126    [5]
131    [6]
Name: accept, dtype: object
[3, 5, 6]
avg = 5
930284593151868928
370    [7]
381    [6]
388    [6]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
930290466284748800
365    [7]
376    [4]
383    [5]
Name: accept, dtype: object
[7, 4, 5]
avg = 5
930292240416731137
1    [1, 7]
1    [1, 7]
1    [1, 0]
1    [1, 7]
1    [1, 5]
1    [1, 7]
Name: accept, dtype: object
[7, 7, 0, 7, 5, 7]
avg = 6
930296216092540928
93     [0]
107    [0]
Name: accept, dtype: object
[0, 0]
avg = 0
930296692271857664
212    [8]
242    [8]
Name: accept, dtype: object
[8, 8]
avg = 8
930298315379564544
213    [3]
243    [1]
Name: accept, dtype: object
[3, 1]
avg = 2
930301336788324352
113    [7]
118    [6]
123    [7]
Name: accept, dtype: object
[7, 6, 7]
avg = 7
930308610256551936
87     [7]
101    [3]
Name: accept, dtype: object
[7, 3]
avg = 5
930321767670976514
378    [4]
389    [6]
396    [6]
Name: accept, dtype: object
[4, 6, 6]
avg = 5
930326299738103809
364    [7]
375    [7]
382    [6]
Name: accept, dtype: object
[7, 7, 6]
avg = 7
930327872790769664
66    [1, 8]
56    [1, 6]
66    [1, 8]
66    [1, 7]
66    [1, 6]
Name: accept, dtype: object
[8, 6, 8, 7, 6]
avg = 7
930329269921812480
37    [1, 8]
37    [1, 7]
Name: accept, dtype: object
[8, 7]
avg = 8
930344863694049280
125    [1, 7]
115    [1, 3]
125    [1, 3]
125    [1, 6]
125    [1, 3]
Name: accept, dtype: object
[7, 3, 3, 6, 3]
avg = 4
930345872751292416
90     [7]
104    [3]
Name: accept, dtype: object
[7, 3]
avg = 5
930346596902096896
372    [8]
383    [6]
390    [6]
Name: accept, dtype: object
[8, 6, 6]
avg = 7
930347938173333504
15    [1, 5]
15    [1, 7]
15    [1, 7]
Name: accept, dtype: object
[5, 7, 7]
avg = 6
930356249484582912
605    [4]
610    [4]
628    [5]
Name: accept, dtype: object
[4, 4, 5]
avg = 4
930356784635793408
362    [6]
373    [7]
380    [7]
Name: accept, dtype: object
[6, 7, 7]
avg = 7
930357040299601921
371    [6]
382    [6]
389    [5]
Name: accept, dtype: object
[6, 6, 5]
avg = 6
930362770733776896
210    [5]
240    [2]
Name: accept, dtype: object
[5, 2]
avg = 4
930372853932941312
49    [hard_to_parse, 2]
53                   [6]
59                   [6]
Name: accept, dtype: object
[2, 6, 6]
avg = 5
930375137307881473
52    [1, 6]
42    [1, 3]
52    [1, 4]
52    [1, 5]
52    [1, 5]
Name: accept, dtype: object
[6, 3, 4, 5, 5]
avg = 5
930388365752655872
369    [9]
380    [8]
387    [7]
Name: accept, dtype: object
[9, 8, 7]
avg = 8
930389662786400256
88     [6]
102    [7]
Name: accept, dtype: object
[6, 7]
avg = 6
930393536708485120
28    [1, 4]
29    [1, 4]
30    [1, 4]
18       [1]
19       [1]
20       [1]
28    [1, 2]
29    [1, 2]
30    [1, 2]
28    [1, 2]
29    [1, 2]
30    [1, 2]
15    [1, 1]
16    [1, 1]
17    [1, 1]
28    [1, 1]
29    [1, 1]
30    [1, 1]
Name: accept, dtype: object
[4, 4, 4, 1, 1, 1, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
avg = 2
930395179642650624
104    [1]
109    [2]
114    [2]
Name: accept, dtype: object
[1, 2, 2]
avg = 2
930400921514897408
366    [7]
377    [7]
384    [7]
Name: accept, dtype: object
[7, 7, 7]
avg = 7
930412161826021377
359    [8]
370    [7]
377    [7]
Name: accept, dtype: object
[8, 7, 7]
avg = 7
930413432041558017
52    [1, 6]
61    [1, 7]
61    [1, 4]
Name: accept, dtype: object
[6, 7, 4]
avg = 6
930417278763532290
119    [7]
124    [6]
129    [6]
Name: accept, dtype: object
[7, 6, 6]
avg = 6
930420563050401797
10    [1, 7]
0     [1, 4]
10    [1, 8]
10    [1, 5]
10    [1, 5]
Name: accept, dtype: object
[7, 4, 8, 5, 5]
avg = 6
930420611612139520
117    [3]
122    [5]
127    [5]
Name: accept, dtype: object
[3, 5, 5]
avg = 4
930421774398951424
214    [5]
244    [7]
Name: accept, dtype: object
[5, 7]
avg = 6
930427262599663618
75    [1, 9]
65    [1, 8]
75    [1, 8]
75    [1, 8]
75    [1, 7]
Name: accept, dtype: object
[9, 8, 8, 8, 7]
avg = 8
930431946487984129
87                [1, 5]
77                [1, 4]
87                [1, 4]
87    [1, hard_to_parse]
87                [1, 5]
59                [1, 5]
Name: accept, dtype: object
[5, 4, 4, 1, 5, 5]
avg = 4
930434541533192192
49    [1, 8]
39    [1, 9]
49    [1, 0]
49    [1, 8]
49    [1, 9]
30    [1, 8]
Name: accept, dtype: object
[8, 9, 0, 8, 9, 8]
avg = 7
930438239596445696
89     [6]
103    [6]
Name: accept, dtype: object
[6, 6]
avg = 6
930448469113954306
166    [1, 9]
156    [1, 7]
166    [1, 9]
88     [1, 7]
166    [1, 7]
12     [1, 7]
12     [1, 9]
12     [1, 7]
Name: accept, dtype: object
[9, 7, 9, 7, 7, 7, 9, 7]
avg = 8
930451668155752448
102    [4]
107    [6]
112    [7]
Name: accept, dtype: object
[4, 6, 7]
avg = 6
930454427630297089
91     [hard_to_parse, 1]
105    [hard_to_parse, 1]
Name: accept, dtype: object
[1, 1]
avg = 1
930464896269078530
608                   [7]
613    [hard_to_parse, 5]
631    [3, hard_to_parse]
Name: accept, dtype: object
[7, 5, 3]
avg = 5
930473916639916033
186    [1, 7]
186    [1, 9]
186    [1, 7]
186    [1, 7]
138    [1, 5]
Name: accept, dtype: object
[7, 9, 7, 7, 5]
avg = 7
930492505849827328
607    [3]
612    [3]
630    [3]
Name: accept, dtype: object
[3, 3, 3]
avg = 3
930498621459566592
44    [1, 9]
34    [1, 7]
44    [1, 8]
44    [1, 7]
44    [1, 7]
Name: accept, dtype: object
[9, 7, 8, 7, 7]
avg = 8
930519051985702912
105    [4]
110    [5]
115    [6]
Name: accept, dtype: object
[4, 5, 6]
avg = 5
930542203503509504
115    [3]
120    [3]
125    [4]
Name: accept, dtype: object
[3, 3, 4]
avg = 3
930561250232274944
600    [1, hard_to_parse]
746                   [5]
623                   [2]
Name: accept, dtype: object
[1, 5, 2]
avg = 3
930568409062035457
112    [1, 6]
102    [1, 8]
112    [1, 8]
112    [1, 8]
112    [1, 7]
84     [1, 7]
Name: accept, dtype: object
[6, 8, 8, 8, 7, 7]
avg = 7
930584063412285440
603    [4]
749    [5]
626    [4]
Name: accept, dtype: object
[4, 5, 4]
avg = 4

#### save the cleaned version

In [133]:
mean_severity_df = pd.DataFrame(rows)
mean_severity_df[mean_severity_df["round"]=="r4"]
mean_severity_df.to_csv("mean_severity.csv", index=False)

In [138]:
mean_severity_df

,tweet_id,round,text,rounded_avg_severity
0,916015738175082496,r4,The -JOHN DOE- story is an upsetting exclamati...,5
1,916025460156518401,r4,Stories about -JOHN DOE- reportedly circulated...,5
2,916037936516337665,r4,My personal hell will be watching -JOHN DOE- a...,5
3,916044166596935680,r4,Now -JOHN DOE- will be known as inmate 32666.,7
4,916055010240270337,r4,-JOHN DOE- is fucking disgusting. Oh how the m...,7
...,...,...,...,...
1288,930519051985702912,r4,Thought we all knew tht -JOHN DOE- is a narcis...,5
1289,930542203503509504,r4,Kinda shocked that I’m hearing everything I’m ...,3
1290,930561250232274944,r4,The last line of the first song off their last...,3
1291,930568409062035457,r1,Hey when I was 15 someone from a semi-relevant...,7
1292,930584063412285440,r4,i mean so in light of the brand new/-JOHN DOE-...,4

In [137]:
df = pd.read_csv("mean_severity.csv")
df.groupby("rounded_avg_severity").count()

                      tweet_id  round  text
rounded_avg_severity
0                            2      2     2
1                            9      9     9
2                          114    114   114
3                          168    168   168
4                          252    252   252
5                          223    223   223
6                          266    266   266
7                          175    175   175
8                           82     82    82
9                            2      2     2

#### Creating train/test splits

In [141]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit
data_dir = "severity_dataset_loading_script/"
file_name = "mean_severity.csv"
def create_train_test(data_dir, file_name):
    file_path = os.path.join(data_dir, file_name )
    ds_df = pd.read_csv(file_path)
    sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=0)
    sss.get_n_splits(ds_df, ds_df["rounded_avg_severity"])
    print(sss)
#     print(ds_df)
    for train_index, test_index in sss.split(ds_df, ds_df["rounded_avg_severity"]):
        print(train_index)
        train_df= ds_df.iloc[train_index,:]
        test_df= ds_df.iloc[test_index,:]

#         test_df = ds_df[test_index]
    return train_df, test_df
train_df, test_df = create_train_test(data_dir, file_name)

StratifiedShuffleSplit(n_splits=1, random_state=0, test_size=0.2,
            train_size=None)
[ 522  328 1150 ...  966 1122  479]

In [144]:
sum(train_df.rounded_avg_severity == 5)/len(train_df.rounded_avg_severity)

0.172147001934236

In [146]:
sum(test_df.rounded_avg_severity == 5)/len(test_df.rounded_avg_severity)

0.17374517374517376

In [148]:
ARE_U_SURE = False
if ARE_U_SURE:
    train_df.to_csv("severity_dataset_loading_script/severity_train.csv", index=False)
    test_df.to_csv("severity_dataset_loading_script/severity_test.csv", index=False)
else:
    print("This will regenerate the test set! are you sure?")

This will regenerate the test set! are you sure?

-----------------------------------

# plan to clean
- [ ] go over rounds, on each round collect all items
- [ ] take majority vote (look into the paper and see what the did)
- [ ] based on tweet id, extract text, maj_vote, tweet_id